[2018-10-16 06:19] mojavelinux commented on #188
Aha! I figured it out. The behavior you observed was caused by a regression in Asciidoctor 1.5.6.2 (https://github.com/asciidoctor/asciidoctor/issues/2382), which has since been fixed.

I tried it with Asciidoctor 1.5.6.2 and I was able to reproduce your problem. I then upgraded to Asciidoctor 1.5.7.1 and verified that it solves the problem. Can you upgrade to Asciidoctor 1.5.7.1 and retest?

[2018-10-16 06:36] habamax commented on #188
@mojavelinux yep, with the 1.5.7.1 version this is fixed.
Thx!

[2018-10-16 06:36] #188 closed

[2018-10-16 06:55] mojavelinux commented on #67
My comment is going to take two paths.

First path: It's important to understand that the RPM isn't built from the published gem. Instead, it's built from source. Think of the RPM as a separate deployment of the gem using the same source. That's why I pointed to https://github.com/asciidoctor/asciidoctor-diagram-java. It's not that you'd use that independently. But often times the packaging group

[2018-10-16 06:57] mojavelinux commented on #188
:tada: :tada: :tada:

Thanks for testing, @habamax. Onwards!

[2018-10-17 07:15] mojavelinux commented on #67
This is a change from when I first made the RPM package for Asciidoctor. Though I still think the spirit of my point is accurate. While gem2rpm may grab the gem from rubygems.org, it's only doing so to get at the source code, which it then repackages. In other words, the RPM doesn't bundle the gem as is. It extracts it and takes files out of it. And that is where patches can (and this case, must b

[2018-10-17 12:03] jackorp commented on #67
Yes, the gem gets pulled in as both archive that has the code and also, the gemspec has most of information necessary for stuff like "Authors" or "License".

As I mentioned, current state is not ideal but also not impossible to package. It would be easier with suggestions you made e.g. a constant.

[2018-10-25 05:44] jagedn commented on #183
Hi

I'm playing with the idea and I've started a prototype that you can see in action at http://adoc-diagram.puravida-software.com:8080

This server accepts `GET` request following the pattern `/diagram/{diagram-type}/{data64}` and by the moment only generate a `png` image as response where:

- diagram-type can be `ditaa` or `plantuml` (no tested others)
- data64 is the body of the block

The back

[2018-10-25 06:01] mojavelinux commented on #183
To be compatible with the PlantUML HTTP API, perhaps consider `/diagram/{type}/{format}/{data64}` even if you only support `png` at the moment.

[2018-10-25 13:16] jagedn commented on #183
good idea.

Also I moved the app to the port 80 ( http://adoc-diagram.puravida-software.com )

I was trying to include as many types I can but some of them are difficult to include, so by the moment the app can work with:

- ditaa
- graphviz
- plantuml
- nwdiag

I've created a docker version in case someone want to run it without the server at 'pvidasoftware/adoc-diagram'

[2018-10-26 07:15] mojavelinux commented on #182
Since it's a well-defined location that's generally accepted as read/write, I think it's fine in this case. But if we want to be absolutely strict, then we'd have to require the use of unsafe mode. But seeing that no other program imposes that kind of requirement, I think that would be overkill.

I think we can continue doing that. We're really just talking about where the base directory is, so th

[2018-10-29 03:32] mojavelinux commented on #137
I'm always a fan of making things more lightweight. I wouldn't worry about hyper-optimizing it, but if the effort is low for some big gains, I'd say it's worth doing.

[2018-10-29 08:39] pepijnve commented on #137
Probably best to deal with this kind of stuff upstream. Basically what should happen is https://github.com/plantuml/plantuml/pull/94 Unlikely that will ever happen though.

I'm going to close this issue since in light of #67 it's probably best to just stick with vanilla upstream PlantUML.

[2018-10-29 08:39] #137 closed

[2018-10-29 08:56] mojavelinux commented on #137
Thanks for following up. I trust your decision on this. What's most important is that we arrived at a decision.

[2018-10-31 11:26] oddhack opened #198 "Can't use asciidoctor -o option in nonlocal directory with ditaa diagram and :data-uri:"
(This may be related to #110)

Asciidoctor 1.5.8, asciidoctor-diagram 1.5.10

If the :data-uri: attribute is set, a ditaa diagram is included (see attachment), and the asciidoctor invocation includes -o someotherpath/file.html, I see the following error:

and indeed, there is no 'diagram.png' in the invocation directory. There is one in the 'out/' directory left over after execution, but it's not

[2018-10-31 11:29] oddhack commented on #198
Arggh, cannot attach a .adoc. Trying as a .txt:
[test.txt](https://github.com/asciidoctor/asciidoctor-diagram/files/2534065/test.txt)

[2018-10-31 19:50] mojavelinux commented on #198
Asciidoctor Diagram tries to infer the output location for images based on the `imagesdir` attribute and `-o` option. If you want to be explicit, just set the `imagesoutdir` attribute explicitly.

Since you are embedding the images, then both `imagesdir` and `imagesoutdir` should resolve to system paths. The surest way to make it work is to set them to absolute paths.

[2018-11-01 13:40] oddhack commented on #198
@mojavelinux thanks. This helps with the original problem - but now the problem I've got is inlining a regular image also included in the actual document. If I also have an image::images/file.png[] directive in the document, and specify the imagesdir and imagesoutdir attributes to be the target output directory as well as in the -o option, then the generated ditaa image is inlined; but now it can'

[2018-11-02 09:16] oddhack commented on #198
I'm really confused now about the relationship between these variables and the different ways of getting images, after trying many combinations of imagesdir and imagesoutdir. Suppose I have the following document:

[code]
and a static file, images/OpenVX.png .

Suppose I desire to get an output document in $cwd/out/index.html (via '-o out/index.html').

How can I specify imagesdir and imagesoutdir

[2018-11-02 09:30] oddhack commented on #198
Ah, I see that setting imagesdir=$cwd, imagesoutdir=$cwd works - but leaves the dynamically generated diagram.png behind in $cwd. Also I have no idea why this appears to work when specifying imagesoutdir=$cwd/out does not.

[2018-11-02 10:11] mojavelinux commented on #198
There are limits to the scenarios the current model can handle. You're hitting those limits, particularly because you are using data-uri. We're trying to use a single attribute (imagesdir) to handle entirely too many concerns. Asciidoctor Diagram helps a little bit by supporting imagesoutdir (which defaults to the directory used by `-o`), but that still doesn't necessarily address all the scenario

[2018-11-02 10:13] pepijnve commented on #198
@mojavelinux at the moment diagram passes the path to the image implicitly to asciidoctor via the target attribute of the generated node. I can change this so that an absolute path is passed instead; that would remove the ambiguity. Just not sure if this might break other scenarios. Is `AbstractNode#image_uri` clever enough to relativize the image path again for the HTML output?

[2018-11-02 10:16] pepijnve commented on #198
Just tested this and it doesn't do that. I can generate absolute vs relative paths in target based on the presence of the `data-url` attribute. That would definitely make this particular case simpler.

A more robust alternative would be to have an extra node attribute besides `target` that specifies the exact local location of the image. Asciidoctor could then use that as an optional hint when try

[2018-11-02 10:19] mojavelinux commented on #198
If `data-uri` is set, when comes back is a data uri, so the path dissolves away. However, if `data-uri` is not set, it will use the path as provided.

That's great news.

Exactly what I was thinking in terms of the redesign in core. We're trying to store too much information in a single value.

[2018-11-02 10:20] pepijnve commented on #198
99d195d706378fe4296463195285ff1e0b3b5410 does the absolute path thing based on the `data-uri` attribute. That should simply things in the short term.

[2018-11-02 10:21] mojavelinux commented on #198
Thanks @pepijnve!!

[2018-11-02 10:58] oddhack commented on #198
This is all going over my head but I'm glad you're making some progress :-) In the meantime, ISTM my only option is to find a combination of attributes which works, and clean up manually by moving files around after the build is complete?

Maybe it would be helpful to document some common usage scenarios involving these variables?

[2018-11-02 11:05] pepijnve commented on #198
@oddhack in short the way `asciidoctor-diagram` and `asciidoctor` talk to each other is kind of fragile. Everything needs to be exactly right in order for things to work correctly; in particular when `data-uri` is used. I've made a small change to `asciidoctor-diagram` that will make this simpler to use. I'll get that released asap.

What @mojavelinux and I were discussing is a longer term fix tha

[2018-11-02 11:14] pepijnve commented on #198
@oddhack could you give 1.5.11 a try and see if things work better now?

[2018-11-02 11:55] oddhack commented on #198
@pepijnve the imbedding works now without needing to set either imagesdir or imagesoutdir, and the generated image is in the outdir specified with -o, which is exactly what I was trying to do. Thank you very much!

[2018-11-02 12:11] #198 closed

[2018-11-04 09:16] mojavelinux commented on #198
@oddhack I'm so happy to hear that! :tada:

I'm going to note down the ideas we had here and take it up as a task to improve core so we can make this integration more solid.

Do you think there's anything worth adding to the docs in the meantime?

[2018-11-04 10:40] oddhack commented on #198
@mojavelinux TL;DR not at present.

Prior to the 1.5.11 update, I would have said that the "Image Output Location" section needed to be rewritten - but now, I'm hoping that things Just Work As Described. I did a brief re-check with my trivial sample and various combinations of imagesoutdir / imagesdir, and it does seem consistent with that description.

[2018-11-05 11:10] gardenias opened #200 "How to use this library in guard livereload script"
Guardfile content
[code]

but the diagram blocks convert incorrectly.

give me a favor pls,  thanks a lot

[2018-11-05 11:39] mojavelinux commented on #200
This issue is a duplicate of https://github.com/asciidoctor/guard-asciidoc/issues/9. Since it pertains to the guard plugin, and not this library directly, I'm closing this one.

[2018-11-05 11:39] #200 closed

[2018-11-06 07:03] brtjdcole opened #201 "Diagrams in tables don't respect --destination-dir."
Compare the locations of graphviz_test and graphviz_test2 in the following doc rendered with `asciidoctor -r asciidoctor-diagram test.adoc --destination-dir /tmp/out`. The diagram outside the table will land in /tmp/out the diagram inside will land in the source directory.

asciidoctor (1.5.8)
asciidoctor-diagram (1.5.11)

[code]

[2018-11-07 19:50] pepijnve commented on #201
Issue resolved?

[2018-11-08 00:45] mojavelinux commented on #201
I tested this scenario and it works for me.

[2018-11-08 01:02] brtjdcole commented on #201
Same versions?

[2018-11-08 01:11] mojavelinux commented on #201
Ooops, my mistake. I wasn't testing with the right flags.

Yes, the diagram in the table doesn't respect the destination directory. It ends up in the current directory instead.

If I specify `imagesoutdir` explicitly, then it works.

@pepijnve I think the problem is that the options doesn't get inherited to the nested document (for the AsciiDoc table cell). If `document.nested?` is true, then you

[2018-11-08 01:12] mojavelinux commented on #201
It would need to be here: https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/document.rb#L255

[2018-11-08 10:14] pepijnve commented on #201
Nested documents? That's a new concept for me. Didn't realise those even existed 😄
I'll get this sorted out asap.

[2018-11-08 11:34] mojavelinux commented on #201
Yep. An AsciiDoc table cell gets it's own document object. See https://github.com/asciidoctor/asciidoctor/blob/b853f5264c4fd452c8319e853268a8d353532140/lib/asciidoctor/table.rb#L289-L308

[2018-11-08 12:38] pepijnve commented on #201
Going off on a tangent a bit, but what's the reason for this? Does a table need to have its own context for numbering, xrefs, etc?

[2018-11-12 18:42] amontgom opened #202 "Failed to generate Graphviz image"
Hey,

I'm trying to convert some AsciiDoctor code to HTML using the command line on Windows 10. The command I use is this:

On this AsciiDoc code:

[code]

And the result I get is this:

I have gem installed asciidoctor-1.5.8, asciidoctor-diagram-1.5.11, graphviz-1.1.0, and dot-0.1.0. The weird thing is on AsciidocFX it comes out just fine, producing the images clearly and cleanly, but unfortunate

[2018-11-13 08:04] pepijnve commented on #202
The diagram extension is picking up `dot` from `C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/dot-0.1.0/bin/dot`. That's a binary from [the dot gem](https://github.com/jakesandlund/dot), not the graphviz binary.
There are two ways you can resolve this:

- Modify your `PATH` environment variable so that the graphviz installation directory comes before the ruby gems binary directory. The diagram extension

[2018-11-13 15:06] amontgom commented on #202
Accidentally closed the issue -- please ignore the above.

Thank you for your response, pepijnve. Unfortunately, neither of these worked. I modified the Path with both C:\Ruby25-x64\lib\ruby\gems\2.5.0\gems\graphviz-1.1.0\lib\graphviz.rb and C:\Ruby25-x64\lib\ruby\gems\2.5.0\gems\graphviz-1.1.0\lib, in sequence, and got the same error in both cases. Here is my current path:

I also tried the secon

[2018-11-13 17:03] pepijnve commented on #202
You need to point to the `dot` executable of graphviz itself.
`C:\Ruby25-x64\lib\ruby\gems\2.5.0\gems\dot-0.1.0\bin\dot` will definitely not work; that's something completely different.
`C:\Ruby25-x64\lib\ruby\gems\2.5.0\gems\graphviz-1.1.0\lib\graphviz.rb` won't work either, that's part of a graphviz related ruby gem.
Unfortunately I can't be more specific than this; I don't know where you instal

[2018-11-13 18:42] amontgom commented on #202
Thank you for clearing that up. The dot executable was indeed where you suggested, in C:\Program Files (x86)\Graphviz2.38\bin. Unfortunately, using the command

results in

It is necessary to use "dot.exe" instead. However, when using dot.exe, the result is an error:

When traced, this is the full error:

Looking at the parser, it looks like it doesn't like the dot.exe? I'm not sure how to resolve

[2018-11-13 19:16] pepijnve commented on #202
🤦‍♂️ my bad. That needs to be `-a key=value` so `-a graphvizdot="C:\Program Files (x86)\Graphviz2.38\bin\dot.exe"`

[2018-11-13 20:34] amontgom commented on #202
That worked perfectly, thanks!

[2018-11-18 21:31] #201 closed

[2018-11-18 21:47] pepijnve commented on #168
I haven't tried this yet, but I would expect the standard asciidoc image scaling to work. Any block attributes that are not consumed by the diagram extension are copied over to the resulting image block verbatim. Have you tried the scaling options described at https://asciidoctor.org/docs/user-manual/#scaledwidth already?

[2018-11-18 22:05] pepijnve commented on #195
At the moment I think you'll need to extract the shared bits to a separate file and then include that from the two separate diagrams where you make use of the shared parts. There's a pretty strong assumption in the code at the moment that only a single image will be generated per diagram block.

In theory it's possible to support this and even generate an asciidoc page break where the `newpage` is

[2018-11-18 23:39] pela9 commented on #168
Yes, this works! I had missed that the image attributes are passed. Sorry for bothering you with this.

[2018-11-18 23:39] #168 closed

[2018-11-19 07:45] pepijnve commented on #168
No bother at all. Glad to hear this worked for you.

[2018-11-21 17:01] mojavelinux commented on #201
The reason is historical. AsciiDoc Python invokes a subprocess to convert an AsciiDoc table cell. Asciidoctor improved on this by making it a subdocument instead. Changing that assumption now would be very difficult. We'd likely need to introduce a new table style if we wanted to have just normal block-level processing.

These get inherited (see https://github.com/asciidoctor/asciidoctor/blob/mast

[2018-11-30 17:01] amontgom commented on #202
Hey,

I've been having an odd problem. Two weeks ago when I closed this issue, the code was working fine; I was able to use the command:

`asciidoctor -a graphvizdot="C:\Program Files (x86)\Graphviz2.38\bin\dot.exe" -r asciidoctor-diagram UserDoc.adoc`

to create an HTML from some AsciiDoctor code, along with some nice graphs. Now, when I am trying to run the command on the code:

[code]

the resu

[2018-11-30 18:31] mojavelinux commented on #202
Could it be that the editor is changing the endlines to `\r`?

[2018-11-30 18:39] amontgom commented on #202
That does seem to have been the problem, and it had an easy, non-AsciiDoctor-related fix. Thank you very much!

[2018-11-30 18:39] #202 closed

[2018-12-06 13:12] matsev opened #203 "Update batik dependency"
The `batik-all-1.7.jar` has several known security vulnerabilities and should be updated. Latest version is currently [1.10](https://mvnrepository.com/artifact/org.apache.xmlgraphics/batik-all).

Ref: [NIST National Vulnerability Database](https://nvd.nist.gov/view/vuln/search-results?adv_search=true&cves=on&cpe_version=cpe%3A%2Fa%3Aapache%3Abatik%3A1.7)

[2018-12-06 20:59] pepijnve commented on #203
Thanks for the notification. PlantUML seems to still depend on 1.7, but from what I've been able to test it works fine with 1.10.

[2018-12-06 20:59] #203 closed

[2018-12-18 15:53] bcouetil opened #204 "PlantUML custom skin throws an exception on salt diagrams"
Hello,

First of all, thank you for the good work on this project ! Using it on a daily basis as part of my documentation.

I use a custom skin on my plantUML diagrams, using the `plantumlconfig` parameter to inject it. This works nicely, except when there is also a Salt GUI mockup somewhere, then it throws an exception :

`java.lang.IllegalArgumentException
        at net.sourceforge.plantuml.sal

[2018-12-18 15:56] pepijnve commented on #204
Could you provide a small example document that I can use to reproduce this problem?

[2018-12-18 16:22] bcouetil commented on #204
Preparing a use case, I found something interesting.

This works flawlessly, pasting the skinparam stuff inline before `@startsalt` :

[code]

But separating in config and adoc files throws an exception :

**plantuml.cfg**

[code]

**test.adoc**

[code]

[2018-12-19 07:34] pepijnve commented on #204
This looks like a plantuml bug to me. I saved your config file and plantuml to files and ran plantuml from the command line. Results in the same error (using PlantUML 1.2018.13). Probably best to report this in the plantuml project issue tracker.

[code]

[2018-12-19 09:05] bcouetil commented on #204
Thank you for your lightning fast responses.

Indeed PlantUML should behave better in case of wrong data in header file, but this is not exactly a PlantUML problem : we are feeding parameters that are for core plantUML diagrams to salt, that is offered to users by PlantUML, but that has nothing in common.

I understand that not feeding the skin file to `[plantuml]` blocks in case of salt syntax ma

[2018-12-19 09:10] pepijnve commented on #204
That will actually already work. `plantumlconfig` is a backwards compatibility key for older versions of the diagram extension. If you change that to `plantuml-config` it will only get picked up by `plantuml` blocks. Likewise `salt-config` will only get picked up by `salt` blocks.

[2018-12-19 13:46] bcouetil commented on #204
This works great with plantuml-config ! thanks !

Did not know for the block's config part, something like `[plantuml, png, config=./config/my-file.cfg]` ?

[2018-12-19 13:51] pepijnve commented on #204
exactly. There's [a section in the README](url
https://github.com/asciidoctor/asciidoctor-diagram#diagram-attributes) that describes the various attributes that each block type supports.

[2018-12-22 13:47] bcouetil opened #205 "[meme] 'identify failed : <width>' on Gitlab CI"
Hello,

I've been trying the meme extension, working great on my Windows system.

But I've a problem when generating in my gitlab CI pipeline :
`asciidoctor-diagram: ERROR: Failed to generate image: identify failed: 1920`

1920 happens to be the width of my image.

I'm installing ImageMagick using :
`$ apt-get update -qq && apt-get install -qq --assume-yes imagemagick`

I found this piece of code

[2018-12-22 16:59] pepijnve commented on #205
The code runs that command and then checks the exit code. It experts it to return 0. If that’s not the case the command is considered to have failed and the output is printed. I think that’s what you’re seeing. No idea why `identify` is returning an error exit code. I’ll have to reread the man pages.

[2019-01-03 13:45] Mogztter commented on #183
@jagedn Nice, is the code available on GitHub ?

[2019-01-03 19:50] Mogztter opened #206 "Introduce a convert method that does not rely on an Asciidoctor::Document object"
I think we should introduce a `convert` method with the following signature:

[code]

Arguably the `format` could be an argument.
Once we have integrated this method into the code, it should be easier to add a server: https://github.com/asciidoctor/asciidoctor-diagram/issues/183

[2019-01-06 11:18] pepijnve commented on #206
@Mogztter sorry for the delay in response. I haven't been able to keep up with my projects during the christmas holidays.

Thanks for the offer to help out with this, that's greatly appreciated. The main refactoring I had in mind myself was to try to decouple the image conversion logic itself from the Asciidoctor API so that it could be reused in a service context as well. I had some vague ideas a

[2019-01-06 18:10] Mogztter commented on #206
No worries, happy new year by the way 🎉

That's what I had in mind.
I've also been thinking a lot about the "diagram server". At first I thought about using a Java with Jython and/or GraalVM to create a Polyglot application. I thought it would be easy to integrate with BlockDiag (Python) and Mermaid (JavaScript) but that's not the case. BlockDiag is using system library (zlib, jpeglib, tiff...) an

[2019-01-07 19:36] mojavelinux commented on #206
:+1:

The impact of such a tool would be far reaching. It could also help get more people involved as its use wouldn't be limited to just AsciiDoc / Asciidoctor.

I would say make sure to leave room for passing in information about the context (the current document, for example). I've seen APIs that try to focus exclusively on the source (Jekyll comes to mind) and then you end up not being able to

[2019-01-08 11:51] jagedn commented on #183
Hi,

the code is in Gitlab at https://gitlab.com/puravida-software/asciidiagram
the documentation is at https://puravida-software.gitlab.io/asciidiagram
and a live version is running at http://asciidiagram.puravida-software.com/

[2019-01-19 15:17] pepijnve commented on #205
I think I've finally been able to trace the root cause of this. In a nutshell JRuby doesn't implement spawn very reliably. Since https://github.com/jruby/jruby/commit/a467bc525f62c56696ec314aaf0d719947560798 there are cases where it joins all the arguments into a single string and uses the standard shell to execute that command. That has completely different semantics than calling spawn.

As a wor

[2019-01-19 18:18] bcouetil commented on #205
Nice, just tell me when and how I can test it, I'll gladly do it 😄

[2019-01-20 15:01] pepijnve commented on #205
@bcouetil could you confirm that you're having this problem with JRuby?  If not, which Ruby implementation are you using? Just want to make sure it's really fixed before I close this.

[2019-01-20 16:30] bcouetil commented on #205
@pepijnve yes I suppose, since this is in my Maven dependencies :
[code]

[2019-01-20 19:34] pepijnve commented on #205
Could you give asciidoctor-diagram 1.5.12 a go? Should fix the problem.

[2019-01-21 10:01] bcouetil commented on #205
Pardon my noobness, but I need your help, what do I change in the dependencies told earlier, and where to find the new jar (since latest asciidoctorj-maven is 1.5.11 on Central) 😄

[2019-01-21 10:16] pepijnve commented on #205
I'm not sure who builds that jar. I think maybe @robertpanzer can help.

[2019-01-22 14:49] robertpanzer commented on #205
I just released asciidoctorj-diagram 1.5.12.
It should be already on bintray and hit Maven Central soon.

[2019-01-30 15:56] emillindqvist90 opened #212 "asciidoctor-diagram fails when placed in table (1.5.12)"
In lib\asciidoctor-diagram\extensions.rb:285

spelling error ("docuemnt"), causing embedded diagrams in tables to fail to generate

[2019-01-30 16:56] pepijnve commented on #212
🤦‍♂️ odd that the test suite doesn't pick this up. I'll try to get this fixed asap.

[2019-01-30 20:08] pepijnve commented on #212
1.5.12 introduced this regression. Sorry about that. I've added test cases, fixed the issue and published 1.5.13 which fixes this.

[2019-01-30 20:08] #212 closed

[2019-01-30 20:12] emillindqvist90 commented on #212
Thank you Pepijn!

[2019-02-02 08:10] mojavelinux commented on #212
Really nice find @emillindqvist90. Thanks!

[2019-02-04 18:00] carun opened #213 "Is there a way to integrate asciidoctor with draw.io"
Draw.io diagrams can be saved as XML. Is there a way integrate it with asciidoctor? We can have the drawing power with draw.io as well as automated document generation.

[2019-02-04 18:00] carun commented on #213
This came from https://github.com/asciidoctor/asciidoctor/issues/3039

[2019-02-05 08:35] pepijnve commented on #213
How do you envision this integration? Should the XML be sent to the web service for rendering? Or should the offline desktop app be used?
Either way, I'm not sure how practical this will be. The exported XML is not really human editable afaict, so there seems to be little advantage compared to exporting an SVG and including that.

FYI, the closest precedent for integrating a remote service like th

[2019-02-11 20:19] Mogztter opened #214 "Performance regression with JRuby 9"
I don't if we are doing something wrong here but AsciidoctorJ with Asciidoctor Diagram is noticeably slower with JRuby 9:

@SevereOverfl0w made a sample project to reproduce this issue. It's a Clojure project but it's relatively easy to run it (and it will generate a flamegraph!): https://github.com/SevereOverfl0w/asciidoctor-diagram-slow-repro

Once Clojure is installed you should be able to run

[2019-02-11 20:22] pepijnve commented on #214
🤔 weird...

Must be some Ruby code construct that JRuby doesn't like.

[2019-02-11 20:48] Mogztter commented on #214
Probably, do you reproduce this issue ? I can share flamegraph if you want

[2019-02-11 20:50] pepijnve commented on #214
I see the flamegraph, but it's not very useful to me to be honest. I know how to interpret these things, but there's no obvious hotspot that sticks out.

[2019-02-11 20:52] pepijnve commented on #214
FWIW, best I can make of it is that a lot of time is spent getting the mtime of files.

[2019-02-12 15:30] pepijnve commented on #214
@Mogztter I had another look at the flame graph with a clear head today. Which part of this do you think is problematic and why do you think asciidoctor-diagram specifically is to blame?

Just an open question; I don't see the problem. All of the time seems to be taken up loading the extensions themselves, but if you drill down on that the 'expensive' parts are calls to `require_relative`. Not sur

[2019-02-12 16:03] SevereOverfl0w commented on #214
The require_relative calls weren't visible on the flame graph before switching to JRuby 9.

To compare:
[flame.zip](https://github.com/asciidoctor/asciidoctor-diagram/files/2856551/flame.zip)

(Sorry GitHub won't allow SVG uploads)

[2019-02-12 16:14] pepijnve commented on #214
@SevereOverfl0w fair enough, but kind of out of my control. If anything it looks like there's a performance regression with `require_relative` in jruby 9. Best I could do is replace `require_relative` with plain `require`.

[2019-02-12 16:21] pepijnve commented on #214
I'll take a shot at profiling this with JProfiler later this evening. Perhaps that clarifies the difference in performance between jruby 1.7 and 9. I'll let you know what I find (if anything).

[2019-02-12 17:23] Mogztter commented on #214
To clarify I'm not saying that Asciidoctor Diagram is doing something wrong or that we should not use `require_relative`. I've opened this issue so we can find the root cause, maybe it's JRuby maybe it's Asciidoctor Diagram, maybe it's an interaction between Clojure and the DynamicClasspath... who knows :wink:

But before raising an issue upstream (JRuby) I think it's important to make sure that w

[2019-02-12 20:49] pepijnve commented on #214
Perhaps somewhat unsurprisingly, JProfiler says the same thing. Hotspots in sampling mode below. What's a bit surprising to see is how for every call to `readDocumentHeader` a new Class is defined at runtime. I started digging into why that's happening, but that rabbit hole is too deep; not enough time right now. I did find this in asciidoctorclass.rb which doesn't seem quite right.
[code]
The `As

[2019-02-13 18:46] hakandilek opened #215 "plantuml behind proxy"
I've gone through the documentation and partially through the code but could not really find the answer.

I'm trying to generate plantuml diagrams with `!includeurl` directives behind a corporate proxy. I've tried to set up `HTTP_PROXY` and `HTTPS_PROXY` environment variables, and `JAVA_ARGS` but none of them helped.

My docs look basically like this:
[code]

[2019-02-13 18:54] pepijnve commented on #215
I think I'll have to add `-Djava.net.useSystemProxies=true` to the JVM startup flags in order to get that to work. Not something I've needed myself so I haven't tested that kind of setup.

[2019-02-13 20:07] hakandilek commented on #215
There you go.

[2019-02-13 20:08] #215 closed

[2019-02-14 17:23] Mogztter commented on #214
I've upgraded JRuby version to find when the performance regression has been introduced. Unfortunately AsciidoctorJ only work with JRuby >= 9.1.11.0+ but I found this commit: https://github.com/jruby/jruby/commit/7e7292e632bd66a95fed78b37e73d6e63f90d631

[2019-02-14 17:38] Mogztter commented on #214
[code]

![realpath](https://user-images.githubusercontent.com/333276/52805695-6e414400-3087-11e9-9d38-f868b8912e6e.png)

If I remove the `File.realpath(file)`:

[code]

![require_relative](https://user-images.githubusercontent.com/333276/52805771-9b8df200-3087-11e9-86de-aba7c25c454f.png)

[2019-02-14 17:50] Mogztter commented on #214
Flamegraph: [flames.zip](https://github.com/asciidoctor/asciidoctor-diagram/files/2866222/flames.zip)

[2019-02-14 19:19] pepijnve commented on #214
Great find @mogztter. I think we have a winner.
So conclusion is that require_relative has hidden costs. Best way to fix this then is to just use require instead I guess. Easy enough to fix.
Nice tag teaming going on here! 💪

[2019-02-14 19:23] headius commented on #214
Short term, yes it would be easiest to just use require. However I'm going to open an issue in JRuby to improve the perf of require_relative now.

[2019-02-14 20:41] mojavelinux commented on #214
Fantastic work @Mogztter. I appreciate you tracking that down!

[2019-02-14 20:46] mojavelinux commented on #214
@Mogztter You are correct that the extensions block is run on every call to convert. However, it seems odd to me that `require_relative` is called each time (at least beyond the top call). I thought that require statements are called once per runtime, then skipped all other times.

@pepijnve Another option is to use require with an absolute path. That way, it hits the same file, but bypasses the r

[2019-02-15 00:37] headius commented on #214
It looks like the File.realpath was done to support in-jar URLs (classloader resources) which have weird paths. The amount of work it's doing to support that seems a bit much.

require_relative should fire only once for each file.

[2019-02-15 01:22] headius commented on #214
I've pushed fixes to JRuby master that should reduce some of the overhead of `require_relative`. It does not address the use of `realpath` which is still needed to support relative requires from inside a jar (since they'll be classloader URIs).

[2019-02-15 08:38] pepijnve commented on #214
@mojavelinux per the require docs of `require`

that implies that for every `require` or `require_relative` call you still need to to determine the final absolute path of the file being required which means there's a non-zero cost to calling `require`. I would expect `require_relative` to be the faster case since it avoids needing to scan the load path as the starting point is already an absolute

[2019-02-15 09:38] Mogztter commented on #214
I will profile multiple executions of `asciidoctor.readDocumentHeader`.
So this method [1] should only be called once per file ? (and as a consequence the path resolution should only be called once per file ?)

I didn't find any reference to `LOADED_FEATURES` in the JRuby code (except in test/spec and in GlobalVariable) so I believe this logic is in Ruby [2] ?

Anyway I will add some breakpoints t

[2019-02-15 09:56] pepijnve commented on #214
Just my intuition speaking, but I would expect you to end up here on every single call to require. https://github.com/jruby/jruby/blob/a67a9c5e2d702fbfc048653195ff9315fb30d06a/core/src/main/java/org/jruby/runtime/load/LoadService.java#L495

[2019-02-15 22:24] Mogztter commented on #214
I can confirm that the file is not loaded again but the `require_relative` method in `RubyKernel` is called 17 times on every `asciidoctor.readDocumentHeader` invocation.

The reason is that the extension registry contains:

[code]

Asciidoctor will execute each block/proc to register the extension. And in each extension we are doing `require_relative 'extensions'`:

https://github.com/asciidoctor

[2019-02-15 22:26] Mogztter commented on #214
@headius I can confirm that master branch is a bit faster:

[code]

[2019-02-16 09:17] pepijnve commented on #214
@Mogztter @mojavelinux any recommendations/best practices on using `require` that you can recommend. At the moment I kind of use it like you would use `import` in Java or `#include` in C/C++. In other words, treat every file as a 'compilation unit' and require whatever the code in the file in question depends on. That obviously leads to a lot of duplicate requires, but avoids having a brittle requ

[2019-02-16 14:03] Mogztter commented on #214
@pepijnve My previous comment was wrong, I think we should move `require_relative` outside the block:

#### Before

[code]

#### After

[code]

Otherwise `require_relative 'a2s/extension'` will be resolved (the path) on every invocation.
Though I don't known if it's intended or not ?

@mojavelinux What do you think ?

[2019-02-16 19:25] mojavelinux commented on #214
Yes, absolutely. That aligns with what I was suggesting.

Another way to avoid require calls is to use a defined? guard. I do this a
lot in core. For example:

require 'asciimath' unless defined? AsciiMath.load

You look for a symbol that would be present if required has already been
called. This is extremely fast in my experience.

[2019-02-18 20:44] pepijnve commented on #214
@Mogztter dc3ba61 cleans up the require statements. Is it easy for you to check if this improves things in asciidoctorj?

[2019-02-18 20:52] Mogztter commented on #214
@pepijnve Good! Yep I will give it a try and let you know 👍

[2019-02-24 22:46] Mogztter commented on #214
Ooops sorry for the delay I will do it tomorrow 😉

[2019-02-25 10:57] Mogztter commented on #214
@pepijnve The code is now faster in JRuby 9:

[code]

[2019-02-25 10:58] pepijnve commented on #214
Fantastic! I'll make a new release then and with that I think we can consider this closed.

[2019-02-25 11:02] #214 closed

[2019-03-07 12:28] pepijnve commented on #206
FYI, this is being worked on in https://github.com/asciidoctor/asciidoctor-diagram/tree/server_prep
The converters have already been put in place. Still need to tidy up a bunch of code and implement the server frontend.

[2019-03-07 12:29] pepijnve commented on #205
@bcouetil did the new asciidoctorj-diagram build fix this for you?

[2019-03-07 15:35] bcouetil commented on #205
At the time I was waiting for the maven package availability. I just tested, this is working great, thanks !

I obtain an image with a [weird font](https://bcouetil.gitlab.io/academy/sample/reveal/reveal-my-asciidoc.html#/meme-as-code), but I guess that the meme font is not available on Gitlab, and that's another story 😸

We can close this.

[2019-03-07 15:36] #205 closed

[2019-03-07 15:39] pepijnve commented on #205
Not sure there's much that can be done about the font. The image is generated using the imagemagick `convert` command. By default it gets passed the parameter `-font Impact`. I'm not sure what the fallback strategy is in `convert` if the requested font can not be found. Looks like some default sans-serif font.

[2019-03-07 17:23] bcouetil commented on #205
You gave me just the piece of information I needed my friend, I have a solution now 😃

For anyone stumbling upon this thread, here is a prerequisite on unix systems (you may need some `sudo` that gitlab doesn't) :

[code]

[2019-03-07 17:25] pepijnve commented on #205
Alternative is to specify the font you want to use instead via the `font` attribute.
The default is `Impact` since that's the de facto standard meme font.

[2019-03-11 14:33] alexeikh opened #217 "asciidoctor-diagram-1.5.14 is incompatible with asciidoctor-2.0.0.rc.1"
## Summary
asciidoctor-diagram seems to be incompatible with asciidoctor 2.x, despite commit https://github.com/asciidoctor/asciidoctor-diagram/commit/38e9301cf62f61947b6c97132d1e1229248b4f2d .

## Steps to reproduce

1. Install the following gems:
[code]

2. Try to use asciidoctor-diagram:
[code]

Observed output:
[code]
Expected: No error.

3. Try to uninstall asciidoctor-1.5.8:
[code]

Observed

[2019-03-11 14:48] pepijnve commented on #217
Thanks for spotting this. Oversight on my part. I'll get this fixed asap so that there are no issues by the time Asciidoctor 2.0.0 is released.

[2019-03-11 15:56] mojavelinux commented on #217
I've been trying hard to make 2.0.0 backwards compatible. If there's
something I need to adjust to ensure that, I'd be happy to do so.

[2019-03-12 06:00] mojavelinux commented on #217
Ah, I see now. :wink:

[2019-03-13 13:21] pepijnve commented on #217
The asciidoctor version constraint in the Gemspec has been updated to `'>= 1.5.0', '< 3.x'` in diagram 1.5.15.

[2019-03-13 13:21] #217 closed

[2019-03-13 13:22] #204 closed

[2019-03-13 13:25] headius commented on #214
My next big project for JRuby is to fix up the require/load caching logic, which should prevent this from affecting anyone in the future. Glad to see you found a good solution that is not hacky and makes sense anyway!

[2019-03-13 13:46] alexeikh commented on #217
I have upgraded to the release 1.5.15 and confirming that I can no longer reproduce the issue.

[2019-03-14 14:38] crouthamela opened #218 "Vega-Lite STDIN error in Windows"
**OS:**
Windows 7

**Versions:**
vega-cli - 5.2.0 (from npm)
vega-lite - 3.0.0-rc15 (from npm)
asciidoctor - 2.0.0.rc.2, 1.5.8 (from gem)
asciidoctor-diagram - 1.5.15 (from gem)

I have a simple Vega-Lite diagram in my `.adoc`:
`....
{
  "$schema": "https://vega.github.io/schema/vega-lite/v3.json",
  "width": 500,
  "data": {
    "values": [
      {"Customer": "Customer1", "Bandwidth": 250},

[2019-03-14 14:42] pepijnve commented on #218
Pretty sure it's the same issue as what you reference, but then in the vega-lite `vl2vg` tool. You'll probably get the same error if you try to run `vl2vg < diagram.json` which is closest to what asciidoctor-diagram tries to do.

[2019-03-14 14:44] crouthamela commented on #218
Ah, thanks for the tip. I indeed receive the error that way. I'll follow-up with vega-lite.

[2019-03-22 14:58] mehdichara commented on #213
It would be nice indeed to have this integration. I think it should work the same way Attlassian Confluence integrates draw io.

[2019-03-22 15:09] pepijnve commented on #213
@mehdichara could you expand on what that means exactly? How does the Confluence/Draw.io integration work?

[2019-03-23 15:38] robertpanzer opened #219 "Positional Attributes are not honoured with Asciidoctor 2.0.0"
To reproduce install asciidoctor 2.0.0 and asciidoctor-diagram 1.5.15.
Then create the following document:
[code]

Render the document with `asciidoctor -r asciidoctor-diagram test.adoc`.
Then check the resulting html.
It contains a reference to a png with a random name instead of `test.svg`:
[code]

I guess the reason for this is that the option for positional attributes was renamed from `:pos_at

[2019-03-23 18:32] pepijnve commented on #219
This is caused by a very last minute change in asciidoctor 2.0.0 indeed. I'll get a compatibility fix in place asap.

[2019-03-23 19:46] pepijnve commented on #219
Fixed in 1.5.16

[2019-03-23 19:46] #219 closed

[2019-03-23 22:44] mojavelinux commented on #219
Argh, I didn't mean to introduce this breaking change. I checked the builds, but I got duped by the queue of builds. Travis was reporting the build as green, but the build that would fail was still pending.

Now I realize that existing code could be depending on this option name, so I'm going to put a patch in 2.0.1. I don't want to force existing extensions to change.

[2019-03-23 23:59] mojavelinux commented on #219
There's a far simpler way to solve this problem. Just register both options.

[code]

[2019-03-24 08:44] pepijnve commented on #219
@mojavelinux no worries; we spotted it quickly enough. I went for a really quick fix. I’ll come up with something more elegant for diagram v2 (basically the server branch I’m working on).

[2019-03-24 09:19] mojavelinux commented on #219
My plan is for you to be able to remove this fix once 2.0.1 is out. Users will have to use 2.0.1 instead of 2.0.0, but I think that's a reasonable expectation.

[2019-03-28 23:41] mojavelinux opened #220 "Upstream build is running against release instead of master"
For some reason, the upstream build is using Gemfile instead of Gemfile.master. (See https://travis-ci.org/asciidoctor/asciidoctor-diagram/builds/512769596). It's possible something changed in Travis' config merge logic that caused this to stop working.

Whatever asciidoctor-reveal.js is doing is still working, so that might be a useful reference when debugging the problem.

[2019-03-29 00:05] mojavelinux commented on #220
The build log reads:

[code]

when it should read:

[code]

[2019-03-29 00:11] mojavelinux commented on #220
What's strange is that it works fine in the main build. (See https://travis-ci.org/asciidoctor/asciidoctor-diagram/jobs/512774295)

[2019-04-26 07:39] lorrden opened #222 "Update bundled PlantUML and add new diagram types"
The latest plantuml supports. mind maps and work breakdown structure diagrams, neither which seem to work in asciidoctor-diagram at the moment. I would assume there need to be a diagram-wbs and diagram-mindmap type for this.

Note that the gantt diagrams work fine already though.

[2019-04-28 16:02] ahus1 opened #223 "Log errors with source line information instead of raising exceptions"
When users mistype for example an output format

[code]

this will throw an exception like this:

[code]

leaving the user (and an IDE) without a line number.

When errors happen inside Asciidoctor, these are logged using something like the following

[code]

and the processing continues (probably after skipping the problematic block). After the processing, all problems are available in the log, a

[2019-05-07 18:57] lorrden commented on #222
Now that the latest plantuml jar is in, it would be. nice to look at what diagrams that work.

Currently @startuml works some of the other diagrams may work when plantuml can deduce the type automatically (gantt works inside @startuml blocks).

The other diagrams supported by plantuml includes:

- @startditaa (a bit redundant since ditaa has its own blocks, but anyway)
- @startsalt (seems to be su

[2019-05-14 11:04] jvmlet commented on #173
There is the same issue when  using `!includesub someIncluded.puml!SECTION` from some `root.puml` file.
Both `someIncluded.puml` and `root.puml` reside in the same folder.

[2019-05-14 19:01] pepijnve commented on #223
That makes sense. @mojavelinux any guidance on what the appropriate behaviour is for extensions when encountering processing errors? Can I just return `nil` for instance?

[2019-05-14 19:11] pepijnve commented on #222
8fa6447 relaxes the start/end detection code a bit. With that change you should be able to use the various plantuml diagram types. If @start/@end is not found the code will be surrounded with @startuml/@enduml like before.

[2019-05-14 19:11] #222 closed

[2019-05-14 19:36] pepijnve commented on #223
@ahus1 could you give 464add8 a try?

[2019-05-14 19:40] pepijnve commented on #176
[PlantUML supports mind maps](http://plantuml.com/mindmap-diagram) these days. 1.5.17 will include support for this

[2019-05-14 19:40] #176 closed

[2019-05-16 09:12] davidjgraph commented on #213
draw.io is a client-side app only. It's not a server-based rendering, like PlantUML, for example.

As as SaaS site, draw.io doesn't store anything, it only use third-party storage options.

The XML format is compressed, but it's trivial to inflate it back to a human-readable form, but it's not as compact as PlantUML, the styling and positioning information add a lot of bulk.

The way the Confluenc

[2019-05-16 15:47] ahus1 commented on #223
The source location will only be set if sourcemap is se to true. I tried the following

[code]

and then found that the source location was present in the error message.

But the location is the location of the parent, and the parent could be the previous heading that is several lines (and paragraphs) above. Therefore it will not show the accurate position to the user.

I see that asciidoctor usua

[2019-05-16 16:13] pepijnve commented on #223
🤔 I think we need input from @mojavelinux on this one. AFAIK there's no well defined error handling model for extensions. If the an extension raises an exception the entire processing of the asciidoc file halts.

From the extension processing method I can't get the actual current line indeed. Might be possible for blocks, but definitely not for block macros.

[2019-05-25 00:16] mojavelinux commented on #223
That's correct. Unless that's what you really want, the more correct thing to do is to log an error.

This is indeed a shortcoming of the reader model, which doesn't maintain a reader hierarchy. However, you can get the line number information from the parent reader.

Here's an example:

[code]

As shown above, log an error (or warning), then return nil.

[2019-05-29 09:31] pepijnve commented on #223
@mojavelinux `asciidoctor/parser.rb:505` sets a mark on the reader. I think I could (ab)use that to get the location of the start of the block. Is it safe to assume that mark will stay there or am I counting too much on an implementation detail?

[2019-05-29 09:34] mojavelinux commented on #223
When you're in a block processor, you can rely on mark to be where the block started since that's the purpose of the mark in this context. So yes, I'd say so.

[2019-05-29 09:36] pepijnve commented on #223
Excellent. I'll use that to capture the location then.

[2019-05-29 09:38] mojavelinux commented on #223
:+1:

[2019-05-29 09:39] pepijnve commented on #223
Does 04551d1 look about right? `parent.reader...` doesn't work since `AbstractNode` doesn't have a reference to the `Reader`. The `Document` does.
Are there any pitfalls here related to tables, includes, etc?

[2019-05-29 09:42] mojavelinux commented on #223
Yes, that's correct. (parent.reader works if parent is a Document, but not if it's an AbtractBlock). But parent.document.reader gets you to the same place.

[2019-05-29 12:55] pepijnve commented on #223
@ahus1 should be fixed in 1.5.17. Feel free to reopen if there are still problems.

[2019-05-29 12:55] #223 closed

[2019-05-30 10:27] ahus1 commented on #223
@pepijnve - the code change looks promising. I tried to test it on JRuby, but bundler doesn't find a Java version yet (only 1.5.16). Should I wait a little bit longer? Should I flush any caches?

[code]

[2019-05-30 10:35] pepijnve commented on #223
Not sure why it’s not showing up. Seems to be published correctly according to https://rubygems.org/gems/asciidoctor-diagram

[2019-05-30 10:45] ahus1 commented on #223
I'll give it a bit more time and try again later.

[2019-05-30 17:58] robertpanzer opened #224 "Asciidoctor-diagram 1.5.17 is incompatible with asciidoctor 1.5.x"
When trying to build asciidoctorj-diagram 1.5.17 I ran some integration tests with AsciidoctorJ 1.5.8 containing Asciidoctor 1.5.8.
This test failed with:
[code]
But the gemspec indicates that it should still be compatible with asciidoctor 1.5.x.

According to @mojavelinux the code should invoke `use_dsl` instead of `enable_dsl` to maintain compatibility with Asciidoctor 1.5.x.

[2019-05-30 18:56] pepijnve commented on #224
Thanks for reporting this quickly @robertpanzer; I'm on it. Adding 1.5.x to the CI builds so this doesn't happen again.

[2019-05-30 19:13] pepijnve commented on #224
Compatibility issues fixed in 1.5.18

[2019-05-30 19:13] #224 closed

[2019-05-30 20:15] robertpanzer commented on #224
🎉 Thanks

[2019-06-02 21:13] ahus1 commented on #223
I still have the problem to test it directly with jruby and bundler, but I works with the latest release of asciidoctorj-diagram; therefore I'll try no further.

I successfully tested that the new versions renders an error message on the console, and that the next version of the plugin will highlight the error in the IDE. It will place the error in the line with the first "----", but that's fine f

[2019-06-11 16:17] drom commented on #190
I have a new version of wavedrom v2.1.2 here: https://github.com/wavedrom/wavedrom
it comes with browserless CLI. https://github.com/wavedrom/wavedrom/releases/tag/v2.1.2
It is a single file application and requires only `node.js` to run.

[code]
Current version can produce only `SVG`. Do we need `PNG`?

[2019-06-11 16:18] drom opened #225 "Upgrade to new WaveDrom"
I have a new version of wavedrom v2.1.2 here: https://github.com/wavedrom/wavedrom
it comes with browserless CLI. https://github.com/wavedrom/wavedrom/releases/tag/v2.1.2
It is a single file application and requires only `node.js` to run.

[code]
Current version can produce only `SVG`. Do we need `PNG`?

I can release `PNG` capable version, but that would require normal `npm install` flow.

_Origi

[2019-06-11 16:38] pepijnve commented on #225
Would it be possible to provide an executable wrapper script for this? (see https://medium.com/netscape/a-guide-to-create-a-nodejs-command-line-package-c2166ad0452e for an example). The code is already searching for an executable file named `wavedrom`. If the NPM package can provide that it makes my life a bit easier.

Is there a way to query the version number via the CLI? That will be necessary

[2019-06-11 16:43] drom commented on #225
Make sense. Will fix.

[2019-06-12 02:38] drom commented on #225
I have published `wavedrom-cli` v2 on `npm`
Here is the source code: https://github.com/wavedrom/cli

Generates SVG or PNG
`wavedrom-cli --version` for version number
`wavedrom-cli --help` for all options

[2019-06-12 07:07] pepijnve commented on #225
Perfect. Since the name of the command differs from the earlier version (was just `wavedrom`) I probably don't even need a version check. :+1:

[2019-06-12 07:18] #225 closed

[2019-06-12 07:21] pepijnve commented on #220
I had another look at https://travis-ci.org/asciidoctor/asciidoctor-diagram/jobs/544597576/config
No idea what's wrong. The input looks correct to me.

[2019-06-12 07:41] mojavelinux commented on #220
I'm going to try a few things to see if it's an ordering issue.

[2019-06-12 07:43] pepijnve commented on #220
I just reread the Travis doc. Default `merge_mode` is `merge` which replaces section of the config. Due to the I think we're basically overwritten the entire `matrix` section. I added `merge_mode: deep_merge` which, if I understand it correctly, will merge the two `matrix` maps. Maybe that fixes things.

[2019-06-12 07:46] mojavelinux commented on #220
I'll try both. Stay tuned. I'm kicking builds.

[2019-06-12 07:46] pepijnve commented on #220
The build probably got broken in 81c5f930d942838a739bdf823a69248c7134c75b. Before then the main `.travis.yml` didn't contain a `matrix` section and the default merge of the exclude in the upstream file did the right thing.

[2019-06-12 08:04] mojavelinux commented on #220
I'm convinced this is a bug in Travis CI. Fortunately, I think I know a workaround.  I'm testing my theory.

[2019-06-12 08:07] pepijnve commented on #220
Looking at https://docs.travis-ci.com/user/build-matrix/ it's not really well defined what happens if you have both an explicit `include` and an explicit `exclude` in the `matrix` for the same jobs.

I think you're last change where we use the default merge mode (i.e., replace the `matrix` section) will do the trick.

[2019-06-12 08:08] pepijnve commented on #220
https://travis-ci.org/asciidoctor/asciidoctor-diagram/builds/544615987
Success!

[2019-06-12 08:08] mojavelinux commented on #220
Yep, that works:

[code]

So we have what we need, at least.

[2019-06-12 08:09] #220 closed

[2019-06-12 08:09] mojavelinux commented on #220
So the trick for now is:

[code]

Probably easier to understand anyway.

[2019-06-17 18:16] Mogztter opened #226 "Allow to use an external server for PlantUML"
The idea is to be able to use an external PlantUML server instead of using `java -jar` to start a local server.

It could be useful when this library is used in a server environment (for instance GitLab).
Currently GitLab is using https://github.com/hsanson/asciidoctor-plantuml but I think it could be nice to merge the two projects.

It might be related to https://github.com/asciidoctor/asciidocto

[2019-06-17 19:12] mojavelinux commented on #226
I'd even be in support of keeping it as a separate project if it were to become part of this org, as long as it has the support of @pepijnve. My main concern is that we're on the same page and sending a consistent message. As asciidoctor-plantuml clearly fills a need, I think we should find a way to support that need one way or another.

[2019-06-18 07:09] pepijnve commented on #226
Here's "my plan" 😄

1. Finish the `server_prep` branch. The goal of that branch is to split the logic that preprocesses the source code (where applicable), extracts block (macro) attributes, etc and the actual image generation code.
2. Add support for a `diagram-server` attribute. If that's set only perform the preprocessing step and generate a plantuml server/kroki.io compatible URL that gets pla

[2019-06-18 07:18] mojavelinux commented on #226
Thanks for laying out this plan @pepijnve. It looks good to me. @Mogztter wdyt?

[2019-06-18 07:18] mojavelinux commented on #226
I would encourage you to never let yourself feel pressured about contributing. Certainly point out when and where you need more help. But if that help isn't there, no one can push you to do more than what feels right for you.

[2019-06-18 07:24] pepijnve commented on #226
No worries Dan, that's not what I was trying to say. It's frustrating to know exactly what you want to do and how to do it, but just not finding the time to make it happen, that's all.

[2019-06-18 07:30] mojavelinux commented on #226
I'm right there with you. I've had a few ideas on my whiteboard fade to almost nothing waiting for me to implement them. It can definitely be frustrating.

[2019-06-21 19:36] amejiarosario opened #228 "cannot load such file asciidoctor/logging"
I'm running
[code]
and I'm getting
<details>
  <summary>
<code>
.../asciidoctor-diagram/extensions.rb:3:in `require': cannot load such file -- asciidoctor/logging (LoadError)
</code>

</summary>

[code]
</details>

How do I fix this?

Versions:
[code]

[2019-06-21 19:48] mojavelinux commented on #228
There's your problem. You should really be on Asciidoctor 2.0.10 by now.

[2019-06-21 19:49] mojavelinux commented on #228
@pepijnve If you'd like to retain backwards compatibility with older releases of 1.5.x, you can steal this code:

* https://github.com/asciidoctor/asciidoctor-pdf/blob/master/lib/asciidoctor-pdf/asciidoctor_ext/logging_shim.rb
* https://github.com/asciidoctor/asciidoctor-pdf/blob/master/lib/asciidoctor-pdf/converter.rb#L31-L35

[2019-06-21 20:02] amejiarosario commented on #228
Ah, that's for the info. Upgrading to 2.x fixed it. Thanks!

[2019-06-21 20:02] #228 closed

[2019-06-23 14:48] pepijnve commented on #228
It’s probably better to make the asciidoctor dependency requirement stricter. Recent 1.5 or 2.x.

[2019-06-24 20:08] ahus1 commented on #160
Starting from May 2018 this is no longer necessary in the IntelliJ plugin for Asciidoc: it forces the output to be PNG in the preview. No user interaction or additional attribute settings are necessary.

@msgilligan - I stumbled across this issue by accident, and thought this comment would be helpful for you. If you still experience problems in the preview, please open an issue on https://github.c

[2019-06-29 12:42] hadil-man commented on #126
I wanted to show PlantUML diagram , but i found the following image instead of the diagram
file does not exist
Cannot find GraphViz
please any help

[2019-07-02 10:17] hadil-man opened #229 "showing PlantUML diagram"
I wanted to show PlantUML diagram , but i found the following image instead of the diagram
file does not exist
Cannot find GraphViz
please any help

[2019-07-10 08:41] basvandijk opened #230 "Resolve paths in block macros similar to asciidoc's include directive"
To quote the [documentation of diagram block macros](https://github.com/asciidoctor/asciidoctor-diagram/#diagram-block-macro) regarding path resolving:

Here the "location of the document being processed" means the path that the `asciidoctor` tool was applied to.

A more user-friendly, consistent and composable behavior would be if path resolving would work exactly like the [asciidoc include direc

[2019-07-10 08:44] mojavelinux commented on #230
AsciiDoc (as implemented by Asciidoctor or AsciiDoc Python) does not (yet) have subdocuments. There's simply no such concept. Therefore, we cannot base decisions on locations of these documents because that's just not how it works (currently).

This has been discussed many times and we are still making plans for a solution. See https://github.com/asciidoctor/asciidoctor/issues/650#issuecomment-433

[2019-07-10 08:45] mojavelinux commented on #230
As I've discussed before, we could introduce a document macro (not preprocessor directive) that would have awareness of the structure of the document and could thus establish a "current context". This will never be how the include directive works because the include directive combines files before the lines are parsed.

[2019-07-10 14:36] basvandijk commented on #230
I think the [`indir` extension](https://github.com/asciidoctor/asciidoctor-extensions-lab/pull/100) might do exactly what I need. I'll try it out and report back here.

[2019-07-11 07:49] habamax commented on #150
Hi @pepijnve , @mojavelinux suggested to let you know -- looks like there is still some problem with unicode and ditaa diagrams on windows.

See referenced issue from Asciidoctor-pdf #1000

It might be also connected to plantuml version of ditaa -- I have just checked and it looks like I don't have ditaa installed and what I tried to use is actually plantuml http://plantuml.com/ditaa

I will try t

[2019-07-11 07:58] habamax commented on #150
I think I have tried the "real" ditaa :) with the command:

    ruby asciidoctor-pdf -r asciidoctor-diagram -a ditaa=C:/prg/bin/ditaa0_9.jar "C:\Users\maksim.kim\docs\test\test.adoc"

Not sure if it is correct way to do it. The result was the same -- corrupted unicode chars.

[2019-07-11 21:07] pepijnve commented on #150
@habamax i’ll have a look when I get back home. On holiday at the moment. Could you provide me as much info as possible regarding the ruby version you’re using, the JRE, Windows, Cygwin, Windows installation language, etc in the meantime? Helps to reproduce issues.

There’s no way use a specific version of ditaa at the moment; the internal one always gets used. Afaik it’s superior to the ‘real’ on

[2019-07-11 21:34] mojavelinux commented on #150
If there are instructions to follow, I'd be happy to test as well as I have a Windows machine in my testing lab.

[2019-07-12 05:53] habamax commented on #150
@pepijnve It is barebone windows 10 without cygwin.

Ruby version: ruby 2.6.0p0 (2018-12-25 revision 66547) [x64-mingw32]

java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)

Windows language: main one is English US, second input lang is russian.

Active code page in cmd.exe is: Active code page: 65001

[2019-07-15 08:31] pepijnve commented on #229
PlantUML requires GraphViz to be installed in order for it to work correctly. See http://plantuml.com/graphviz-dot for some instructions.

[2019-07-15 08:31] #229 closed

[2019-07-19 15:40] knl opened #231 "Surface PlantUML diagram generation problems to asciidoctor"
When PlantUML encounters an error in the diagram, it will still generate the diagram, containing the snapshot of the code and the error. Then, it will continue generating diagrams, making it really hard to spot errors.

There is a flag for PlantUML `-failfast` which causes it "To stop processing as soon as a syntax error in diagram occurs". Would it be possible to somehow pass that flag to PlantUM

[2019-07-19 18:59] pepijnve opened #232 "asciidoctor-diagram is not compatible with asciidoctor < 1.5.7"
The gemspec requires `>= 1.5.0` but in practice at least `1.5.7` is required.

This causes unexpected problems for people as in https://github.com/asciidoctor/asciidoctor/issues/3360

[2019-07-19 19:01] #232 closed

[2019-07-19 19:48] mojavelinux commented on #232
Thanks!

[2019-07-22 06:15] Mobe91 commented on #150
Same issue here with Windows 10. I am using the asciidoctor gradle plugin (https://github.com/asciidoctor/asciidoctor-gradle-plugin) v1.5.8.1 with asciidoctor-diagram:1.5.18 and attempting to render a ditaa diagram. My input .adoc is UTF-8 encoded.

[2019-07-22 06:21] habamax opened #233 "Windows10 + UTF-8 ditaa diagrams bad rendering"
Just to separate from the #150 which is cygwin related.

Ruby version: ruby 2.6.0p0 (2018-12-25 revision 66547) [x64-mingw32]

java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)

Windows language: main one is English US, second input lang is russian.

Active code page in cmd.exe is: Active code page: 65001

[2019-07-22 06:22] habamax commented on #150
I have opened separate issue #233 clearly stated it is non-cygwin related

[2019-07-22 10:56] Mobe91 commented on #233
Same issue here with Windows 10. I am using the asciidoctor gradle plugin (https://github.com/asciidoctor/asciidoctor-gradle-plugin) v1.5.8.1 with asciidoctor-diagram:1.5.18 and attempting to render a ditaa diagram. My input .adoc is UTF-8 encoded.

[2019-07-22 13:30] pepijnve commented on #233
@habamax @Mobe91 Just to be sure, which build of Ruby are you using?

[2019-07-22 13:36] Mobe91 commented on #233
I am using the com.github.jruby-gradle:jruby-gradle-plugin:1.7.0 gradle plugin for ruby.

[2019-07-22 13:37] habamax commented on #233
ruby 2.6.0p0 (2018-12-25 revision 66547) [x64-mingw32]

[2019-07-22 13:39] pepijnve commented on #233
Where does that binary come from? https://rubyinstaller.org?

[2019-07-22 13:41] habamax commented on #233
yes

[2019-07-22 13:43] habamax commented on #233
Just to clarify -- all non-ditaa plantuml diagrams are ok with unicode

[2019-07-22 14:21] Mobe91 commented on #233
@habamax Just rendered a plantuml diagram without problems, so yes, it seems to affect ditaa diagrams only.

[2019-07-22 15:33] pepijnve commented on #233
Just to keep you guys posted, I'm getting the same problem in the Ditaa UTF-8 unit test on Windows 10. Still root causing...

[2019-07-22 16:30] pepijnve commented on #233
Bug in Ditaa right here https://github.com/stathissideris/ditaa/blob/master/src/java/org/stathissideris/ascii2image/text/TextGrid.java#L1561
They way it mangles the Strings there is just plain wrong. I'll fix that in my fork.

[2019-07-22 16:41] pepijnve commented on #233
Would you mind giving the fix in https://github.com/asciidoctor/asciidoctor-diagram/commit/4e96e5297c75781f75b6c0c8cdba1ed9233328b8 a try?

[2019-07-22 18:48] habamax commented on #233
How would I do it?

What I have tried:

1. git pull this repo
2. try to use it in a "dumb" way

ruby C:/Users/maksim.kim/projects/asciidoctor-pdf/bin/asciidoctor-pdf -r C:/Users/maksim.kim/projects/asciidoctor-diagram/lib/asciidoctor-diagram.rb -a pdf-theme="../.asciidoctor-setup/habamax-theme.yml" -a pdf-fontsdir="../.asciidoctor-setup/fonts/" test.adoc

This way it didn't work for me -- unicode

[2019-07-22 18:54] pepijnve commented on #233
Ok, that should have worked. I’ll do some more testing on my end.

[2019-07-22 19:04] habamax commented on #233
I think the issue is here https://github.com/pepijnve/ditaa/blob/de16361db241aaccd1c86c595fbf40a194455eb2/src/main/java/org/stathissideris/ascii2image/core/FileUtils.java#L60

it is either null encoding is passed or bad encoding is passed to the file reader making all unicode strings -> byte strings.

[2019-07-22 19:12] habamax commented on #233
Or probably here https://github.com/pepijnve/ditaa/blob/de16361db241aaccd1c86c595fbf40a194455eb2/src/main/java/org/stathissideris/ascii2image/core/ProcessingOptions.java#L61

Charset.defaultCharset() will return something windows-1251 or other non-unicode encoding on windows.

https://stackoverflow.com/questions/9312816/java-platforms-default-charset-on-different-platforms

[2019-07-22 19:27] habamax commented on #233
Indeed Charset.defaultCharset() is an issue here.

I have just used ditaamini.jar to convert a test file supplying encoding:

    java -jar ditaamini-0.12.jar -e UTF-8 test.adoc

and it worked!

![test adoc](https://user-images.githubusercontent.com/234774/61659290-d7c91c80-accf-11e9-9434-533103c1f466.png)

[2019-07-23 07:28] pepijnve commented on #233
Now that's odd, because that's essentially exactly what the ditaa integration is doing. There are a couple of parts to this:

1. At https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/ditaa/extension.rb#L57 the ditaa code is sent to Java#send_request
That's going to send an HTTP request to the Java processing daemon.
2. https://github.com/asciidoctor/asciidoctor-

[2019-07-23 07:42] habamax commented on #233
https://github.com/asciidoctor/asciidoctor-diagram/blob/4e96e5297c75781f75b6c0c8cdba1ed9233328b8/lib/asciidoctor-diagram/util/java.rb#L16

I can see ascii encoding to be set there...

[2019-07-23 07:44] pepijnve commented on #233
That's intentional :) The header part of an HTTP request is US_ASCII encoded. Switches to BINARY at https://github.com/asciidoctor/asciidoctor-diagram/blob/4e96e5297c75781f75b6c0c8cdba1ed9233328b8/lib/asciidoctor-diagram/util/java.rb#L44 before dumping the code contents.

I've been trying to reproduce the problem here but no luck so far. Before my change I was getting the same problem; after the c

[2019-07-23 07:48] habamax commented on #233
Could you try to use UTF-8 instead of `Charset.defaultCharset()` in ditaa default options just to check if it would work?

[2019-07-23 07:50] pepijnve commented on #233
The default encoding is never used since the exact encoding (`UTF-8`) is passed to Ditaa as a command line argument. In other words, that's already being done.

Let me add some debug logging to the Java code so we can figure out what's actually happening.

[2019-07-23 07:52] habamax commented on #233
Ok, got it.

And https://github.com/asciidoctor/asciidoctor-diagram/blob/4e96e5297c75781f75b6c0c8cdba1ed9233328b8/lib/asciidoctor-diagram/ditaa/extension.rb#L10

encoding is not in this OPTIONS, could it be that further it was not correctly sent to ditaa?

[2019-07-23 07:53] pepijnve commented on #233
It's not passed as a CLI argument. It gets extracted from the HTTP request Content-Type header. See https://github.com/asciidoctor/asciidoctor-diagram-java/blob/master/ditaa/src/main/java/org/asciidoctor/diagram/ditaa/Ditaa.java#L47

[2019-07-23 07:55] habamax commented on #233
Ok, you know it better :)

Just in case
https://github.com/asciidoctor/asciidoctor-diagram-java/blob/f028dfddec2293698a5b69085044251c71b6c229/ditaa/src/main/java/org/asciidoctor/diagram/ditaa/Ditaa.java#L47

Is charset of content type is correctly set up then?

[2019-07-23 07:57] habamax commented on #233
Looks like it should be UTF-8 looking at the constants

[2019-07-23 08:01] habamax commented on #233
And the last one :)

Could it be that ByteArrayInputStream corrupts the UTF strings?

https://github.com/asciidoctor/asciidoctor-diagram-java/blob/f028dfddec2293698a5b69085044251c71b6c229/ditaa/src/main/java/org/asciidoctor/diagram/ditaa/Ditaa.java#L70

[2019-07-23 08:36] pepijnve commented on #233
ByteArrayInputStream is simply going to return the bytes verbatim. It's when they get converted to a String that the actual decoding happens. Ditaa does that at https://github.com/pepijnve/ditaa/blob/master/src/main/java/org/stathissideris/ascii2image/text/TextGrid.java#L1267 which uses the configured encoding.

[2019-07-23 08:44] habamax commented on #233
Ok, so strategically placed printlns probably should help then.

[2019-07-23 08:47] pepijnve commented on #233
Is that something you would be comfortable doing? I don't have time to work on this right now, maybe this evening. The way I've debugged this stuff in the past is by starting up the Java daemon with a debugger manually and then patching the Ruby code to connect to the already running server instead of spawning a new one. Basically just hardcoding the port of the running daemon at https://github.co

[2019-07-23 08:59] habamax commented on #233
1. I don't have anything java dev related on my machines
2. I don't think I understand what should be exactly done when you describe "daemon... connect to running server" etc :)
3. I don't use ditaa at all (probably because it didn't work for me with unicode in the first place quite some time ago)

That said, I can for sure test the changes provided but setup correct dev environment and do even th

[2019-08-01 10:05] jmini commented on #213
I would be also interested by this feature.

We are starting to use draw.io for our diagrams, because we want/need the flexibility to style and arrange the diagram with some UI.

---

Yes absolutely. I wrote a [small note](https://j2r2b.github.io/2019/08/01/drawio-decompressed-xml.html) about the process and I think I will write a script that ensures that the files stays in their decompressed form

[2019-08-01 10:29] davidjgraph commented on #213
You can also add:

compressed="false"

to the file to stop compression. https://video.twimg.com/tweet_video/D_1QQ15X4AAZyVs.mp4

[2019-08-01 12:05] pepijnve commented on #213
I'm not objecting to this, but I still don't see how this would integrate in an asciidoctor workflow exactly. At the moment the diagram extension is focused on converting listing or literal blocks into image blocks.
I might be mistaken, but any form of draw.io embedding seems to require generating an iframe. There's nothing wrong with that, but that just doesn't fit well in the current architectur

[2019-08-02 06:51] mojavelinux commented on #213
I agree, this feels like a different extension. Asciidoctor Diagram is really targetted at ASCII-based diagramming. While draw.io also makes images, it's not the same paradigm. It's more like embedding a gist into a document. Asciidoctor extensions can certainly handle that requirement (see https://github.com/asciidoctor/asciidoctor-extensions-lab/blob/master/lib/gist-block-macro/extension.rb), ju

[2019-08-06 05:35] jmini commented on #213
Drawio has a command line tool:
https://j2r2b.github.io/2019/08/06/drawio-cli.html

It can produce `svg`, `pdf`, `png` or `jpeg` file.

I agree with you that the syntax to write one diagram is more XML:

[code]

And I expect people to use the diagram stored in `*.drawio` file instead of directly in the bloc (but this is also supported by asciidoctor-diagram)

I understand that the content being xm

[2019-08-06 05:49] mojavelinux commented on #213
Thanks for the clarification.

If we consider Asciidoctor Diagram to be a diagram creating tool from a source format, where the less visual input formats will be sourced from a file, then I could see how this could fit into the framework.

[2019-08-11 13:03] baronTommy opened #234 "Please support state-machine-cat"
## Please support state-machine-cat

- https://github.com/sverweij/state-machine-cat

![state-machine-cat](https://raw.githubusercontent.com/sverweij/state-machine-cat/master/docs/pics/smcat-full-small.png)

[2019-08-11 13:12] pepijnve commented on #234
:+1: should be aan easy one to add.

[2019-08-12 14:32] #234 closed

[2019-08-13 12:26] baronTommy commented on #234
![ありがとう](https://stickershop.line-scdn.net/stickershop/v1/product/1303592/LINEStorePC/main.png;compress=true)

[2019-08-22 23:11] joelsmith commented on #189
IMO, this is working well enough that this issue could be considered resolved and any subsequent bugs that may be discovered could be handled in their own issue.

What work remains on this feature? Documentations?

Thanks for adding another great diagram format!

[2019-08-22 23:12] pepijnve commented on #189
Thanks for the feedback. I left this open waiting for some feedback from @diguage who asked for this originally. If you're saying it works for you then I think this issue can be closed indeed.

[2019-08-22 23:12] #189 closed

[2019-09-12 07:41] ivanhjc opened #238 "FAILED: 'asciidoctor-diagram' could not be loaded"
When I try to parse a sample diagram by running

    $ asciidoctor -r asciidoctor-diagram index.adoc --trace

I get this error

    Traceback (most recent call last):
    	10: from /usr/bin/asciidoctor:23:in `<main>'
    	 9: from /usr/bin/asciidoctor:23:in `load'
    	 8: from /usr/share/gems/gems/asciidoctor-1.5.6.1/bin/asciidoctor:12:in `<top (required)>'
    	 7: from /usr/share/gems/gems/asci

[2019-09-13 14:37] mijlouis opened #239 "Variable substitution issue when converting to docbook"
Hello,
I have a document test-plant.uml which looks like

`= Project Title
author-prename author-lastname <author-email@company.com>
:toc:
**:test: plantUml/**

== Some Headline

.Architecture
image::./assets/Sample.png[Architecture]

[plantuml, "{test}_gen_diagram-classes", png]
....
class BlockProcessor
class DiagramBlock
class DitaaBlock
class PlantUmlBlock

BlockProcessor <|-- DiagramBlock
Dia

[2019-09-15 09:37] mojavelinux commented on #239
To get attribute substitution in a block attribute, the value must be enclosed in single quotes. The single quotes enable "interpolation" in the AsciiDoc sense. See https://asciidoctor.org/docs/user-manual/#attribute-list-substitutions

[2019-09-16 07:21] pepijnve commented on #239
@mijlouis does @mojavelinux answer solve the problem for you? I'm going to mark this as closed since the attribute substitution is handled by asciidoctor itself; not really a diagram specific issue.

[2019-09-16 07:55] pepijnve commented on #239
ok, reopening for further investigation then

[2019-09-16 07:57] pepijnve commented on #239
@mojavelinux who's responsibility is it to trigger the substitution logic? asciidoctor core or the extension receiving the attributes?

[2019-09-16 08:44] mojavelinux commented on #239
First, I was mistaken. Attribute references are always resolved in a block attribute list. So the quotes aren't even necessary:

[code]

(If you try that with the `asciidoctor` command, you will see it works).

The attributes are parsed before the extension runs, so there's nothing the extension should have to do here.

If that doesn't work, I'd look at how Asciidoctor is being invoked, because so

[2019-09-16 13:53] pepijnve commented on #239
@mijlouis sounds likely that this is an Asciidoctor IntelliJ plugin issue indeed. Are you having the same problem when you run asciidoctor from the command line?

[2019-09-16 16:17] mijlouis commented on #239
@pepijnve Yes, I used the command line to do the conversion.
The command I am using is

asciidoctor -r asciidoctor-diagram -b docbook -a leveloffset=+1 -a imagesdir=assets test-plantuml.adoc

[2019-09-16 18:30] mojavelinux commented on #239
That definitely works for me. What version of Asciidoctor are you using?

You'll probably need to provide a sample project for us to help you debug further.

[2019-09-17 07:04] mijlouis commented on #239
@mojavelinux I am using
Asciidoctor 2.0.10 [https://asciidoctor.org]
Runtime Environment (ruby 2.6.1p33 (2019-01-30 revision 66950) [x64-mingw32]) (lc:CP850 fs:Windows-1252 in:CP850 ex:CP850)

![image](https://user-images.githubusercontent.com/43267376/65018648-e297da80-d929-11e9-98ae-03fcddc7a6a2.png)

I provided already a sample project as attachment to the first Post. Is it not available ?

Tha

[2019-09-17 07:53] mojavelinux commented on #239
My mistake. I missed that.

[2019-09-17 08:08] mojavelinux commented on #239
Aha!

The problem is this attribute assignment: `-a leveloffset=+1`. That demotes the document title to a regular section title and demotes the document header to regular content. That means the implicit author line gets parsed a paragraph:

[code]

Since the attribute entries below the implicit author line are directly adjacent, they also get swallowed by the paragraph as normal content (which yo

[2019-09-17 11:10] mijlouis commented on #239
@mojavelinux and @pepijnve, thank you very much for your support and for helping me to solve the issue. The answer from @mojavelinux solved my problem.
Awesome!

[2019-09-17 11:10] #239 closed

[2019-09-17 11:17] mojavelinux commented on #239
Glad to hear it!

[2019-09-23 13:55] wimdeblauwe opened #240 "Support rotate of diagrams"
If possible, it would be great if diagrams could be rotated 90 degrees. For example, if you include a PlantUML sequence diagram, it can get quite wide. So if it could be rotated, it will be more readable (in the PDF output).

As a workaround, it is possible to have a landscape page, just with the diagram like this:

[code]

It is not completely the same of course, rotating the diagram would be bet

[2019-09-23 14:02] pepijnve commented on #240
This feels like something the rendering backend could take care of. Especially in PDF (and even in HTML these days), you can specify this type of transformation easily per image.
@mojavelinux do the html5 and/or pdf backends already have some kind of means to specify an affine transform matrix (or something similar) per image?

[2019-10-08 14:11] jul13nc opened #242 "Error generating PlantUml graph"
I'm using asciidoctor to generate plantuml graph within my documentation.
When I tried to generate the below graph (which seems valid according to the plantuml server

["plantuml"]
--------------------------
@startuml
package SomPackage {
    boundary boundary
    card card
    cloud cloud
}
@enduml
--------------------------

 the conversion reported the following error

Exception java.lang.Illeg

[2019-10-09 15:13] jul13nc commented on #242
I answer to myself, maybe this will help someone.

The problem was with the configuration of asciidoctor-diagram, I didn't set the graphvizdot attribute, so my local instance of graphviz was not found.

Setting it correctly solved my problem

To check if your install is ok, try generating the following graph
@startuml
testdot
@enduml

[2019-10-09 15:13] #242 closed

[2019-10-18 07:22] kristvanbesien opened #244 "How to set image attributes."
I understand that asciidoctor-diagram basically passes the diagram source to an external processor, saves the resulting image and then inserts this in the document.

Is it possible to add image attributes (like size, postion etc...) to the diagram block?

It would be nice to have more control over image size and positioning. Most of my diagrams end up occupying a whole page.

[2019-10-18 09:35] pepijnve commented on #244
That should already be possible. Any attribute you specify that is not consumed by the diagram processor itself should get passed on verbatim. In other words, you should be able to use any backend specific attribute you want to control the final size of the image.

[2019-10-18 09:48] pepijnve opened #246 "Add support for aafigure"
See https://github.com/aafigure/aafigure

[2019-10-24 04:03] manueljacob opened #247 "Have a way to embed SVG properly (to support interactivity) by default"
This has been discussed in the past (#20, #64), but back then it wasn’t possible to instruct AsciiDoctor to embed the SVGs in a way that they can be used interactively.

This is possible since some time: https://asciidoctor.org/docs/user-manual/#taming-svgs

It’s a bit tedious to specify e.g. `opts=interactive` in every plantuml block. Therefore it would be nice to enable that by default.

[2019-11-06 12:08] DrHST commented on #192
Hello , I work with maven

                <artifactId>asciidoctor-maven-plugin</artifactId>
                <version>2.0.0-RC.1</version>
                <dependencies>
                    <dependency>
                        <groupId>org.asciidoctor</groupId>
                        <artifactId>asciidoctorj-pdf</artifactId>
                        <version>1.5.0-beta.4</version>

[2019-11-14 09:53] ldz-w opened #250 "Add puppeteerConfigFile Option"
It appears that the asciidoctor-diagram options for [Mermaid](https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/mermaid/converter.rb) do not include the option `puppeteerConfigFile`, like the Mermaid CLI:

[code]

The config file is needed to fix a sandbox issue that occurs under certain circumstances, described [here](https://github.com/mermaidjs/mermaid.cli#l

[2019-11-14 12:00] knl commented on #231
Can I please get any response on this issue? Is this something planned to be fixed, or is it not recognized as a problem? Is there a workaround for this?

[2019-11-14 12:01] pepijnve commented on #250
I wasn't aware of that option (or the need for it). Thanks for letting me know.
Easy enough to add. PR welcome if you have the time.

[2019-11-16 08:09] pepijnve commented on #231
Sorry for the delayed response. Please understand that this project is maintained on a volunteer basis.

I opened the relevant project in my IDE to see how large a change this would require and it turns out I had everything done already, just hadn't committed it yet. I'll try to get this integrated asap.

[2019-11-16 16:35] knl commented on #231
Hi Pepijn,
Thanks for responding quickly. Awesome that you already have a fix. If I can help (not just with this issue), please let me know.

[2019-11-17 09:30] pepijnve commented on #231
Quick update, the fix I though I had unfortunately doesn't work. Setting the 'fail fast' option in the code has no effect whatsoever; it's only taken into account in PlantUML's file based processing code, not in the String based code. 🙄 Doesn't surprise me TBH.

The code that I'm using from PlantUML here is only 10-20 lines, so I'm going to inline that and add my own error intercepting logic. Just

[2019-11-17 15:18] pepijnve commented on #231
https://github.com/asciidoctor/asciidoctor-diagram-java/commit/b55ead6c5f568500ba2257464a35b1fe6aae07ea takes care of surfacing the errors as well as possible, but PlantUML is such a mess internally that it's impossible to get everything out.

The code path that reports that `dot` could not be found for instance still insists on swallowing the error, writing it out to an image and pretending every

[2019-11-17 18:29] #250 closed

[2019-11-19 09:32] knl commented on #231
Thanks a lot @pepijnve, looks great!

[2019-11-19 15:57] alonbl commented on #195
Hi,
I have a similar issue...
The plantuml has limitation of diagram size, in long sequence diagrams, the only method to see the hidden parts is to split into new pages.
Copying the participants is not sufficient as the grid is dynamic so the next diagram is not aligned.
Thanks,
Alon

[2019-11-22 09:46] DrHST commented on #192
<asciidoctor.maven.plugin.version>2.0.0-RC.1</asciidoctor.maven.plugin.version>
    <asciidoctorj.pdf.version>1.5.0-beta.**7**</asciidoctorj.pdf.version>
    <asciidoctorj.version>**2.1.0**</asciidoctorj.version>
    <asciidoctor.diagram.version>1.5.18</asciidoctor.diagram.version>

By using this versions the counting is working

[2019-11-22 09:49] pepijnve commented on #192
Thanks for the update @DrHST. I kind of suspected this would be an issue in asciidoctor core rather than the diagram extension and this confirms my hunch. The diagram extension asks the core to assign a caption to the generated image blocks, but doesn't actually do the numbering itself.

[2019-11-22 09:50] pepijnve commented on #192
The call to `assign_caption` at https://github.com/asciidoctor/asciidoctor-diagram/blob/v1.5.18/lib/asciidoctor-diagram/extensions.rb#L129 is what I'm referring to.

Is it ok for you to close this issue then since it seems you've been able to resolve the problem?

[2019-11-22 10:00] DrHST commented on #192
Hello Peijn,

I only hooked on the old issue of “rohel01”

For me – comparing with his example – it seems to be fixed…

Bye

Hendrik

PS: Thank you for your great work on asciidoctor-diagram

Von: Pepijn Van Eeckhoudt <notifications@github.com>
Gesendet: Freitag, 22. November 2019 10:51
An: asciidoctor/asciidoctor-diagram <asciidoctor-diagram@noreply.github.com>
Cc: Hendrik Timmermann <Hendrik.Tim

[2019-11-22 10:05] pepijnve commented on #192
Alright then. Closing since it worked for me, works for you now and we've had no other updates in over a year.

[2019-11-22 10:05] #192 closed

[2019-12-13 09:35] inponomarev commented on #247
I came here to write a new issue, but I see I'm not the only one facing this.

I need documentation with [syntrax](https://kevinpt.github.io/syntrax/index.html) diagrams, but their hyperlinks are dead because of wrong embedding of svg pics.

Our organization is using Ascciidoctor and Co. extensively, and we are ready to sponsor the work on a number of issues. Or, we are ready to hire a part-time R

[2019-12-13 10:24] mojavelinux commented on #247
You are getting in touch with Asciidoctor developers right now. This is literally how you do it.

Then set `opts=interactive` or `opts=inline` on the diagram block. Then you will get the result that you want.

[2019-12-13 12:49] pepijnve commented on #247
@inponomarev as @mojavelinux said, you came to the right place.

It shouldn't be too hard to add a global and per-block option for this. Let me see what I can do.

[2019-12-13 13:04] pepijnve commented on #247
@inponomarev with 2bf075f you can now add either `svg-type=...` per block or `diagram-svg-type` as a document attribute to control the SVG style. You can set the attribute to `static`, `interactive` or `inline`. This will result in `opts=...` being added to the generated image block as described at https://asciidoctor.org/docs/user-manual/#taming-svgs.
The `static` option is intended to allow you

[2019-12-13 18:48] mojavelinux commented on #247
@pepijnve I like your idea. I do believe it needs to come from the extension because context is important. I thought about having global enablement of the type for all images, but then static images would be affected and that's likely not the result we want. When Asciidoctor Diagram generates an SVG, it can then add the option given that it knows what it's making.

[2019-12-14 11:17] #247 closed

[2019-12-15 12:40] #231 closed

[2019-12-15 12:40] pepijnve commented on #206
The code for all this is integrated on `master` and will be included in v2.0.0

[2019-12-15 12:40] #206 closed

[2019-12-16 19:55] Mogztter opened #253 "Add support for utxt (unicode plain text) on PlantUML"
I believe that currently only `txt` is supported on PlantUML right? I think we should also support `utxt` (unicode plain text).

Reference: https://plantuml.com/fr/ascii-art

[2020-01-07 12:46] habamax opened #254 "Use stdin/out instead of TCP socket is broken on Windows"
TLDR; https://github.com/asciidoctor/asciidoctor-diagram/issues/254#issuecomment-571632957

After I have updated gem to v 2.0.0 asciidoctor-diagram doesn't work for me.

Win10, ruby 2.6, ruby 2.7 with current asciidoctor and asciidoctor-pdf.

More details: https://github.com/asciidoctor/asciidoctor-pdf/issues/1473

# Test File
[code]

# command
`asciidoctor-pdf -r asciidoctor-diagram issue-1473.ad

[2020-01-07 13:29] habamax commented on #254
Close for now as I am not sure what was the real reason.

[2020-01-07 13:51] pepijnve commented on #254
I'm not sure what's getting stuck to be honest. I tried reproducing the problem here with the example you provided, but it seems to work just fine for me.

[2020-01-07 14:10] habamax commented on #254
I can reproduce it on win10, ruby2.7

[2020-01-07 14:13] pepijnve commented on #254
Which Java runtime do you have installed? asciidoctor-diagram spawns a Java VM to run PlantUML so that could have an influence too.

[2020-01-07 14:26] habamax commented on #254
java version "1.8.0_211"
Java(TM) SE Runtime Environment (build 1.8.0_211-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.211-b12, mixed mode)

[2020-01-07 14:33] habamax commented on #254
I have tried again...

![image](https://user-images.githubusercontent.com/234774/71902713-aeb02180-3173-11ea-93e6-7119709d43f8.png)

Waiting for 5 minutes before screenshot

[2020-01-07 14:41] pepijnve commented on #254
Puzzling... I tried quickly with a 1.8 JRE and ruby 2.7; works fine on macOS. Unfortunately I'm afraid I don't have time right now to set up a Windows reproduction environment.

[2020-01-07 15:22] habamax commented on #254
I have bisected it to

[code]

[2020-01-07 15:36] habamax commented on #254
For now I have just checkout the latest "good" commit and use it.

I have looked into the code and was not able to find out the real reason. Obviously `CommandServer` is involved but I have no expertise here/

[2020-01-07 17:58] habamax commented on #254
@pepijnve could you give me intro on what is this change for and possible ways to solve it?
Plus, do I have to have anything else apart jdk and ruby?

[2020-01-07 20:02] habamax commented on #254
`bundle exec rspec` also hangs:

![image](https://user-images.githubusercontent.com/234774/71925279-bc7c9b80-31a1-11ea-960e-00174e2a5fe1.png)

[2020-01-07 21:05] mojavelinux commented on #254
Let's be careful with this so we don't give the wrong impression. We do test continuously only Windows through AppVeyor. So we don't mean that we aren't testing on Windows. But debugging takes extra effort and obviously a local environment takes time to set up. But there are virtual machines available for Windows (https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/) to help with that.

[2020-01-07 21:06] mojavelinux commented on #254
...so @habamax, could you test using the referenced virtual machine and give a list of steps you took to get it set up so that, if @pepijnve has time, he is able to quickly spin up that environment and get to where you are?

[2020-01-08 00:48] abelsromero commented on #254
I have been able to reproduce it in a pretty clean Windows 10 Home installation I have.
If you can point me where to look, I can do some extra research. For now I am just dropping everything here :%
Here is the info of my environment:

$> systeminfo
[code]

I installed ruby, java & graphviz with chocolately
[code]

A simple asciidoctor example hangs, and also I cloned the repo and run these comman

[2020-01-08 01:17] abelsromero commented on #254
I replicated the installation in another machine I have with Windows 8.1 and the issue also happens with latest versions od asciidocotr & asciidoctor-diagram.

Downgrading to previous versions works with this small test doc

[code]

Tomorrow I'll try and check the commit mentioned

[2020-01-08 02:03] mojavelinux commented on #254
It looks like the last successful build on AppVeyor was 7 months ago. I hadn't realized that wasn't passing.

@abelsromero Is the error AppVeyor is reporting the same? If not, perhaps we should see whether we can get AppVeyor to use a different version of Windows. It's important that AppVeyor reflect the experience of Windows users.

[2020-01-08 08:02] abelsromero commented on #254
Appveyour builds fail during pre-requisites intallations last on during `npm install -g wavedrom-cli` and previous ones `cinst graphviz.portable`. So the build is not even getting to the error.

According to documentation Github actions is Windows Server 2016 o 2019, same as Appveyour. We can try and see.

[2020-01-08 09:05] habamax commented on #254
Is it still needed? If so, what type of vm should I use?

[2020-01-08 09:07] mojavelinux commented on #254
I've linked to it: https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

The reason the virtual machine is useful is because we can all test on exactly the same machine. You can use it to create step-by-step instructions to get everyone on the same page.

Though, from the sound of it, we are seeing this same issue on almost any Windows machine, so there probably isn't much in the way of

[2020-01-08 09:17] habamax commented on #254
From the link I should select type of the vm
![image](https://user-images.githubusercontent.com/234774/71965148-2af84280-3210-11ea-9dd1-8b46474f6df0.png)

Or it doesn't matter?

Indeed. Just to clarify, this vm runs on your local machine, right? Not in the cloud everyone can login to and see the same as I do?

Yes, that was my thought when I asked about whether it is still needed for this issue.

[2020-01-08 09:40] mojavelinux commented on #254
VirtualBox is the most portable choice in my experience.

That's correct. Think of it like Docker, but for Windows.

[2020-01-08 09:45] pepijnve commented on #254
Looks like I broke Windows support with my TCP -> stdin/stdout change 😱 It's not entirely surprising that this works a bit different on Unixes vs Windows. I'll have a look and see where things get stuck.

We'll have to get Windows CI builds back up and running to avoid this kind of regression. Appveyor has been quite a pain to use, so I haven't been paying much attention to it. My bad.
I noticed y

[2020-01-08 09:49] mojavelinux commented on #254
Absolutely. Or GitHub Actions. AppVeyor is not the only game in town anymore. https://github.com/features/actions

[2020-01-08 10:43] pepijnve commented on #254
One missing character 🤦‍♂

@habamax since you were asking how this stuff worked:

PlantUML is written in Java. Launching a new instance of PlantUML for every individual diagram is prohibitively slow when dealing with large documents with many diagrams. The JVM just takes too long to start up. To speed this up we need a way to launch the JVM once and reuse it.

One solution for that would be to lau

[2020-01-08 10:44] pepijnve commented on #254
@habamax could you check if commit eee4c50 fixes the problem for you?

[2020-01-08 11:00] habamax commented on #254
I have pulled the latest and it works!

(I have deleted asciidoctor-diagram gem just to be sure I use the right one)

Thank you!

[2020-01-08 11:05] pepijnve commented on #254
Excellent. I just released v2.0.1 with just this fix.

[2020-01-08 11:05] #254 closed

[2020-01-08 11:16] habamax commented on #254
have tested new gem -- looks good!

[2020-01-08 19:52] abelsromero commented on #254
👍 also validated in both my machinges, win 8.1 & 10.

[2020-01-09 08:17] JoostvanPinxten opened #255 "PlantUML rendering hangs on Windows 10"
After installing the latest (2.0.0) Asciidoctor-diagram, asciidoctor does not produce output anymore, and the terminal hangs indefinitely. The previously installed version (1.5.18) did produce output for our cases. A fresh install with 2.0.0 asciidoctor-diagram on a different Windows machine yielded the same results.

After some debugging, we found out that the reason seems to be the conversion of

[2020-01-09 08:25] pepijnve commented on #255
Thanks for reporting this. #254 covers the same problem. This was fixed yesterday and the fix has been shipped as part of release 2.0.1. Upgrading should resolve the problem.

[2020-01-09 08:25] #255 closed

[2020-01-09 08:33] JoostvanPinxten commented on #255
Fantastisch! Thanks for fixing it.

Too bad we parked it before the other bug was filed, and I forgot to check the closed bugs again...

[2020-01-09 09:04] mojavelinux commented on #254
Thanks @pepijnve! You're a :star:!

[2020-01-11 14:07] jmdesprez opened #256 "Top and bottom text ignored when generating meme"
Hello,

Given the following ascii-doc file `meme.adoc`:
[code]
_(yunoguy.jpg exists on the filesystem)_

And the following `Gemfile`:
[code]

The command `bundle exec asciidoctor -r asciidoctor-diagram meme.adoc` produce an image with no text at all.

_Disclaimer: I'm not a ruby developer_
After a while, I've manage to make it work by patching `lib/asciidoctor-diagram/meme/converter.rb` like this:

[2020-01-15 16:21] hunch7 commented on #213
When you export a diagram in draw.io, there's an `Include a copy of my diagram` option. Exporting a visual format file, say .png, with this option checked allows you to then open that .png with draw.io (cloud or desktop) in the edit mode, so no need to keep the .drawio file.

This way you don't have to mess around exporting XMLs, putting them in your source code, and keeping the .drawio file. You

[2020-01-18 08:22] #256 closed

[2020-01-20 16:10] roland-hediger opened #257 "Generating HTML or PDF output of a document with an incorrect mermaid diagram causes hanging"
Hi there asciidoctor-pdf devs,

I am currently using asciidoctor pdf for my dissertation. Its working out great so far.
I am using the following code in my documenté
[code]
I left out some irrelevant stuff.
Nevertheless when running my document generation using the following command
[code]
I am running Mac OSX Catalina, and I used `yarn global install  mermaid.cli` to install mermaid.

I am runnin

[2020-01-21 06:42] Kira-Cesonia opened #258 "Includes wrong diagram"
I was asked to post the following issue in this project instead of asciidoctor-intellij-plugin:

The issue is highly counter-intuitive logic when including diagrams such as from PlantUML in the IntelliJ plugin. I was told by a contributor that this is caused by the underlying Asciidoctor Diagram logic

I am using the following statement to include a Plant UML diagram on a page:
[code]
However, ins

[2020-01-21 07:35] pepijnve commented on #258
Scratching my head on this one. I'll try to reproduce the problems your describing and let you know what I find.

Regarding
[code]

that's a curious way to do this. With this syntax, asciidoctor core is processing the `include::` bit; asciidoctor-diagram never even sees it. Not sure why it would resolve to the wrong file.

You can use the block macro to achieve the same result with fewer moving pa

[2020-01-21 07:39] pepijnve commented on #257
@mojavelinux that was my initial thought when reading 'a never ending loop' as well, but that issue is only applicable to Java based generators on Windows. This is mermaid (JS) on macOS, so probably something different.

[2020-01-21 07:39] mojavelinux commented on #258
My guess is that an earlier run resulted in a file being placed into the cache with the contents of a different diagram. @Kira-Cesonia, are you aware of how to discard the cache? Does it still happen then?

I agree that the plantuml block macro is more suited for this task.

[2020-01-21 07:40] mojavelinux commented on #257
Ah, thanks for clarifying.

[2020-01-21 07:47] pepijnve commented on #257
@roland-hediger looks like a mermaid issue. If I try to run your diagram through `mmdc` manually I get the following output

[code]

That last statement explains why the process never exits. Running `node --unhandled-rejections=strict /usr/local/bin/mmdc -o test.svg -i test.mmd` instead does cause the process to quit as expected. I'm not 100% sure how we should deal with this yet.

[2020-01-21 07:59] pepijnve commented on #257
I've logged https://github.com/mermaidjs/mermaid.cli/issues/77 to track the issue in the mermaid project. I think in the meantime invoking node directly is probably the only thing we can do in the context of asciidoctor-diagram.

[2020-01-21 08:46] Kira-Cesonia commented on #258
Interesting, however, I note that while this solution prevents the wrong diagram to be included on all occasions...:
[code]
...this one, while working, still includes the wrong diagram at times:
[code]
The reason for this is an import in another file that was phrased as this:
[code]
So, what happened?
Apparently at some point during the project, `containers.puml` was renamed to `external-component

[2020-01-21 09:00] pepijnve commented on #258
I'll have a think about how we can improve this, but fundamentally what you're asking the system to do is very poorly defined.

When you write `plantuml::../diagrams/containers.puml[]` the system will generate `containers.png`. The image file name is derived from the source file name.
When you then add
[code]
that `"containers"` target attribute is also explicitly telling the system to generate `c

[2020-01-21 09:04] mojavelinux commented on #258
I like the idea of generating a warning if the same filename is used twice in the same conversion. The only case that would be valid is if the same diagram is being shown in two different places in the document...but even then I would recommend two different filenames.

[2020-01-21 09:30] Kira-Cesonia commented on #258
I think the point would be to throw a warning, or maybe even an error if a directive would cause the system to try and create a file with a filename that already exists. Any other system I can think of will either throw an error or a warning in that case.

If you try to create a file with a name that already exists in pretty much any operating system, you will get a warning and a question of wheth

[2020-01-21 09:36] mojavelinux commented on #258
Asciidoctor doesn't work that way. We log messages, then you can decide which level of message should produce a program failure. The reason for this is that many users of Asciidoctor are *not* programmers and an aborted program is unfriendly to that audience and is perceived as a crash (not to mention disruptive to writing). We try to be informative to help the writer course correct in the next ro

[2020-01-21 09:38] mojavelinux commented on #258
To you. But as Pepijn points out, what you've done is actually valid operation. It just isn't desirable. The program cannot read your mind. But as we've discussed, it's reasonable to add an assumption that no two diagram blocks should have the same name (which is a new assumption), which would help avoid this type of user error and thus be more friendly.

[2020-01-21 09:51] Kira-Cesonia commented on #258
Okay, let me ask it like this:
Can you think of _any_ Use Case where someone explicitly defines the name of a diagram to be used at a position, but does not actually want that diagram to be used at that position?

[2020-01-21 09:57] mojavelinux commented on #258
You're looking the problem only through the lens of your situation. How is Asciidoctor Diagram going to make any sense of a name mixup? You named one diagram something in English, another diagram something in English, and to you, the names are wrong. To Asciidoctor Diagram, it sees a string of characters. For all it knows, that's what you meant. You are the one that mixed up the names, not Asciido

[2020-01-21 14:42] roland-hediger commented on #257
Thanks @pepijnve , This means that my latest test results correlate with your error -- even in the case of a syntactically correct diagram (which can be generated with mmdc on its own - asciidoctor diagram still hangs.

[2020-01-21 22:23] ahus1 commented on #258
@pepijnve - As a proof of concept I've added a monkey-patch based on 1.5.18 version of the asciidoctor-diagram that is currently used in the IntelliJ plugin.

My ruby skills are limited, feel free to criticize, improve or discard it. I'm looking forward to throw away this piece of code as soon as possible 🙄

The method [check_duplicate_target()](https://github.com/asciidoctor/asciidoctor-intellij-

[2020-01-22 08:08] pepijnve commented on #258
@ahus1 thanks for getting the ball rolling on this one. @mojavelinux any suggestions as to what the most appropriate way to do this is?

[2020-01-24 14:46] eidottermihi commented on #213
@hunch7 this is a really elegant solution, thank you for sharing

[2020-01-26 14:07] chunlinyao opened #259 "plantuml.jar lack js files for math diagram"
The plantuml.jar included in asciidoctor-diagram not include these two js files:
[code]
When I include this math diagram in adoc, It thrown NullPointerException.

[code]

This is the error log:
[code]
This diagram can generated image correctly by my plantuml server. Which is started by `docker run -d -p 8080:8080 plantuml/plantuml-server:jetty`

Replace the plantuml.jar with the offical version fi

[2020-01-27 06:09] RalfJahns opened #260 "Please update plantuml version for bugfix"
I have asciidoctor-diagram version 2.0.1, which includes the plantuml 1.2019.12 (at least that is the version in my ~/.rvm/gems/ruby-2.6.3/gems/asciidoctor-diagram-2.0.1/lib folder) from beginning of November last year.
Unfortunately there is a bug in this version, that breaks some of my sequence charts. The bug is already accepted and fixed by the project in the latest version of plantuml, see he

[2020-01-27 07:01] inponomarev opened #261 "Syntrax diagrams SVG dimensions problem -- cropped diagrams"
Hello,

the way the SVG output of Syntrax is embedded into HTML is not working correctly in all browsers.

For example definition +++[syntrax,script,svg,opts=interactive]+++ turns into <svg ... width="468" height="271" > </svg> (see example [here](https://courseorchestra.github.io/celesta/#CelestaSQL))

But diagrams appear to be cropped in IPhone's Safari and in print preview of Firefox, see scree

[2020-01-27 07:14] mojavelinux commented on #260
I can confirm that this can be fixed by grabbing the latest version of the plantuml distribution (ASL license) from https://plantuml.com/download#asl, extracting the jar, and putting it into the lib folder. All the existing tests pass, and the provided example works too.

[2020-01-28 10:46] slonopotamus commented on #258
Is asciidoctor-diagram the only extension that generates images during conversion process? Can't it be that there is a collision between multiple extensions?

[2020-01-28 19:39] slonopotamus opened #262 "safe-mode + (outdir != sourcedir) == jail violation"
Please, see my [repro repository](https://github.com/slonopotamus/diagram-vs-safe-mode).

It has a single `book/book.adoc`:

[code]

And it tries to convert that book to a different directory:

[code]

But suddenly, this produces warnings:
[code]

And as a result, `book/cool-diag.png` is created instead of `output/cool-diag.png`.

Expected: no warnings + `cool-diag.png` is created in `output` dire

[2020-01-28 20:56] mojavelinux commented on #262
I think this is more of a core issue. The jail mechanism has never really been fully fleshed out. It was more of a paranoid mode than a truly useful one. This is a good example. I've long wanted to rework it so it behaves more logically.

[2020-01-28 21:11] slonopotamus commented on #262
I possibly agree, though don't know how to reproduce it with core standalone. I guess you have permissions to transfer issue to core.

I  came across this bug because it turned out that `Asciidoctor.convert_file` default to `SAFE` mode (unlike CLI that defaults to `UNSAFE`), so I assumed `SAFE` mode is something that is used pretty extensively.

[2020-01-28 21:14] mojavelinux commented on #262
There's a weird history around it. Basically, it had to be that way for Asciidoctor to work on GitHub, even though GitHub doesn't actually use any features that are affected by it.

[2020-01-29 10:51] Kira-Cesonia commented on #258
Good question, how can I check that?

[2020-01-30 10:23] slonopotamus opened #263 "'unterminated block' when diagram is put into a table cell"
Given `book.adoc`:

----
[code]
----

Attempt to convert produces a warning:
[code]

Also, resulting table is corrupt:
![image](https://user-images.githubusercontent.com/92637/73440921-377d4000-4363-11ea-87b9-44775ef85f62.png)

However, same diagram works properly if put outside of table cell.

[2020-01-30 10:43] mojavelinux commented on #263
You need to change the table cell separator if you're going to use the original on in the content of the cell. (The alternative is to escape it, but in this context that's much less convenient). See https://asciidoctor.org/docs/user-manual/#escaping-the-cell-separator. This is not a bug, it's a feature.

[2020-01-30 10:46] slonopotamus commented on #263
Woah, cool.

[2020-01-30 10:46] #263 closed

[2020-01-30 10:50] mojavelinux commented on #263
:+1:

[2020-02-09 14:29] Mogztter commented on #253
@pepijnve I believe this is now fixed right? Should I close this issue?

[2020-02-10 08:27] pepijnve commented on #253
There are some loose ends I still wanted to check.  When you request the `atxt` output mode, the diagram plugin sends a request with `Accept: text/plain; charset=us-ascii` to the java server. Strictly speaking that's not correct since PlantUML may still generate Unicode characters if your diagram source contains non-ASCII text. It would probably be more correct to use some custom mime type instead

[2020-02-10 16:55] Mogztter commented on #253
Ok :+1:

[2020-02-11 15:42] gotnone opened #264 "Debugging on cygwin"
Hi,
I had been using asciidoctor-diagram as recently as three weeks ago on a Windows 7 + cygwin computer.  Yesterday, when I went to use it to update a document containing a ditaa diagram, it no longer worked.  Between the time when it was working and yesterday, I know that the base cygwin was updated and most likely the java runtime environment, too.

I know that there have been some changes with

[2020-02-11 22:05] mojca commented on #110
Another user raising hand due to the same issue.

I would like to keep a clear separation between generated images and the ones provided by the user, else it becomes all too easy to overwrite the originals.

[2020-02-11 23:30] mojca opened #266 "Non-functional binaries in PATH containing spaces"
I happened to let `gnuplot` do the default installation under `C:\Program Files\gnuplot\bin\gnuplot.exe`.

However when running asciidoctor on the file it seems to get stuck at https://github.com/asciidoctor/asciidoctor-diagram/blob/5e7dcfb7e9251502b6499ccc8410de5b651e9dde/lib/asciidoctor-diagram/util/cli.rb#L64 due to `*args` (`["C:\\Program Files\\gnuplot\\bin/gnuplot.EXE"]'`) being split at whi

[2020-02-11 23:35] mojavelinux commented on #266
I believe if the command is passed as an array instead of a string, it will not be parsed. That's the change that should be applied to fix this problem.

[2020-02-11 23:44] mojavelinux commented on #266
In fact, it works if there's at least one empty argument:

[code]

or the shell is disabled:

[code]

If there are no arguments, then it tries to parse the first parameter.

Another way to do it is to use Shellwords:

[code]

[2020-02-12 00:24] mojca opened #267 "Gnuplot on Windows: Failed to generate image: Invalid PNG signature"
The default `gnuplot` terminal seems to be `png`, but it seems to be defunct on Windows.

Unless I explicitly change the image type to something different like `svg`, I cannot do anything  with the terminal at all.

It seems to help if I add `:binmode=>TRUE` to https://github.com/asciidoctor/asciidoctor-diagram/blob/5e7dcfb7e9251502b6499ccc8410de5b651e9dde/lib/asciidoctor-diagram/util/cli.rb#L64

[2020-02-12 00:33] mojca commented on #266
I'm not familiar with ruby, but I would tend to almost call this a bug in ruby.

The documentation of `capture3` never explicitly promises to handle arrays, but it says it forwards parameters to `popen3` and `popen3` docs kind of says that it should work:
[code]
even though reading the source code doesn't make one any more optimistic.

[2020-02-12 00:49] mojca opened #268 "After changing gnuplot image size, plots are not regenerated"
If I change important parameters like
[code]
the resulting graphics are not regenerated until I delete the images or the cache.

[2020-02-12 07:47] mojavelinux commented on #267
I agree that the binary flag should be set when working with input and output so it works on Windows. Linux seems to work either way since it doesn't mess with newlines, whereas Windows does. The binary flag turns off that implicit conversion.

[2020-02-12 07:48] mojavelinux commented on #266
It's certainly a very surprising "feature". We'll need to watch out for this.

[2020-02-12 13:13] RandomCore commented on #254
I just stumbled across this issue and may (still) have the same:
[code]
This hangs.
I use Windows 10 and cygwin.
Some version info:
[code]
Any ideas?

[2020-02-12 19:01] gotnone commented on #264
It appears that the problem I am encountering is related to upgrading cygwin.  I tried to downgrade the cygwin to v3.0.7-1.  This allows asciidoctor-diagram to work again.  When I stepped this forward to v3.1.1-1 the communication with the java server again failed as noted previously.

The actual changes that caused the problem were most likely introduced in v3.1.0-1, which was quickly replaced by

[2020-02-12 20:10] gotnone commented on #264
It looks like this may have been fixed in recent snapshots of cygwin

https://cygwin.com/ml/cygwin/2020-01/msg00322.html

[2020-02-12 20:46] pepijnve commented on #268
Only the diagram contents were taken into account when deciding to regenerate an image or not. Since asciidoctor-diagram v2.0.0 the common code that makes this decision has access to all the option values and with commit d4ac07f it should also detect changes to the options and regenerate the image.

[2020-02-12 20:59] pepijnve commented on #266
The error message is `No such file or directory - C:\Program Files\gnuplot\bin/gnuplot.EXE`. So `capture3` is not splitting the argument; it just can't resolve the given path. Most likely this is due to the mix of `/` and `\`. I'm not sure which one `capture3` expects. I'll need to find some time to revive my Windows VM to figure this one out.

[2020-02-12 21:04] pepijnve commented on #259
The files you mentioned are LGPL licensed and as a consequence they cannot be included in this extension. The bundled PlantUML jar is the ASL licensed one. I do not wish to relicense this extension under LGPL so you're request is simply not possible at the moment.

[2020-02-12 21:04] #259 closed

[2020-02-12 21:06] #260 closed

[2020-02-12 21:07] #267 closed

[2020-02-12 21:18] mojca commented on #266
I don't think you need a Windows VM to reproduce the problem.
[code]

[2020-02-12 21:29] mojca commented on #267
Thank you.

[2020-02-12 21:32] mojca commented on #266
Also note that when `gnuplot` is located in some path without spaces, asciidoctor-diagram would pass `C:\\Programs\\gnuplot\\bin/gnuplot.EXE` (as printed from `puts`, so backslashes are just escaped) to `capture3` and that one works flawlessly. So I'm pretty sure the issue is not with (back)slashes.

[2020-02-12 23:30] gotnone commented on #264
### Solution
Using version cygwin v3.0.7-1 or a snapshot or version **after** 2020-01-14 fixes the problem with pipes and non-cygwin processes.

### Bottom Line
Don't use cygwin v3.1.1-1 or v3.1.2-1 and expect pipes with non-cygwin processes to work correctly.  Asciidoctor-diagram components that rely on launching a separate process will hang with these versions of cygwin.

[2020-02-12 23:30] #264 closed

[2020-02-13 08:00] pepijnve commented on #266
Observe the difference in errors:
`No such file or directory - test1`
versus
`No such file or directory - C:\Program Files\gnuplot\bin/gnuplot.EXE`

In the first case the string has been split and the error only shows the first part of the string. In the second case the entire path is shown, including the space between Program and Files. The split on the space did not happen. The space split thing

[2020-02-13 08:08] pepijnve commented on #264
Thanks for investigating so thoroughly @gotnone. Happy to hear you've been able to resolve the problem.

[2020-02-13 08:39] pepijnve commented on #266
So the issue was and wasn't the space 😄

The major gotcha you and @mojavelinux hinted at is the difference between the three variants of Kernel#spawn
[code]

Most of the commands were using variant 2 since they pass command line arguments. For Gnuplot there are no arguments for the command and as a consequence we were triggering variant 1 instead. One uses shell based execution, the other does not

[2020-02-13 08:39] #266 closed

[2020-02-13 08:42] #268 closed

[2020-02-13 09:04] pepijnve commented on #254
@RandomCore could this be related to #268?

[2020-02-13 09:40] RandomCore commented on #254
I don't think so. I start with the above example.adoc in an otherwise empty directory and it hangs on the first asciidoctor start. Which implies, there is no graphic generated.

Can I do something else, to help debug this?

[2020-02-13 09:59] pepijnve commented on #254
Ok, please open a new issue in that case. Could look up which version of cygwin you're using. As #268 showed differences in the cygwin runtime library can also cause different behaviour at the application level.

[2020-02-13 11:04] RandomCore opened #269 "Cygwin: Asciidoctor hangs on asciidoctor-diagram use"
I just stumbled across the issue #254 and may (still) have the same problem under Cygwin (versions below):
[code]
This hangs for ever and no output (example.html or .asciidoctor/structure.png) is generated.

I use Windows 10 (Professional Ver 10.0 Build 18363) and a recent cygwin (v3.12).
Some more version info:
[code]
Any ideas?

[2020-02-13 16:37] hackingotter opened #270 "Allow setting options for svgbob"
It would be nice to be able to set options for svgbob like you can for other diagrams like ditaa.

I implemented this: #265

[2020-02-13 22:05] triaubaral opened #271 "umlet converter does not work properly"
I am working with asciidoctor plugin from eclipse.
I set into my path the adress to umlet v14.3 tool (c:\tools\umlet\) where resides the umlet.jar executable file.
I tried to render an umlet diagram with the following syntax inside my asciidoc document :

[code]

I also tried the alternative syntax with file reference :

`umlet::testfile.uxf[]`

Both syntaxes lead to the same unexpected result : i

[2020-02-19 07:05] habamax commented on #233
@pepijnve looks like you somehow fixed this issue :)

![image](https://user-images.githubusercontent.com/234774/74809897-48d0c100-52ff-11ea-9ab6-4490a7e99285.png)

![image](https://user-images.githubusercontent.com/234774/74809941-64d46280-52ff-11ea-9ff6-d958bc48bc2a.png)

[2020-02-19 08:30] habamax commented on #233
it is most probably your new implementation of server communication which landed in 2.0.0 (and was fixed for windows in 2.0.1)

@Mobe91 could you also check if it works for you?

[2020-02-24 19:18] #233 closed

[2020-03-02 09:26] AlexCzar opened #272 "Mermaid: stateDiagram is not supported"
When I try to render mermaid stateDiagram asciidoctor process just hangs.
AsciidoctorJ 2.2.0 (Asciidoctor 2.0.10)
Looks like it is related to mmdc problem.
Kroki renders stateDiagrams fine, so I have to manually pre-render them and then include as images into adoc. Effectively mermaid integration is broken.

[2020-03-02 13:25] knl opened #273 "Running asciidoctor doesn't fail on ditaa error"
## Description of the problem

If I use the following, faulty adoc, saved as `index.adoc`:

[code]

with the following command:

[code]

I would expect that the command fails, instead of silently succeeding.

## Other information

[code]

[2020-03-03 19:36] pepijnve commented on #273
@knl there have been requests for both log-and-continue and abort. You can control this using the `diagram-on-error` document attribute. The valid options are `log` and `abort`. In case of `abort` asciidoc processing will stop at the first error.

[2020-03-03 19:55] pepijnve commented on #261
I did some quick checks and this seems to be caused by the CSS style that gets applied to get containing `object`. If I disable `max-width: 100%` for instance, then it seems to render correctly.

I'm not really a CSS expert I'm afraid so I'm not sure what the 'correct' fix is here.

[2020-03-03 22:13] knl commented on #273
Thanks @pepijnve, I was not aware of this attribute. I can confirm that with this invocation, it works:

[code]

However, strangely, with the following one, it fails to fail:

[code]

The difference is in `-a ditaa-format=svg`. If I run it with explicit `-a ditaa-format=png`, the call properly fails on error.

[2020-03-05 10:37] mojavelinux commented on #261
The max-width is important to prevent the object from overflowing the bounds. The problem here seems to be that we're hitting a browser bug, because the described behavior is not to spec.

You could try opts=inline instead of opts=interactive. See what that gives you.

[2020-03-05 11:41] pepijnve commented on #261
@mojavelinux It wasn't clear to me what should actually happen until I read through https://css-tricks.com/scale-svg/.
My conclusion from reading that is that we need to pick an option and massage the generated SVG accordingly. What's not clear yet is which sizing option we actually want.

[2020-03-10 07:32] Kaligule commented on #64
Just for completness: You can do `[graphviz, format=svg, opts="inline"]` now, which will make links clickable.

[2020-03-10 09:12] RandomCore commented on #269
Version v1.5.3 fixes the problem. Thanks.

[2020-03-10 09:12] #269 closed

[2020-03-18 18:46] johnnyutahh opened #274 "When/can/how github.com auto-render ditaa and plantuml from .adoc files?"
When/can/how github.com auto-render `ditaa` and `plantuml` blocks when viewing (from github.com) .adoc files?

I suspect this is a FAQ, but I could not find a previous answer.

**Details**

I want github.com to render images in an .adoc like the following example but _without_ resorting to hard-coding the image references (as in `image::sample-ditaa-diagram.png[]`).

https://github.com/asciidoctor

[2020-03-18 19:09] pepijnve commented on #274
@johnnyutahh that's a feature request for GitHub itself, which I don't have any control over whatsoever. There's nothing inherently preventing GitHub from doing this.

[2020-03-18 19:09] #274 closed

[2020-03-19 02:05] johnnyutahh commented on #274
Yes, of course, I'm aware of that. What I'm therefore effectively asking: is there some way (some configuration, tweak, etc that y'all know that I do not) to get github.com to do it?  And if it does not work, it'd be interesting to see what if anything y'all have tried to 1) "tweak" it work or 2) ask github.com to do something about it. (They already do .adoc renderings... so there was some sort o

[2020-03-19 07:47] pepijnve commented on #274
It's more a matter of having no contacts at GitHub to request this and having no influence whatsoever over what the GitHub team does. I have no idea how the GitHub code uses asciidoctor or asciidoctor-diagram exactly. I can't give you any advice here. Maybe (really big maybe) @mojavelinux can tell you a bit more.

If you're trying to ge in touch with GitHub product management, then this project's

[2020-03-19 08:07] mojavelinux commented on #274
I have contacts at GitHub, but that's not how GitHub works. No matter who you know, GitHub requires that you communicate via support. If enough requests are made through that channel, they may (or may not) decide to implement a feature. I don't see that changing.

You're free to make the case and perhaps it will make a difference. We will most certainly lend our voices in support.

We wholehearted

[2020-03-19 23:22] jgroom33 commented on #213
This is possible and keeps the `.drawio` extension:

[code]

[2020-03-21 18:26] johnnyutahh commented on #274
Very helpful feedback, thanks very much @pepijnve and @mojavelinux for the feedback.

That's super good to know. I plan to look into that.

Thanks again.

[2020-03-22 02:27] johnnyutahh commented on #274
@mojavelinux - I tried the PlantUML render on GitLab with no success. Any thoughts?

https://gitlab.com/johnnyutahh/software-systems-docs/-/blob/master/z-sandbox/diagram-test.adoc

[2020-03-22 04:40] mojavelinux commented on #274
I could be wrong, but I think it has to be a listing block (though it should be supporting the literal block). See https://docs.gitlab.com/ee/administration/integration/plantuml.html#creating-diagrams

[2020-03-22 05:14] johnnyutahh commented on #274
Right. Changing plantuml list block delimiters from `....` to `----` solves the GitLab problem.

https://gitlab.com/johnnyutahh/software-systems-docs/-/blob/master/z-sandbox/diagram-test.adoc

Thanks Dan for your help on this, really appreciated.

[2020-03-27 18:02] jnnkB opened #275 "Mermaid support: mmdc failed"
I tried to use the mermaid support but if run asciidoctor i get

[code]

A minimal file which shows the same error is:

[code]

Thanks!

[2020-03-28 14:27] pepijnve commented on #275
I've tried to reproduce this locally, seems to work correctly for me. I tested with asciidoctor 2.0.10, asciidoctor-diagram 2.0.1 and mmdc 0.5.1 on macOS.

[2020-03-29 19:02] jnnkB commented on #275
I've made a demo zip: [Archive.zip](https://github.com/asciidoctor/asciidoctor-diagram/files/4399586/Archive.zip)

Here is the output form the command line:

[code]

[2020-03-30 09:19] pepijnve commented on #275
Seeing that phantom error reminded me there are two sets of attributes that the mermaid extension supports: `mermaid` + `phantomjs_2` or `mmdc`. The former is for old version of mermaid's CLI, the latter is for the current CLI.

Could you try replacing the attributes in your test document with:
[code]

[2020-03-30 11:49] jnnkB commented on #275
I then get the following error:

[code]
**test.adoc:**
[code]

[2020-03-30 22:59] uniqueck commented on #173
Is this bug solved. I also work with !include in plantuml and get errors if I include these files in asciidoc. I can provide an example repository to reproduce these error.

[2020-03-31 02:30] brunchboy opened #276 "Consider adding support for bytefield-svg"
As part of a popular reverse-engineering project I needed to create some documents with extensive and complex byte field diagrams, and the only tool that had all the features I needed was the LaTeX [`bytefield`](https://ctan.org/pkg/bytefield?lang=en) package, which I used with success for a few years. But some of the other LaTeX packages I was using went off support, and I got tired of only havin

[2020-03-31 10:53] pepijnve commented on #276
@brunchboy I had a go at making the integration already (see commit above). Test still fails with an internal error in bytefield-svg. Not really obvious what's wrong from the minified stack trace and error message.

[code]

[2020-03-31 12:36] pepijnve commented on #173
@uniqueck it was fixed to the best of my knowledge. If you have a different reproduction scenario I'm happy to take another look.

[2020-03-31 15:52] brunchboy commented on #276
Interesting! I will add a comment in the commit where the error is being reported, and see if that can help us understand what is happening.

[2020-03-31 15:57] pepijnve commented on #276
🤦‍♂ I'm guessing Ruby string interpolation is kicking in since I embedded the test diagram source in the spec Ruby file...

[2020-03-31 15:58] brunchboy commented on #276
That is consistent with the comment I just added. 😄

[2020-03-31 16:01] pepijnve commented on #276
And presto, everything works! Thanks for pointing out what should have been obvious. RubyMine was even highlighting the problem.

Anyway, with that last commit you're welcome to kick the tires a bit. I'll update the README already in the meantime.

[2020-03-31 16:09] brunchboy commented on #276
Sweet! I won’t have a chance to try this out until this evening, but thanks so much for your fast response.

[2020-04-01 04:13] brunchboy commented on #276
All right, it seems to work! Since I haven’t been using Ruby for a decade or so it took me a while to figure out how to build and run it from source, but I was successful. The only problem I noticed is that the link in the README seems to be incorrectly formatted (what should be an opening square bracket is an opening curly brace). It is currently:

    {uri-bytefield}{bytefield]

And it seems it

[2020-04-01 21:51] uniqueck commented on #139
Based on the approach of @rdmueller , I wrote an extension for Microsoft Office documents. You are welcome to participate and implement additional features. For the extension see here [asciidoctorj-office-extension](https://github.com/uniqueck/asciidoctorj-office-extension)

[2020-04-01 22:04] uniqueck commented on #173
@pepijnve So i think the problem is still the same. The base directory for the includes in plantuml files isn't correct. The base directory is related to the asciidoc document from which the plantuml or include macro is started, but it has to be the directory in which the includes plantuml is located. I created an example based on maven. [asciidoctor-plantuml-examples / branch issue/asciidoctor/di

[2020-04-06 07:23] brunchboy commented on #276
I did submit a PR against the `bytefield` branch with this tweak. I don’t know why it is not showing up in this discussion, perhaps because it is against a non-master branch?

In any case, I am glad you haven’t released this yet because I added a bunch of nice new features over the past week, with the help of my enthusiastic first user of the diagram generator.

[2020-04-06 07:55] pepijnve commented on #276
@brunchboy odd indeed that the PR didn't show up. It's merged.

As you mentioned in the PR description, `asciidoctor-diagram` doesn't really depend on a specific version of the external tools (PlantUML and Ditaa being the exceptions since those are bundled). It just digs through `$PATH` looking for a binary with the right name. I've dealt with changes to CLI interfaces of various diagram rendering

[2020-04-06 13:46] brunchboy commented on #276
I don’t think there are any arguments that require you to make them available as block attributes yet. I’ll try to let you know if that ever happens.

[2020-04-06 13:48] brunchboy commented on #276
The arguments are there so that people who want to use it in different contexts (e.g. as an Asciidoctor.js extension, where the SVG should always be rendered as inline HTML) can do that. But configuration of diagrams from within the Asciidoc source is done by Clojure code, not block attributes.

[2020-04-13 13:24] #276 closed

[2020-04-13 13:25] pepijnve commented on #275
Which version of asciidoctor and asciidoctor-diagram are you using?

[2020-04-13 13:26] pepijnve commented on #272
Could you provide an example that's not working?

[2020-04-13 14:29] #273 closed

[2020-04-13 14:32] #270 closed

[2020-04-13 14:40] #253 closed

[2020-04-13 15:19] pepijnve commented on #173
@uniqueck the include resolution that's done by asciidoctor-diagram only goes one level deep. I'll have to replace that with recursive include logic instead. Might be a good idea anyway since that will enable sending the diagram code off to a remote server.

[2020-04-19 22:13] jnnkB commented on #275
[code]

[2020-04-20 09:45] pepijnve commented on #275
@jnnkB On which operation system (and version) is that? Just trying to get as good a reproduction case as possible.

[2020-04-20 17:03] jnnkB commented on #275
macOS 10.15.3

[2020-04-21 23:50] bric3 commented on #247
Hi I have trouble to make this work.

I'm running the following document trhough this configuration

[code]

[code]

I have tried setting `svg-type="inline"`  in the source listing _descriptor_. But the new options/attributes introduced in 2bf075fe07dde384326e47282970832b6f7aeb1d don't work, the svg is still declared as an `img`, only `opts="inline"` actually embed the SVG.

I can see that the glo

[2020-04-22 07:25] pepijnve commented on #275
@jnnkB I've tried to reproduce this on essentially the same setup, but no luck. I've added some debug logging to the command lookup code in fd152ec8a1e5e8b35f8465c0c86306805bb67089. You can enable that by running asciidoctor with the `--verbose` option.

[2020-04-22 07:33] pepijnve commented on #272
This is the same issue as #257. No fix yet I'm afraid.

[2020-04-22 07:33] #272 closed

[2020-04-22 07:43] pepijnve commented on #272
FYI, I've made a fix for #257. After that change I get the following syntax error when generating one of the example state diagrams from the mermaid website. I'm not sure what's wrong here.

[code]

[2020-04-22 07:48] pepijnve commented on #272
Looks like I'm hitting https://github.com/mermaid-js/mermaid/issues/1235

[2020-04-22 07:52] #257 closed

[2020-04-22 10:53] nekator opened #279 "Support for BPMN diagramms"
I currently working at an Project using BPMN (camunda) and i would like to integrate our BPMN Diagrams into our documentation. Maybe this could be done via https://github.com/bpmn-io/bpmn-to-image ?

PS: Keep up your good work ;)

[2020-04-22 11:01] nekator commented on #279
Sorry i missed that this is already implemented.

[2020-04-22 11:01] #279 closed

[2020-04-22 12:32] jnnkB commented on #275
Ok so I changed the Gemfile to

[code]
Then I installed the dependencys
[code]

Now I ran asciidoctor:

[code]

So I changed the test.adoc to:

[code]

Now I got the following error:

[code]
Now I remembered that I could try it with mmdc in test.adoc instead of mermaid and phatomjs.
So I changed test.adoc to
[code]
And it worked:

[code]

I tried to uninstall phantomjs:
[code]
And that worked too.

[2020-04-22 13:23] pepijnve commented on #275
The `mmdc` attribute is the one to use indeed. `mermaid`/`phantomjs` are there to support very old version of Mermaid. I'll update the README indeed. Forgot about that.

[2020-04-22 13:26] pepijnve commented on #275
I ended up removing the `mermaid` attribute. That's only still there in the code for backwards compatibility; new users shouldn't be using this.

[2020-04-22 13:28] #275 closed

[2020-04-22 13:30] pepijnve commented on #275
Thanks for testing @jnnkB. AFAICT this should already work with 2.0.2 as well. Not sure why it wasn't working before. I did make one extra mermaid related change that solves #257. I'll make a new patch release for that one later this week.

[2020-04-22 16:59] jnnkB commented on #275
Sounds good. Will https://asciidoctor.org/docs/asciidoctor-diagram/ update itself automatically.

[2020-04-27 12:55] bachp commented on #213
What I usually do is to prepend `.drawio` to the extension.

So the file would be named `foo.drawio.png`.

This way I see immediately that this is a png which is supposed to be edited with drawio.

[2020-04-27 14:32] uniqueck commented on #173
@pepijnve should we reopen this issue? to watch the state for this issue?

[2020-04-27 14:50] pepijnve commented on #173
I would suggest we make a new issue for the extend include resolution behaviour.

This is going to be tricky to implement since it requires making a full implementation of PlantUML's preprocessor to do this correctly. If you throw subpart inclusion and conditionals into the mix this starts to look like a huge can of worms...

The alternative is that we pass the correct working directory to the Pla

[2020-04-29 19:38] bric3 opened #280 "`block in read_svg_contents': undefined method `[]' with an inline svg plantuml activity diagram"
When running asciidoctor on file with a plantuml diagram I encountered the following issue. (Removing the opts="inline" solves prevent the error, but does not match what I need.)
This diagram worked well until now, and I don't know for sure what happend, especially since I don't know much about ruby.

[code]

[code]

<details><summary>trace</summary>

[code]

</details>

<details><summary> <code>g

[2020-04-29 19:49] bric3 commented on #280
Ok I found out that asciidoctor diagram actually created files in the directory where I ran the command line, and used the content of those files, and it happens this file is actually empty.

[code]

I think a better error message would be more appropriate. I suppose the files act as cache but why are they not in the `.asciidoctor` folder ?

[2020-04-29 19:49] #280 closed

[2020-04-29 20:00] bric3 commented on #110
Actually I found out that it even applies when SVGs are inlined.

[code]

Setting, something like `--attribute imagesoutdir=./.asciidoctor` and the current version 2.0.2 will emit this warning :

[code]

Like mentionned above setting `imagesdir` solves the issue for generated images, but ultimately broke the other images.

[2020-04-29 20:22] mojavelinux commented on #280
This error message happens when the SVG is empty and the image block specifies a width or heigh. Please submit an issue to Asciidoctor core so we can remove the crash. It should just silently pass through the empty file, or emit a warning that the file is empty.

[2020-04-29 20:54] bric3 commented on #280
@mojavelinux ok thanks for the feedback. I will create the issue.

[2020-04-30 11:30] bric3 commented on #280
done

[2020-05-12 09:18] 5erv3 commented on #226
Hi, thank you so much for your work!
@pepijnve i saw that you finished working on the server_prep branch, did you already include the diagram-server attribute?

[2020-05-12 10:28] pepijnve commented on #226
@5erv3 yes that got integrated, but it's still very experimental. I did some quick tests and was able to render basic diagrams on kroki.io. The general caveat is that the diagram source code needs to be self-contained. References to external files (e.g., PlantUML includes) are not resolved yet and will not work correctly.

There are two attributes that support this functionality: `server-url` and

[2020-05-15 03:17] hidehalo commented on #120
That's work, thank you!

[2020-05-24 10:14] oddhack opened #281 "Status of TikZ support?"
#189 suggests this has been done, but it is not mentioned as a supported format on https://asciidoctor.org/docs/asciidoctor-diagram/ or in the repo README. Could you clarify where this stands?

Also, do I understand correctly from #189 that the integration is accomplished simply by running the diagram source through LaTeX and then converting to SVG?

[2020-05-24 11:51] pepijnve commented on #281
I added an initial experimental version indeed. It’s not something I use myself and I didn’t get much feedback from the person who requested it, so I’m reluctant to consider this 100% done.

You’re correct that this is a small wrapper around LaTeX. I’m not aware of any other system we could use to interpret and render the tikz code.

[2020-05-25 10:42] oddhack commented on #281
Thanks. Some feedback: if I just say [tikz] for the image block in asciidoctor markup, it does process the block content and generate a PDF, but then it tries to incorporate the PDF in HTML5 output using an <img> directive, which does not work. It's necc. to add something like [tikz,"image1",svg] and then it invokes pdf2svg and the output includes the SVG. I will probably have a few more comments

[2020-05-25 13:17] oddhack commented on #281
I have all of my TikZ images working through asciidoctor-diagram now. No issues to report aside from the one just above, which is minor. Feel free to close this if you don't think that issue calls for any action (ISTM is more of a documentation issue than anything else). Thanks!

[2020-05-25 13:46] pepijnve commented on #281
For the TikZ processor PDF is indeed the default format and that's indeed not well documented (in general for all block types). You can switch that globally by setting the `tikz-format` document attribute to `svg`.

[2020-05-31 11:42] yaron-top opened #282 "Conditional using Asciidoc attributes within inline plantuml files"
Hi
I’m looking for a way to incorporate an Asciidoc attribute in a plantuml section so that the attribute influences the parsing evaluation of a puml section.

When I use the Asciidoc “Ifndef::[]” statement in the Asciidoc file everyting goes fine.
However when I place the Ifndef::[] statement in the puml file, the conditional is not interpreted and the plant uml gets it as is.

How can I add cond

[2020-05-31 12:20] pepijnve commented on #282
I’ve never tried this myself, but I think you need to set the subs attribute on blocs to get this behaviour. It will have to include `macros` to get ifdef processing.
I’m not 100% sure this will work right away. This might require some code changes to the extension as well.

[2020-05-31 16:54] yaron-top commented on #282
Hi pepijnve
Thanks a lot for the tip.

I wrote the following asciidoc test using subs attributes:

= Test
:flag: 9

component  “flag={flag}”

[subs=”attributes+”]
….
component  “In block flag={flag}”
….

[plantuml, subs=”attributes+”]
….
component  “In plantuml flag={flag}”
….

**Expected behavior**:
= Test
component  “flag=9”
component  “In block flag=9”
In plantuml flag=9
**Actual behavior**:
=

[2020-05-31 17:39] pepijnve commented on #282
I had a quick look at the code already. Seems like it should be working already. I’ll have to do some testing to be able to tell you more. I might have some time for that this evening or tomorrow.

[2020-06-01 05:48] mojavelinux commented on #282
The preprocessor directives run before any extension touches the lines, so they should get processed no matter where they are.

The problem might be that you're writing the conditional directive as "Ifdef" instead of "ifdef". The first "i" should be lowercase. Same for the "e" in "endif".

[2020-06-01 06:50] yaron-top commented on #282
Thank you @mojavelinux,
I had a typo, the proprocessor is not working using lower cases as well.

As @pepijnve suggested, I tried the subs="attributes+" and it seems like the right direction, however, the plantuml block is not affected.

Can you please refer to my new [comment](https://github.com/asciidoctor/asciidoctor-diagram/issues/282#issuecomment-636497530) of testing with subs?

Regards.

[2020-06-01 08:40] mojavelinux commented on #282
subs have no affect on preprocessor directives. The preprocessor directives don't see the structure of the document at all. They are processed before the block is parsed (ahead of parsing).

[2020-06-01 08:41] mojavelinux commented on #282
If you are using attribute references in a verbatim block but not part of a preprocessor directive (such as ifdef or include), then you do need subs. The subs affect lines as they exist after the preprocessor directives have run.

[2020-06-01 08:42] mojavelinux commented on #282
However, when the subs get applied relative to when the diagram is generated is something that is up to the extension.

[2020-06-01 08:54] pepijnve commented on #282
@yaron-top I tested this locally and it works correctly as far as I can tell. I did have to massage the asciidoc code you provided a bit. The original contains `“` and `”` instead of `"`.

[2020-06-01 13:57] yaron-top commented on #282
I am sorry for the trouble.
You are right. Everything works fine.
It seems that the problem was in the editor I used (AsccidocFx).
Thanks a lot for your help.

[2020-07-01 11:12] OlivierJourdan commented on #244
As far as I understand, we should be able to center a diagram.  I didn't find the syntax to this.

Lest say we have the following diagram in an adoc file:

`[graphviz]
....
digraph G177458 {
rankdir=LR;
edge[dir=both color=black  arrowhead=normal arrowtail=none style=filled penwidth=1]
node[color=black shape=box]
"DQMH module / Lvlib"[color=black shape=component]
"Vi"[color=skyblue shape=note]
}`

[2020-07-17 18:50] alwyn opened #283 "plantuml:: directive file specification not working according to documentation"
Hi,

I am using gradle with version 3.2.0 of org.asciidoctor.jvm.convert and org.asciidoctor.jvm.pdf plugins.  I'm not sure which version of asciidoctor-diagram this pulls in.

Default sourceDir is src/docs/asciidoc.

The documentation for asciidoctor-diagram states for the diagram block macro:
_When the source file name is a relative path it is resolved with respect to the location of the documen

[2020-07-19 17:36] anoff opened #284 "asciidoctor: ERROR: <stdin>: line 123: Failed to generate image: 301 "Moved Permanently""
I am a bit unsure where to file this issue. But trying to figure out what is going wrong I found out that the error only occurs with asciidoctor-diagram 2.0.2

I have a [docker container](https://github.com/anoff/blog/blob/master/Dockerfile) that I use to build asciidoctor with inline plantUML diagrams using Hugo. The setup is in place for 1.5 years now.
Recently I started seeing errors in my [pip

[2020-07-20 08:40] pepijnve commented on #284
No idea right away what might be causing the issue.  Based on your investigation I think this is probably due to the particular version of PlantUML that's included in 2.0.2. Why that would cause a 301 return code is a mystery to me too.

Could you provide a sample document that reliably triggers the error for you?

[2020-07-20 20:50] anoff commented on #284
Trying to get a minimal example I found out a few other things:

- only happens if I use hugo to compile, can't reproduce with a plain asciidoctor call
- seems to have something to do with `:plantuml-server-url:`
- I used to set it to `http://plantuml.com/plantuml` which returns a 301 Moved header if you curl it
- using `http://www.plantuml.com/plantuml` does not give an error and produces images

[2020-07-20 20:50] #284 closed

[2020-07-21 07:16] pepijnve commented on #284
Ah, the server-url bit explains it. The code that's handling the http request does not support redirects yet. That should be easy enough to add.

[2020-07-22 18:38] pepijnve commented on #284
@anoff 7b12aab adds built-in support for HTTP redirects. With that change `http://plantuml.com/plantuml` will work as well.

[2020-07-22 18:38] #282 closed

[2020-07-22 18:42] anoff commented on #284
Oh wow, awesome :) Thanks alot!

[2020-08-12 14:27] BrendanBall commented on #213
Unless there's a problem with drawio using svg as the source, I think @jgroom33 's answer is the correct solution and works right now without any changes.
Basically, drawio is just a nice svg editor and asciidoctor already supports rendering svg, so we shouldn't need anymore integration than that. If you're using vscode, you can use the [drawio extension](https://github.com/hediet/vscode-drawio) .

[2020-08-13 18:26] kvanapal commented on #213
Hi

Draw,io supports ascii based diagram description language just like PlantUML.
Here are some examples https://github.com/jgraph/drawio-diagrams/tree/master/examples/csv
Refer here for how this CSV can be imported https://drawio-app.com/import-from-csv-to-drawio/

I am NOT exactly sure how the integration can work. But since they also support a command-line there may be a possibility of integrat

[2020-08-14 14:45] BrendanBall commented on #110
Is there a solution for this? I'm trying to get us to use asciidoc + plantuml + drawio for documentation. This will primarily be viewed on gitlab, but for writing the docs it will mostly be an editor like vscode with the asciidoc extension. I'm struggling to get the writing workflow working because of this issue of not wanting generated images next to static images to make sure version control wor

[2020-08-14 20:38] ahus1 commented on #110
@BrendanBall - as I understand it, the files you see appearing in your project's working directory are created when rendering the preview in the editor.

The AsciiDoc plugin for IntelliJ (when using the JavaFX or JCEF preview) will set the `outdir` and `imagesoutdir` to a temporary folder so that temporary images are kept out-of-sight. It post-processes the HTML to show generated images in the pre

[2020-08-16 11:19] pepijnve commented on #110
This is still pretty tricky to solve for all possible situations due to how Asciidoctor core handles images. In short:

- The diagram extension must generate files on disk. There's no other way at the moment to pass an image reference to Asciidoctor core from a block processor.
- Since we need to generate files we need to decide where to put them on disk. The current logic tries to service that lo

[2020-08-17 06:32] BrendanBall commented on #110
I think Asciidoctor is lacking the concept of a build. If I wanted to publish the result of Asciidoctor, I would for e.g. want a `public` directory where the html etc gets put, which also means the images that were included in the doc should be copied to `public/images` and then the generated images could go there as well. Of course if you specify `inline` then it probably shouldn't end up there,

[2020-08-17 22:55] mojavelinux commented on #110
You are absolutely correct. That's because Asciidoctor is not a build tool. It's a file processor. This is where the Maven, Gradle, and other such build plugins come into the picture. We're not in the business of writing build tools.

[2020-08-18 06:10] BrendanBall commented on #110
Asciidoctor is the only thing that knows which files are dependencies though.
So do you agree the best way to do this right now is to create a plugin `asciidoctor-images` to copy the images to `imagesoutdir`?

[2020-08-18 06:16] mojavelinux commented on #110
The Gradle plugin knows how to copy the dependencies, even the generated images.

[2020-08-18 06:23] BrendanBall commented on #110
ok, I'm using the vscode asciidoctor plugin for live preview, specifying a custom command `asciidoctor -r asciidoctor-diagram`, so I'm not sure that'll help

[2020-08-18 06:32] mojavelinux commented on #110
No, Gradle will not help you for the IDE. The IDE has to take on this responsibility (as the IntelliJ plugin does). If you are outside of the IDE, then you'd use a build tool like Gradle. Either way, Asciidoctor is not a build tool.

[2020-08-25 06:41] abelsromero opened #286 "Wrong Mermaid link in README"
Readme points to :point_right: https://github.com/mermaid-js/mermaid.cli, but the real link is (I assume) :point_right:  https://github.com/mermaidjs/mermaid.cli.

[2020-08-25 09:11] pepijnve commented on #286
Seems like the current source is actually https://github.com/mermaid-js/mermaid-cli. I'll fix the URL right away.

[2020-08-25 09:11] #286 closed

[2020-08-25 09:43] abelsalgadoromeroWD commented on #286
Are there two project? :exploding_head:

[2020-08-25 09:53] pepijnve commented on #286
No idea what happened there but the `mermaidjs/mermaid.cli` states this in the README. My hunch would be open source politics at work.

<img width="689" alt="image" src="https://user-images.githubusercontent.com/225326/91160275-7b51e100-e6c9-11ea-84ab-cb2a2ac04e0e.png">

[2020-09-03 19:14] 00krishna commented on #281
@pepijnve Thanks for all of your work on getting `tikz` images to work in `asciidoctor-diagram`. I was wondering if there is a complete example of this anywhere? The original request referenced the link https://github.com/asciidoctor/asciidoctor-diagram/blob/master/spec/tikz_spec.rb , but that seems like the ruby code. If it is not too much trouble, could you pass along say a link to the `.adoc` d

[2020-09-03 19:55] pepijnve commented on #281
@00krishna in your little example you're using a passthrough block. The diagram plugin is not going to kick in on those, it only registers itself for literal and open blocks.

Something like this should work though provided you have pdflatex and pdf2svg installed.

[code]

[2020-09-03 20:53] 00krishna commented on #281
Ahh yes, so I had the wrong type of block. Thanks so much for pointing that out, I probably would not have realized that this was the source of the error unless you told me. Thanks again.

[2020-09-07 13:28] ilvetz opened #288 "Support for C4 model"
Please consider support for [C4 model](https://c4model.com/).
Thank you.

[2020-09-09 07:41] Riduidel commented on #288
It is already possible to generate C4 diagrams using asciidoctor-diagram.
For that, I use plantuml C4 pencils (https://github.com/RicardoNiepel/C4-PlantUML).
You can take a look at https://riduidel.github.io/agile-architecture-documentation-system/ as an example of what is easily doable

[2020-09-10 02:13] rongcuid opened #289 "Does not work with asciidoctor-pdf"
I tried to generate a PDF using `asciidoctor-pdf -r asciidoctor-diagram`, but got some problems:

[code]

Now, this happens if asciidoctor-pdf is loaded before asciidoctor-diagram.
However, if I reverse their order, no diagrams are generated, and diagram turn into code blocks.

I tried #29's tests, and I got exact same thing if I use a script to invoke.
I can generate HTML correctly with diagrams.

[2020-09-10 06:51] mojavelinux commented on #289
The problem you're facing is that the version of Asciidoctor PDF you're using is substantially out of date and no longer supported. The current release is Asciidoctor PDF 1.5.3. The Tempfile class is no longer patched by Asciidoctor PDF, which will resolve the issue you're observing. Please upgrade and retest.

In your follow-up, please state how you are invoking (and thus loading) Asciidoctor PDF

[2020-09-10 13:26] rongcuid commented on #289
Hmmm, I recognize this is the exact version on the `asciidoctor-diagram` documentation, and is the one coming with Ubuntu. I assumed it would work, but I will try to upgrade it.

[2020-09-10 13:30] rongcuid commented on #289
I confirm the `1.5.3` version of asciidoctor-pdf works with `$ asciidoctor-pdf -r asciidoctor-diagram README.adoc`.
I still suggest updating the documentation to reflect this, though it is the asciidoctor-pdf doc:
https://asciidoctor.org/docs/asciidoctor-pdf/.

Not sure if you actually have permission to do so.

[2020-09-10 13:47] pepijnve commented on #289
@mojavelinux https://github.com/asciidoctor/asciidoctor.org/pull/970 should fix that. The documentation page is still referencing the older prerelease version of the readme instead of the current release.

[2020-09-10 19:58] mojavelinux commented on #289
Thanks for testing and confirming, @rongcuid.

@pepijnve Thanks for pointing that out! I didn't realize it had fallen behind.

[2020-09-14 14:27] bric3 commented on #110
@pepijnve In reply to your https://github.com/asciidoctor/asciidoctor-diagram/issues/110#issuecomment-674514063, I also wanted to have the ability to inline diagrams in the rendered document.

Currently I'm forced to declare `opts=inline`, as `diagram-svg-type=inline` don't work for me, I'm not sure why https://github.com/asciidoctor/asciidoctor-diagram/issues/247#issuecomment-617469310.

Anyway I

[2020-09-14 14:37] pepijnve commented on #110
@bric3 inlining images (either SVG or PNG) is handled by the backend, the diagram extension doesn't play a part in this. `opts=inline` is the way to get embedded images in your HTML.

If you want the images to get generated in some other directory you need to specify the `imagesoutdir` attribute. If specified, that's where the diagram extension will write images.

[2020-09-14 15:19] bric3 commented on #110
@pepijnve Sorry I wasn't clear, but if the given parameter are passed

--base-dir /Users/bric3/private/bric3.github.io/content/drafts
-a outdir=/Users/bric3/private/bric3.github.io/public/drafts/exploring-java-native-memory
-a imagesoutdir=./asciidoctor

Then the `basedir` will receive the generated SVG files, while the `outdir/imagesoutdir` will receive the `*.svg.cache files`.
But then if you se

[2020-09-14 15:23] pepijnve commented on #110
@bric3 ok, I'll try to reproduce this. That doesn't sound like the expected behaviour.

Regarding `svg-type` seems like I already forgot the changes I made . Oops. From looking at the code it seems like what you're describing should work indeed. I'll have to run that through the debugger as well.

[2020-09-14 16:17] pepijnve commented on #110
@bric3 the svg-type issue should be fixed by aa9969cb36cc8b9a9c6fbec2746a01ae23cf74c0 already.

[2020-09-14 17:16] bric3 commented on #110
@pepijnve Ah ok it's in the 2.0.3 which isn't yet [published](https://rubygems.org/gems/asciidoctor-diagram/versions/2.0.2).

[2020-09-14 17:33] pepijnve commented on #110
That's correct. You can try that out already if you like by pointing to the git master branch in your Gemfile. I'll probably make a new release, but I need some more time to test everything.

[2020-09-15 07:13] pepijnve commented on #110
@bric3 I can't quite reproduce the output results you're seeing.

If I start from this situation
<img width="400" alt="image" src="https://user-images.githubusercontent.com/225326/93177543-41f21b80-f733-11ea-86f5-fbd8afedf577.png">

and then run asciidoctor with the options
[code]

I get this
<img width="470" alt="image" src="https://user-images.githubusercontent.com/225326/93177664-6f3ec980-f733-

[2020-09-15 08:16] bric3 commented on #110
Hi, I worked on some reproducer yesterday, but home life took over before posting the comment ;)

Here's some reproducer, the commands are inspired by hugo (currently 0.75) integration, which is using the stdin / stdout to process the document (then hugo integrate the asciidoc rendered output in the site HTML layout).

So here's my test set :

[code]

Suppose the content directory is in git, I don

[2020-09-15 12:40] pepijnve commented on #110
That's an easy one to add. I'll add support for a `diagram-cachedir` attribute to override the current behaviour.

That's kind of what `imagesoutdir` is for. Having a distinct attribute for generated images with the semantics of `imagesdir` is not currently possible I'm afraid. There's no good way for an extension to pass all the necessary bits of information to the backend converters. Or at least

[2020-09-15 12:43] pepijnve commented on #110
Regarding the relative paths, those are resolved wrt the `base-dir` value you provide. So specifying `imagesoutdir` as a relative path and then setting `base-dir` to some directory means your images are going to end up in `<base-dir>/<imagesoutdir>`. If that's not what you want you need to specify an absolute path for `imagesoutdir`.

[2020-09-15 13:41] bric3 commented on #110
That's what I was afraid of, currently this cannot be done easily with Hugo. I cannot set this argument to an absolute path in the config. Otherwise the build would either fail locally or on the build system.

OK, that's probably something intersting to add at some point I think. Currently I'm working around this by using a path from the root for regular images, putting them in a separate location

[2020-09-18 21:52] pepijnve commented on #289
I'm closing this issue since the original problem was resolved by upgrading to a more recent version of asciidoctor-pdf.

[2020-09-18 21:52] #289 closed

[2020-09-18 21:56] pepijnve opened #290 "Add support for Pikchr"
Add support for this new diagramming project from the author of SQLite. The examples look impressive.

https://pikchr.org/

[2020-09-18 22:38] #290 closed

[2020-09-19 00:07] pepijnve commented on #110
@bric3 FYI, I just built and published 2.0.3 which should fix the svg-type issue.

[2020-09-19 04:21] carun opened #291 "Error in including plantuml files that has !include statements"
## Something.adoc

[code]

## file1.puml
[code]

## header.iuml
[code]

## Expected Output
HTML file with correct sequence diagram.

## Actual Output

![image](https://user-images.githubusercontent.com/471374/93658945-08e8ce00-f9f5-11ea-9ef4-bb8d555bd4d3.png)

[2020-09-19 08:31] pepijnve commented on #291
Could you describe a bit what your directory layout looks like and with which command line invocation you're running asciidoctor?

[2020-09-20 03:43] bric3 commented on #110
@pepijnve Excellent, that works great. Thank you very much!

[2020-09-20 06:58] mojavelinux commented on #110
The imagesdir attribute can now be set directly on the image node in the API. That means that you could rewrite the imagesdir for a specific image so it points to where the image was generated.

This change still be turn out to be insufficient, but we can keep iterating. (Also note that, in the future, it will be possible to store the image data itself on the node, but we're not there yet).

[2020-09-20 08:03] pepijnve commented on #110
Perfect. I'll add support for a `diagram-imagesdir` attribute then and set `imagesdir` on the generated nodes to either `diagram-imagesdir` or `imagesdir` in that order of precedence. That should cover quite a few cases already I think.

[2020-09-20 08:10] pepijnve commented on #110
🤔 that initial plan might be too simplistic. If I can set `imagesdir` on the nodes then there might not even be a need for user input at all. I'll try to see if I can figure out what the value of a per node `imagesdir` value should be based on where the image file and output file are being written respectively.

[2020-09-20 08:13] pepijnve commented on #110
This was added quite some time ago in asciidoctor 1.5.8 (https://github.com/asciidoctor/asciidoctor/issues/2779) so I don't think there's a need to add version checks, backwards compatibility workarounds, etc.

[2020-09-21 18:51] carun commented on #291
Here is a repo to reproduce https://github.com/carun/asciidoctor-diagram-issue-291.

[2020-09-21 18:53] carun commented on #291
[code]

[2020-09-21 18:57] carun commented on #291
I just validated the generated HTML and it seems to be fine.

![image](https://user-images.githubusercontent.com/471374/93808819-5d609900-fc01-11ea-8fd4-107083bdcd7d.png)

This is reproducible with AsciidocFX 1.7.3 (latest on GitHub).

![image](https://user-images.githubusercontent.com/471374/93809013-97319f80-fc01-11ea-9a7d-16009b8c8337.png)

[2020-09-21 19:15] pepijnve commented on #291
Could you give the block macro notation a try instead? That's `plantuml::file1.puml[png]`. If you use an asciidoc `include::` macro the diagram extension doesn't really know where your source file is located in the filesystem which can cause resolving of relative paths to fail.

[2020-09-21 19:22] carun commented on #291
This work fine when run from command line, but not just with asciidocfx. So I don't think it is related to `include::` macro.

[2020-09-21 19:30] carun commented on #291
with `plantuml::file1.puml[png]`

![image](https://user-images.githubusercontent.com/471374/93812329-47a1a280-fc06-11ea-9779-449a22aa0e7a.png)

[2020-09-21 19:50] pepijnve commented on #291
Sorry, that's the wrong syntax. You want to replace

[code]

with

[code]

[2020-09-21 19:57] pepijnve commented on #291
On closer inspection, I don't think AsciidocFX even uses `asciidoctor-diagram` for PlantUML integration at all. I can't find any trace of it being referenced in the AsciidocFX repository. The only PlantUML code I found is https://github.com/asciidocfx/AsciidocFX/blob/master/src/main/java/com/kodedu/service/extension/PlantUmlService.java which is not related to this project.

[2020-09-21 20:22] carun commented on #291
Ugh! I see. Thanks. I will raise this up with AsciidocFX team.

[2020-09-21 20:25] pepijnve commented on #291
FWIW, if you would like to use asciidoctor-diagram in an interactive editor with live preview, I can recommend [IntelliJ IDEA Community Edition](https://www.jetbrains.com/idea/) with the [Asciidoc plugin](https://plugins.jetbrains.com/plugin/7391-asciidoc).

[2020-09-21 20:26] pepijnve commented on #291
Closing this issue for now since it's related to a different project.

[2020-09-21 20:26] #291 closed

[2020-09-23 20:09] michaelrommel opened #292 "Re-render of svgbob sets width=0"
When rendering an HTML document where an ascii box drawing is included, svgbob renders the output svg file and the HTML page includes a proper tag with width and height:

`<img src="test.svg" alt="test" width="480" height="256">`

If I render the same file again without changing the ascii block, the svg file is not changed and the resulting html file contains:

`<img src="test.svg" alt="test" widt

[2020-09-24 10:15] pepijnve commented on #292
@michaelrommel with which version of `asciidoctor-diagram` is this? I made som changes in that area for 2.0.3 so I'm thinking I might have introduced a regression 😬

[2020-09-24 10:39] pepijnve commented on #292
I was able to reproduce this and it's indeed a regression in 2.0.3. I'll get this fixed asap.

[2020-09-24 11:49] pepijnve commented on #292
@michaelrommel I've pulled 2.0.3 from rubygems.org because of this. So sorry for the inconvenience. In the meantime I suggest you roll back to 2.0.2.

[2020-09-24 15:18] michaelrommel commented on #292
Thank you so much for looking into this - I was really lost in the code, as I am not familiar with ruby and their code structuring at all. Since I am just starting out with asciidoctor, I really can wait for the next release - it is not a big hassle to just delete the directory with rendered images when I re-create a new HTML version.
I am just happy to have helped at all...

[2020-09-26 15:26] #292 closed

[2020-09-26 15:29] pepijnve commented on #110
For the adventurous: I've added some code that tries to set the correct `imagesdir` value per node. You need to set the `diagram-autoimagesdir` attribute to enable this.

[2020-09-27 16:17] sirinath opened #293 "Pikchr support"
Wondering can [Pikchr](https://pikchr.org) be supported?

[2020-09-27 17:11] pepijnve commented on #293
See #290. I added support for Pikchr and DPIC.

[2020-09-27 17:11] #293 closed

[2020-09-30 09:48] gdurandrexel opened #294 "Macro syntax expects "format" to be specified for generated-file-extension"
When using the syntax `plantuml::diagram.puml[svg]` or `plantuml::diagram.puml["svg"]`, png is generated. I have to use `plantuml::diagram.puml[format=svg]` for svg to be generated.

I ended up using the attribute `:plantuml-format: svg` which works but is not documented.

Using the gradle plugin org.asciidoctor.jvm.pdf 3.1.0

[2020-09-30 09:58] pepijnve commented on #294
Thanks for the feedback @gdurandrexel. This one has been lurking in the codebase for a long time. The first unnamed parameter was being interpreted as `target="..."` instead of as `format="..."`. This will be fixed in the next patch release.

[2020-10-01 07:57] #294 closed

[2020-10-01 07:58] #281 closed

[2020-10-01 09:16] pepijnve commented on #261
@inponomarev I think this should be fixed in the latest release. Feel free to reopen this issue if the problem still occurs.

[2020-10-01 09:16] #261 closed

[2020-10-02 16:58] OliverO2 commented on #275
@pepijnve As the legacy `mermaid` attribute has been removed from the README, this code should probably change as well:
https://github.com/asciidoctor/asciidoctor-diagram/blob/cd85628edce8db9aeed11b877fc0d8599c92fb65/lib/asciidoctor-diagram/mermaid/converter.rb#L81

Currently, `mmdc` is checked first, then `mermaid` – which is OK, but makes asciidoctor-diagram propose to set the obsolete `mermaid`

[2020-10-05 19:22] ahus1 opened #296 "Mermaid: document mmdc attribute"
Thanks for providing release 2.0.5 of this library!

I've tested the Mermaid functionality in release 2.0.5 and after some trial-and error I found out what to put into `mmdc`. Apparently I needed to put in the JavaScript file of the CLI in there, as it is passed to the node executable directly.

First I tried to pass in the CLI executable (the mmdc.cmd on Windows), but then Node complained that it

[2020-10-05 19:29] pepijnve commented on #296
You're right that isn't really obvious anymore. Combined with the error stating you should set the `mermaid` attribute the situation is definitely less than ideal.

To be honest I only really develop/test on macos, windows is a bit under tested. On UNIX-like systems the `mmdc` attribute can still point to the binary wrapper since that's just a JS file as well that starts with `#!/usr/bin/env node`

[2020-10-05 19:56] ahus1 commented on #296
I am happy that there is the new release with the greatly improved mermaid support. Adding this small workaround on Windows is fine for me.

[2020-10-05 19:59] pepijnve commented on #296
The tricky thing is that in order to make the node process terminate on error I have to inject the `--unhandled-rejections=strict` node parameter somehow (see #257 for the details). I could detect a .cmd file, try to parse/scrape it using a regex to figure out where the main script is located and then launch node. That would make things 'just work' but it feels a bit brittle since the slightest ch

[2020-10-05 23:57] mojavelinux commented on #296
I'm pretty sure you can pass additional flags to the `node` invocation using the NODE_OPTIONS environment variable. See https://nodejs.org/api/cli.html#cli_node_options_options

[2020-10-06 06:25] pepijnve commented on #296
That is a much, much better solution than what I came up with. Thanks Dan! I see a 2.0.6 release in our near future 😄

[2020-10-06 06:49] ahus1 commented on #296
@pepijnve - I see that you opened issue https://github.com/mermaidjs/mermaid.cli/issues/77 with mermaid. As mermaid moved to a new GitHub repo:

* maybe this has already been handled here in the new repo: https://github.com/mermaid-js/mermaid-cli/pull/19
* if this is not the case, and if the problem persists, may I suggest to close the old issue and open a new issue in https://github.com/mermaid-j

[2020-10-06 07:07] pepijnve commented on #296
Yep, the PR fixes the underlying root cause. That #77 issue is still relevant for the old version though, so it might be best to just leave the issue in place. I left a comment on issue #77 pointing to the PR, the maintainers can close the issue if they like. No idea why the mermaid developers made such a mess of their repos though; it's needlessly confusing for everyone.

[2020-10-06 08:27] jeromeag opened #297 "cygwin support not working with asciidoctor-diagram >= 2.0.0"
Most of the rspec tests are failed on a uptodate cygwin installation.
As an example, I have launched "bundle exec rspec spec/plantuml_spec.rb:11" (executed on unzipped asciidoctor-diagram-2.0.5.zip)
Here the trace:

[code]

[2020-10-06 08:52] pepijnve commented on #297
`java.lang.UnsupportedClassVersionError: org/asciidoctor/diagram/StdInOutCommandServer : Unsupported major.minor version 52.0` is the key bit here. You need to be using Java 1.8 or later.

[2020-10-06 09:17] jeromeag commented on #297
OK, Thank you.
I had to set JAVA_HOME pointing on a recent installation path.

Thank you.

[2020-10-06 09:17] jeromeag commented on #297
OK, Thank you.
I had to set JAVA_HOME pointing on a recent installation path.

Thank you.

[2020-10-06 09:17] #297 closed

[2020-10-12 16:18] abelsromero opened #298 "Wrong resolution of `:to_dir` in Windows when including diagram and PDF with relative path"
We have this issue in the maven-plugin which still reproduces with the latests versions ONLY in Windows: https://github.com/asciidoctor/asciidoctor-maven-plugin/issues/351.

Running directly the gems (see https://github.com/abelsromero/asciidoctor-demo/tree/analysis) and adding `puts` I was able to track the issue to `doc_option` method here https://github.com/asciidoctor/asciidoctor-diagram/blob/

[2020-10-12 17:25] pepijnve commented on #298
This reminds me of https://github.com/asciidoctor/asciidoctorj-diagram/issues/7. That double absolute path is a side effect of safe mode path normalisation. Your best to control where images get written is to set `imagesoutdir`.

[2020-10-12 17:29] abelsromero commented on #298
is that what asciidoctor.path_resolver does? Even with setting extra fields we can work this out, it's still a very odd behauvior.

[2020-10-12 17:36] pepijnve commented on #298
Yes the path resolver can do that. See https://github.com/asciidoctor/asciidoctor/blob/7f61a30b20da6f01d5b3809da33baec2e5efae89/lib/asciidoctor/path_resolver.rb#L332

Not sure if that's what's happening here, but I've seen these double absolute paths before and escaping the safe mode jail was the root cause there.

[2020-10-12 18:51] abelsromero commented on #298
No luck with `imagesoutdir`, pretty sure the problem comes from the cache used to place the metadata, not the image itself https://github.com/asciidoctor/asciidoctor-diagram/blob/fd8ab7d9eb9d5de3c55a0e27c4276206c728a917/lib/asciidoctor-diagram/diagram_processor.rb#L149.

Debugging I see that the image file path takes the value from `imagesoutdir`, but the metadata path still contains the double pa

[2020-10-12 19:17] pepijnve commented on #298
You can use `diagram-cachedir` to override that. See https://github.com/asciidoctor/asciidoctor-diagram/blob/fd8ab7d9eb9d5de3c55a0e27c4276206c728a917/lib/asciidoctor-diagram/diagram_processor.rb#L282

[2020-10-13 22:01] abelsromero commented on #298
Setting both `imagesoutdir` and `diagram-cachedir` but there are couple of things I don't understand:
*  What is this global attribute and why do I need to prefix it when the ruby code does not have the 'diagram-' prefix?
* Is it safe to use? or in other words, any reason why is not documented in the readme?

[2020-10-14 07:54] pepijnve commented on #298
The 'global' thing is just an internal name. The method in question looks up the attribute at the block (macro) level with the given name and falls back to looking it up with `diagram-` stuck in front of it at the document level.

I'm not planning on stripping this back out. The explicit override option via an attribute is here to stay. What might change in the future is the default computed value

[2020-10-14 08:33] abelsromero commented on #298
Thanks for your awesome help! I'll send a PR for the readme later, and chase the issue on the asciidoctor side.
Yesterday I found out the double path seems to be triggered when setting an absolute path in "to_file" option but only from AsciidoctorJ, not from Ruby cli (even though the path is not duplicated on the Java side).

[2020-10-14 08:33] #298 closed

[2020-10-14 18:52] andrewzah opened #299 "mermaid: 'unknown option --phantomPath'"
I get this when trying to use asciidoctor-diagram (with Hugo) with `@mermaid-js/mermaid-cli` version `8.8.1`:

[code]

Here are the current flags for `mmdc`:

[code]

[2020-10-15 13:51] pepijnve commented on #299
How are you specifying the path to mmdc? Using the `mmdc` attribute or `mermaid`? If you use the former it will trigger a code path that's meant for the legacy mermaid CLI.

[2020-10-15 13:54] andrewzah commented on #299
I'm specifying it via asciidoctor's metadata:
[code]
Should it not be mmdc?

[2020-10-15 13:56] pepijnve commented on #299
The value should point to `mmdc` indeed. The attribute name should be `mmdc` too. In other words give this a try:

[code]

[2020-10-15 14:06] andrewzah commented on #299
That did it! Thank you.

[2020-10-15 14:06] #299 closed

[2020-10-20 13:53] Delorien84 opened #301 "plantuml: Update version request, unable to render tmorin/plantuml-libs"
I am trying to create diagram using https://github.com/tmorin/plantuml-libs. But it requires at least plantuml 1.2020.18. Current embeded version 1.2020.6 cannot render even simple diagram. Eg.

[code]

[2020-10-26 19:51] Mogztter commented on #259
Disclaimer: I'm not a license expert but here's what https://tldrlegal.com/license/gnu-lesser-general-public-license-v3-(lgpl-3) says:

@pepijnve In this case, Asciidoctor Diagram is an application that uses the library no?

[2020-10-27 08:17] AntonDzyk opened #302 "asciidoctor-diagram + mermaid in docker container"
I'm builded docker container from ubuntu:20.04

[code]

and I got error:

[code]

How I can fix this?

[2020-10-27 08:21] pepijnve commented on #302
No idea I'm afraid. Seems like this is related to https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#setting-up-chrome-linux-sandbox

[2020-10-29 20:49] mwnaumann opened #303 "Installation error: "invalid gem: package is corrupt, exception while verifying: undefined method `path' for "data.tar.gz":String (NoMethodError)""
Installing asciidoctor works flawlessly.  I've tested other gem packages and they also install correctly.  Here is an example:

[504]$ sudo gem install asciidoctor
Successfully installed asciidoctor-2.0.10
Parsing documentation for asciidoctor-2.0.10
Done installing documentation for asciidoctor after 2 seconds
1 gem installed

But, whenever I try to install asciidoctor-diagram, I am getting this

[2020-10-29 22:32] mojavelinux commented on #303
I tried it and it installs without an issue. It must be pulling the corrupt gem file from somewhere else on your system. Can you try it on a different computer?

[2020-10-29 22:52] mwnaumann commented on #303
Thank you for checking.
I tried on a different virtual machine and (unfortunately for me) it works. :(

[2020-10-29 22:56] mwnaumann commented on #303
Is there a way for me to (somehow) download the gem file to my local machine, and then point 'gem install' to that local file?

[2020-10-29 23:30] mojavelinux commented on #303
You can find the download link on the package on rubygems.org. See https://rubygems.org/gems/asciidoctor-diagram/versions/2.0.5

[2020-10-29 23:31] mojavelinux commented on #303
I also noticed that you're installing the gem into the root of your system. I strongly recommend against doing this. You should let the package manager manage gems installed in the system. For your own gems, you should use RVM (or some other version manager) so that they are installed in your home directory. Better yet, install them directly into the project using Bundler + Gemfile.

[2020-10-30 23:49] edl7878 commented on #226
Seems not working:

:diagram-server-url: "https://kroki.io/"
:server-type: "kroki_io"

.mermaid
[mermaid]
----
graph TD
  A[ Anyone ] -->|Can help | B( Go to github.com/yuzutech/kroki )
  B --> C{ How to contribute? }
  C --> D[ Reporting bugs ]
  C --> E[ Sharing ideas ]
  C --> F[ Advocating ]
----

Error message:

asciidoctor: ERROR: <stdin>: line 190: Failed to generate image: undefined method

[2020-10-31 01:10] edl7878 opened #304 "Positional target attribute generate same file name"
[code]

[code]

the upper asciidoctor code will output the same image which is the last diagram when use asciidoctor binary as render, while privewing with asciidoctor.js and kroki, the diagrams outputted individually.

evinonment:
hugo + asciidoctor binary + asciidoctor-diagram

[2020-10-31 01:12] edl7878 opened #305 "Positional target attribute output same filename"
[code]

the upper asciidoctor code will output the same image which is the last diagram when use asciidoctor binary as render, while privewing with asciidoctor.js and kroki, the diagrams outputted individually.

evinonment:
hugo + asciidoctor binary + asciidoctor-diagram

[2020-10-31 14:08] pepijnve commented on #305
I can reproduce this locally, but I don't think there's much I can do about this. The positional attributes are actually not mapped the way you think they are. As far as I can tell the parsing of attribute lists will not allow you to skip positional attributes. What the extension actually receives is
[code]
while you're expecting it to receive
[code]

The consequence is that asciidoctor-diagram is

[2020-10-31 14:12] pepijnve commented on #305
@mojavelinux is there a difference between asciidoctor and asciidoctor.js in how it parses an attribute list like `[plantuml,,svg]` when it comes to handling the middle empty attribute?

[2020-11-01 01:56] edl7878 commented on #305
@pepijnve  Got it. Thanks.

[2020-11-01 06:19] mojavelinux commented on #305
@pepijnve Not to my knowledge. It's the same code. The variation probably comes from the kroki extension itself.

[2020-11-01 06:34] mojavelinux commented on #305
This actually looks like a parsing bug. The parser allows the first position to be blank (e.g., `,ruby`), but not any other position. It should retain the positional offset so it's consistent with the number of delimiters. Please file an issue in core.

[2020-11-01 07:56] mojavelinux commented on #305
https://github.com/asciidoctor/asciidoctor/issues/3813

[2020-11-01 14:59] pepijnve commented on #305
Thanks for logging this @mojavelinux. @edl7878 once the asciidoctor issue has been resolved the workaround(s) I mentioned will no longer be necessary.

[2020-11-01 14:59] #305 closed

[2020-11-10 10:55] eddiejaoude commented on #196
Was there any progress on this issue? Having installed Asciidoctor via brew, it would be great to be able to install the diagram extension the same way.

[2020-11-10 11:29] pepijnve commented on #196
This is not something I'm working on myself. It's not clear to me what the added value is of `brew install asciidoctor-diagram` over `gem install asciidoctor-diagram` to be honest.

[2020-11-10 11:49] eddiejaoude commented on #196
The reason why I want to install it via brew instead of gem, is for 2 reasons:

1. I installed asciidoctor via brew
2. In my dotfiles repo, I have a brew file with a list of items, but I do not have or use a gem file, so I would need to add it to my config just for the 1 item

[2020-11-10 13:03] pepijnve commented on #196
Maybe something like https://github.com/sportngin/brew-gem could help there?

[2020-11-10 13:05] eddiejaoude commented on #196
Oh nice, thank you 👍

[2020-11-12 17:41] snecklifter opened #307 "ERROR: unknown format: PDF when running rspec"
Hello,

I'm attempting to package asciidoctor-diagram for Fedora but am getting the following error, which I'm sure is trivial to solve but hoping someone can point me in the right direction.

The buildroot has asciidoctor-pdf installed, I'm just wondering if I need to assist rspec to pick that up correctly?

[code]

[2020-11-12 17:43] pepijnve commented on #307
That probably means you did not install the PDF support for blockdiag. See http://blockdiag.com/en/blockdiag/introduction.html#setup
The specs assume PDF support is available at the moment.

[2020-11-13 12:47] snecklifter commented on #307
@pepijnve thanks, reportlab was missing from the build

[2020-11-13 12:47] #307 closed

[2020-11-24 01:21] ahl opened #308 "rexml inserts line breaks and corrupts <style> section"
I'm using asciidoctor-diagram to render an inline mermaid diagram using `mmdc`. When I run `mmdc` by itself, the diagram is fine, but asciidoctor-diagram's post-processing of the svg inserts newlines that corrupt the style section. The font family mermaid uses by default is `"trebuchet ms"` (note the use of quotes). When asciidoctor-diagram replaces the space with a newline, the diagram is corrupt

[2020-11-27 07:59] 1marc1 opened #309 "First successful run logs to stderr"
Hi Team,

I am very new to asciidoctor-diagram, but I noticed that upon first run it logs to stderr, despite everything being fine: the resulting PDF file shows the graph how it was intended. Please review the following output. Is there a way to suppress this initial output? I am looking to integrate the use of asciidoctor-diagram into a workflow that alerts when something is sent to stderr. Obvio

[2020-11-27 11:09] pepijnve commented on #309
By running with `-v` you're turning on debug logging. `asciidoctor-diagram` uses `asciidoctor`s logging mechanism and that ends up printing to stderr. I'm planning on changing any of that. If you do not want verbose output, don't request verbose output.

[2020-11-27 11:46] mojavelinux commented on #309
@pepijnve is correct, the `-v` option is linked to enabling the debug level on the logger. This is documented behavior. See https://asciidoctor.org/docs/user-manual/#processing-information. The logger always writes to stderr by default. (If you want to redirect those messages, it's possible to plug in your own logger.)

We're considering an enhancement to the CLI that allows the log level to be co

[2020-11-27 13:42] 1marc1 commented on #309
@pepijnve and @mojavelinux Thank you both for clarifying how it works. I have been using the `-v` flag in asciidoctor and asciidoctor-pdf and when output is generated without any issues, then nothing is logged to stderr. I thought it would be the same when enabling asciidoctor-diagram.

[2020-12-01 15:46] Z01ndels opened #312 "Upgrade PlantUML version"
asciidoctor-diagram seems to use PlantUML version 1.2020.6. We're currently at 1.2020.21.
Can you upgrade your dependency ? The 1.2020.6 version seems to trigger some bugs (see https://github.com/Riduidel/agile-architecture-documentation-system/issues/68)

[2020-12-01 21:19] mojavelinux commented on #312
It's a licensing issue.

@pepijnve It might be a good idea to add a disclaimer to the README to avoid having to answer this question periodically.

[2020-12-02 07:03] habamax commented on #312
And it also has json rendering too I am eager to try out: https://twitter.com/PlantUML/status/1333527507677704198

[2020-12-02 07:07] habamax commented on #312
Actually I was thinking I could use non-builtin plantuml, but it looks like there is no info in the doc how can I specify it

[2020-12-02 20:49] pepijnve commented on #312
@mojavelinux upgrading isn't really a licensing issue, I'm just a bit overloaded with other work at the moment. Longer term I've been thinking of stripping the embedded PlantUML jar out of the gem. You would then have to point to it using an environment variable instead.
That would be a pretty big breaking change though for most people, so short term I think I'll upgrade the embedded version along

[2020-12-02 21:04] mojavelinux commented on #312
Thanks for clarifying, @pepijnve!

[2020-12-03 08:28] #308 closed

[2020-12-03 09:08] dalai4git opened #313 "Dependency on bigdecimal"
Is a runtime dependency to bigdecimal missing?

I run into an error when using the asciidoctor docker container with an updated asciidoctor-diagram version.

[2020-12-03 09:20] pepijnve commented on #313
BigDecimal is part of the standard library so that shouldn't cause problems. It's no longer being used though; I simply forgot to remove the require statement.

[2020-12-03 09:22] #313 closed

[2020-12-03 09:22] #309 closed

[2020-12-03 09:23] pepijnve commented on #301
This has been resolved by #312

[2020-12-03 09:23] #301 closed

[2020-12-04 00:11] ahl commented on #308
@pepijnve thanks for fixing this

[2020-12-23 07:33] eclipseo opened #314 "Sources of the *.jar files"
In order to be integrated into Fedora, the jar files must be compiled from source, as precompiled binaries is a no-no. It is unclear as to where upstream is located for some of them, would you be kind enough to provides upstream/repo/build instructions for them in order to have reproducible builds?

[2020-12-23 11:47] pepijnve commented on #314
The glue code can be found at https://github.com/asciidoctor/asciidoctor-diagram-java

The Ditaa fork is from https://github.com/pepijnve/ditaa. Ditaa development seems to have stalled. I created that fork to fix some bugs and strip out unused code and features.

The PlantUML jar is the unmodified Apache licensed variant downloaded from https://plantuml.com

[2020-12-29 16:12] snecklifter commented on #314
@pepijnve thanks for the info, can I just check on upstream for jlatexmath-minimal pls?

[2020-12-29 18:34] pepijnve commented on #314
That's actually a PlantUML dependency. See the bottom of the page at https://plantuml.com/ascii-math

[2020-12-29 21:43] snecklifter commented on #314
@pepijnve thanks but after jlatexmath 1.0.4 there was a switch to maven builds and the -minimal option appears to have been dropped, so I'm still not clear on where the 1.0.5 version comes from that asciidoctor-diagram ships with or how to construct it?

[2020-12-30 07:32] pepijnve commented on #314
Neither am I to be honest. I think I just downloaded it via the PlantUML site.

[2021-01-04 14:38] snecklifter commented on #314
@pepijnve the minimal jar is no longer being produced as per response from a maintainer in the above issue. It looks like from #312 I can use system-provided JARs however?

[2021-01-04 16:25] pepijnve commented on #314
I don't think I made a release with that environment variable based loading strategy already. Allowing users to use their own version of PlantUML is indeed the direction I want to take. I wasn't sure yet what the most appropriate way to configure this would be. Env var, confit file, ...

Longer term I'm thinking of not even including the PlantUML jar in the gem at all, but that'll be something for

[2021-01-04 17:01] snecklifter commented on #314
@pepijnve yes, would be good not to carry the jars I think. Its certainly making it more problematic to ship in Fedora.

In terms of the best way, I think a config file would be preferable to setting environmental variables as its probably going to be a system-wide setting so should affect all users. WDYT?

[2021-01-05 13:14] SimonRekers opened #316 "asciidoctor-diagram load error"
Hello there,

I am getting the following error, when I am trying to use asciidoctor-diagram:

**I am executing the following:**
`asciidoctor "-r asciidoctor-diagram" --trace "-o document.html" .\src\document.adoc`

**And I am getting the following output:**

[code]

The terminal process "C:\windows\system32\cmd.exe /d /c asciidoctor "-r asciidoctor-diagram" --trace "-o document.html" .\src\documen

[2021-01-06 17:10] snecklifter opened #317 "Github actions Windows CI migration"
Raising this to track migration from appveyor/travis to Github Actions for Windows (Linux is working).
Have made some progress on the Windows branch and the test suite now runs to completion.

@pepijnve there are 20-odd errors remaining which will probably make more sense to you than me?

https://github.com/asciidoctor/asciidoctor-diagram/runs/1657558579?check_suite_focus=true

[2021-01-07 12:05] pepijnve commented on #317
It took me a while but I finally figured out what was going on. The gem communicates with the Java subprocess via stdin/stdout:
- The encoding for these streams was not being set; that's now set to be UTF-8.
- Both Ditaa and PlantUML are kind of sloppy when it comes to output. Some codepaths in Ditaa were writing directly to stdout and that was getting interleaved in with the response data. As a q

[2021-01-07 12:05] #317 closed

[2021-01-07 12:11] snecklifter commented on #317
Excellent news, thanks for the explanation.

[2021-01-08 13:46] anderscore-hjhessmann commented on #314
The jlatexmath is an optional dependency of PlantUML. It's required for math expressions. For details see [PlantUML Math](https://plantuml.com/de/ascii-math).

In my opinion an environment variable is a good solution. One might want to use different versions of PlantUML. But there should be some easy to use default.

Currently I simply replaced the plantuml.jar within the gem directory. This worke

[2021-01-09 19:06] pepijnve commented on #314
I'm working on something to allow a smooth transition from the embedded jar to a bring-your-own-jar model. Doing that in a way that does not break backwards compatibility is the tricky part.

Not that I know of.

[2021-01-14 07:44] pepijnve commented on #316
No idea why you would be getting this error I'm afraid. You could check under `C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/` to see if the diagram gem was actually installed correctly. Are you using Bundler?

[2021-01-17 16:23] pepijnve commented on #304
Duplicate of #305

[2021-01-17 16:23] #304 closed

[2021-01-17 16:38] pepijnve commented on #226
@edl7878  See https://github.com/asciidoctor/asciidoctor-diagram/blob/master/spec/mermaid_spec.rb#L140 for an example of how to use this functionality.

[2021-01-17 16:38] #226 closed

[2021-01-18 07:30] pepijnve commented on #312
asciidoctor-diagram 2.1.0 updates PlantUML to v1.2021.0. Additionally you can now tell the extension to use a specific PlantUML jar file using the  a different version of plantuml via the `DIAGRAM_PLANTUML_CLASSPATH` environment variable.

[2021-01-18 07:30] #312 closed

[2021-01-18 07:31] pepijnve commented on #288
I'm going to close this issue since the requested functionality is apparently already supported. Feel free to reopen if something isn't working correctly related to C4.

[2021-01-18 07:31] #288 closed

[2021-01-18 07:38] habamax commented on #312
Thank you, @pepijnve !

[2021-01-18 16:06] pepijnve opened #333 "Use caching in GitHub Actions"
The test suite is getting larger (a good thing), but as a consequence the test runs are taking a significant amount of time to run to completion (not such a good thing).

Investigate if GitHub's cache action could be used to speed up the test runs.

[2021-01-19 21:09] achimgrimm opened #335 "Kroki with plantuml and include directive"
I started to change my diagram generation from lokal to kroki as a external diagram server as explained in https://github.com/asciidoctor/asciidoctor-diagram/issues/226#issuecomment-761841009
as this is a great feature that really helps the build process.

The rendered plantuml diagram does not show the data from the include directive.

Here is my example puml.
[code]

 This is the roles.puml file

[2021-01-19 21:36] pepijnve commented on #335
The delegation to kroki isn't triggering the preprocessing logic yet that handles PlantUML `!include` statements. As a consequence the `!include roles.puml` is being passed to kroki as is and that obviously can't resolve that file. I'll have to reorganise the code a bit to handle this case.

[2021-01-19 21:37] pepijnve commented on #335
If you would like a short term workaround, you might be able to use an asciidoc include instead.

[2021-01-19 21:54] achimgrimm commented on #335
Thank you for the very fast feedback. :-)

I think the same applies to the `config` attribute on the asciidoc directive.

[2021-01-19 22:23] pepijnve commented on #335
Kroki does not support parameters at all so I don't think there's much I can do about that.

[2021-01-20 07:57] pepijnve commented on #314
I've updated PlantUML, Batik and JLatexMath to their respective most recent stable revisions and bundled them up in a separate gem (https://rubygems.org/gems/asciidoctor-diagram-plantuml).

[2021-01-20 07:57] #314 closed

[2021-01-20 08:02] pepijnve commented on #335
I was looking at this issue this morning again and I'm not sure how easy it's going to be to fix this. I don't actually have logic in place that inlines the included diagram. Implementing that correctly would require reimplementing all the include logic of [the PlantUML preprocessor](https://plantuml.com/preprocessing) which is, in my opinion, out of scope for this gem. My worry here is that I mig

[2021-01-20 08:05] pepijnve commented on #271
UMLet 14.3 is now covered by the test suite on all platforms.

[2021-01-20 08:05] #271 closed

[2021-01-20 08:07] pepijnve commented on #246
I decided not to pursue this. If anyone need aafigure support please reopen this issue.

[2021-01-20 08:07] #246 closed

[2021-01-20 08:08] pepijnve commented on #190
wavedrom is tested on all platforms in the test suite now.

[2021-01-20 08:08] #190 closed

[2021-01-20 08:12] pepijnve commented on #139
I agree with @mojavelinux that this is outside the scope of what the diagram extension is trying to do. Diagram is about extending asciidoc plain text documents with embedded diagram also written as plain text. Converting other data formats into embeddable asciidoc content is kind of the reverse of that.

[2021-01-20 08:12] #139 closed

[2021-01-20 09:18] achimgrimm commented on #335
That is a valid point.

Maybe there is a way to trigger the PlantUML preprocessor using there API?

I am not sure how it is done, but the IntelliJ asciidoc Plugin (https://intellij-asciidoc-plugin.ahus1.de/docs/users-guide/features/preview/diagrams.html#kroki) somehow manages the includes.

[2021-01-20 10:43] pepijnve commented on #335
That's a valid idea, but what's the benefit of using kroki then? If you want to run the PlantUML preprocessor you need a JVM and the PlantUML jars and then you might as well just run PlantUML locally.

[2021-01-20 10:45] pepijnve commented on #335
I'll have a look at the IntelliJ plugin code. @ahus1 maybe you can answer that question faster?

[2021-01-20 10:46] pepijnve commented on #335
https://github.com/asciidoctor/asciidoctor-intellij-plugin/blob/1f9d5fac603b47cc1fb34cbd9fb6701a29cfb8e1/src/main/resources/kroki-extension.rb#L78

The config seems to get prepended. I'm not seeing any evidence of `!include` being handled though.

[2021-01-20 10:52] achimgrimm commented on #335
There are some local dependency on the system needed to render diagrams with PlantUML. Those are not needed if you use kroki. The local dependencies get even worth if you start using more diagram types (like BPMN).

[2021-01-20 10:53] achimgrimm commented on #335
I will create a test setup and come back to you.

[2021-01-20 10:54] pepijnve commented on #335
Yes, I understand that. My point is that you need precisely those local dependencies to trigger the PlantUML preprocessor so that doesn't seem to solve much.

[2021-01-20 10:59] achimgrimm commented on #335
OK, I see your point here. I would hope that the preprocessor does not need graphviz installation while parsing the diagram code.

[2021-01-20 11:41] achimgrimm commented on #335
I can confirm that the plugin does not work with includes either.

[2021-01-20 19:57] ahus1 commented on #335
Hi - it seems that I'm a bit late for this discussion.

The code of the plugin has moved and evolved a bit, see here: https://github.com/Mogztter/asciidoctor-kroki/blob/master/ruby/lib/asciidoctor/extensions/asciidoctor_kroki/extension.rb

Also in this evolved version, includes with the "!" at the start are not supported.

Looking closer, there is the attribute "kroki-plantuml-include" - I gave th

[2021-01-20 20:39] pepijnve commented on #335
I'm curious why that `kroki-plantuml-include` exists.

This code will do the same thing. You just have to make sure to omit all `@enduml` lines since that will terminate the processing prematurely in PlantUML otherwise.

[code]

[2021-01-20 20:51] ahus1 commented on #335
@pepijnve - if you a lot of images, and all with the same prefix, the `kroki-plantuml-include` will come in handy.

[2021-01-21 06:10] achimgrimm commented on #335
@pepijnve @ahus1 Do you think it is feasible for PlantUML to offer an API that just resolves the `!include` and renders a "plain" PlantUML diagram?

If so, we could have a look at this. As this is a topic that seem to be valid for all tools around Kroki and PlantUML.