[2014-02-08 00:21] mojavelinux opened #3 "set the width and height of the image if not specified"
If the width and height of the image are not specified, set the width and height explicitly by examining the generated image (or however else the information can be acquired).

[2014-02-10 08:31] mojavelinux opened #5 "Use cached image if available"
To speed up the processor, and avoid redundant image generation, the plugin should be smart about using a cached version of the diagram if available. A simple approach would be to take a signature of the diagram source (md5sum or lighter) and look for a matching diagram on disk. Since the file name is customizable, it may be necessary to store the signature information in an index file, such as a

[2014-02-10 20:03] pepijnve opened #6 "Add support for plantuml configuration files"
The look of plantuml generated images can be controlled using skin parameters. Parameter values can be defined inline in each diagram or externally in a configuration file. In order to get a common customised look throughout a document it would be useful to be able to provide the path to a plantuml configuration via a document attribute.

[2014-02-10 21:17] #5 closed, assigned to nobody

[2014-02-11 20:52] #3 closed, assigned to nobody

[2014-02-11 21:26] #6 closed, assigned to nobody

[2014-02-19 00:01] mojavelinux opened #19 "Use fixed prefix in auto-generated image name"
Currently, the rendered images that have auto-generated image names can be hard to cleanup because there is no easy way to refer to them as a group. Introduce a fixed prefix to the auto-generated name, such as `diag-`, so they can easily be identified in bulk.

You can make this prefix configurable using a document-level attribute, though that may be overkill.

[2014-02-19 11:39] dobermai opened #20 "Inline SVG"
A great feature for the PlantUML Integration would be to inline the SVG with the html5 backend. This would have the advantage that no external files would be needed.

[2014-02-19 19:14] #19 closed, assigned to pepijnve

[2014-02-26 14:43] tomcrauwels opened #24 "NoMethodError when trying to overwrite already generated files"
This error is thrown when trying to generate the same files a second time without deleting the files that were already generated:

NoMethodError: undefined method `[]' for nil:NilClass
  Use --trace for backtrace

[2014-02-26 14:44] tomcrauwels opened #25 "Corrupt png images"
Generated png images are corrupt on windows. Svg output does work.

[2014-02-27 11:01] tomcrauwels opened #26 "Target parameter is ignored when using the plantuml:: method"
For example:

[code]

just writes to file.svg

whereas

[code]

writes to target.svg

( same for png format )

[2014-02-27 19:35] #24 closed, assigned to nobody

[2014-02-27 19:35] #26 closed, assigned to nobody

[2014-02-27 19:37] #25 closed, assigned to nobody

[2014-02-28 16:29] locke-phan opened #29 "Cannot launch asciidoctor-diagram"
I installed asciidoctor and asciidoctor-diagram as instructed but I can't generate a test diagram. I got an error and I'm not sure what it is:

[code]

I was digging around and found out that initawt.jar is missing. Maybe this is the problem?

[2014-03-01 21:33] #29 closed, assigned to nobody

[2014-03-19 16:22] neher opened #30 "Take into account outdir when specified"
Currently we can not specify another output folder.

We can use the 'outdir' document attribute for this.
The gem should generate images relative from this folder, if the document attribute is specified.

[2014-04-11 08:23] #30 closed, assigned to nobody

[2014-06-27 16:39] thorstenkampe opened #33 "Prelease doesn't run"
Prelease 1.2.0.preview.5 errors:
"""
~> ~/.gem/ruby/1.9.1/bin/asciidoctor-diagram --trace Desktop/Article.adoc
/home/thorsten/.gem/ruby/1.9.1/gems/asciidoctor-1.5.0.preview.8/lib/asciidoctor/cli/options.rb:226:in `rescue in parse!': uninitialized constant OptionParser (NameError)
    from /home/thorsten/.gem/ruby/1.9.1/gems/asciidoctor-1.5.0.preview.8/lib/asciidoctor/cli/options.rb:36:in`parse!'

[2014-06-28 15:36] #33 closed, assigned to nobody

[2014-07-06 22:00] mojavelinux opened #34 "Add support for Shaape"
Add support for the Shaape diagram language and converter.

https://github.com/christiangoltz/shaape

The nice part about Shaape is that it already has an extension for AsciiDoc Python, so it should be straightforward to see how it gets invoked from plain-text input.

Since Shaape is written in Python, it will have to be invoked over the system process bridge.

[2014-07-16 18:17] #34 closed, assigned to nobody

[2014-07-19 11:04] Vad1mo opened #36 "running with asciidoctorj"
how or is it possible at all to run this extension asciidoctorj?

[2014-08-13 19:07] mojavelinux opened #37 "Release Asciidoctor Diagram for Asciidoctor 1.5.0"
Now that Asciidoctor 1.5.0 is released, I think we're ready to flip the switch on the Asciidoctor Diagram branch for 1.5.0 by making it the main gem release.

[2014-08-13 19:17] mojavelinux opened #38 "Document that digraph content must begin after newline"
In my experience, the digraph for Graphviz cannot be defined on a single line. Doing so results in a broken image. This should either be documented or fixed.

For example, if I create the following digraph in my AsciiDoc document:

[code]

I get the following image:

![text-graphviz-image](https://cloud.githubusercontent.com/assets/79351/3911084/26bcd8ea-231e-11e4-9aef-f4eed4514237.png)

If I add

[2014-08-14 08:37] Hocdoc opened #39 "Use same destination-dir as asciidoctor"
I compile my documents from the CLI like this:

[code]

asciidoctor will create the output `sample.html` in the `target/` directory.
But asciidoctor-diagram creates all the PNG files in the active directory `.` and not in `target/`. Therefore, the image links in `sample.html` are also wrong.

[2014-08-14 17:45] #38 closed, assigned to nobody

[2014-08-14 17:46] #36 closed, assigned to nobody

[2014-08-14 19:04] #37 closed, assigned to nobody

[2014-08-15 08:15] maxandersen opened #41 "document dot requirement and handle missing dot more gracefully ?"
Maybe i'm missing something but I don't find mention of dot being required for usage of asciidoctor-diagram but it seems it is.

At least when I add a diagram I get this error:

Could not find the Graphviz 'dot' executable in PATH; add it to the PATH or specify its location using the 'graphvizdot' document attribute

and it breaks the rendering of any asciidoc very abruptly.

Should document the r

[2014-08-15 08:24] maxandersen opened #42 "Constants DL and Fiddle is not defined."
I've added the following to Gemfile:

gem 'asciidoctor', '1.5.0'
gem 'asciidoctor-diagram'

Run bundle update.

Added require 'asciidoctor-diagram' to pipeline.rb

If i do not run 'brew install graphviz' I get #41

When I have run 'brew install graphviz' I get:

"Constants DL and Fiddle is not defined."

When trying to render

[code]

Full stacktrace is:

[code]

[2014-08-22 19:56] #42 closed, assigned to nobody

[2014-09-02 13:20] mikeosbornma opened #45 "seqdiag, packetdiag and others give errors"
I'm trying to convert over to asciidoctor from asciidoc and installed the latest version of both asciidoctor  (1.50) and asciidoctor-diagram (1.2.0) on my Ubuntu machine. All my ditaa and plantuml figures get generated correctly, but the only "diag" figure I can get to work is blockdiag, the others, like seqdiag and packetdiag give me:

invalid style for listing block: packetdiag
invalid style for

[2014-09-02 18:13] #45 closed, assigned to nobody

[2014-09-13 09:10] jpraet opened #46 "gemPath file seperator issue on windows"
The examples using 'gemPath' are not working on windows.

[ERROR] Failed to execute goal org.asciidoctor:asciidoctor-maven-plugin:1.5.0:process-asciidoc (generate-html-doc) on project asciidoctor-diagram-example: Execution generate-html-doc of goal org.asciidoctor:asciidoctor-maven-plugin:1.5.0:process-asciidoc failed: (LoadError) no such file to load -- asciidoctor-diagram -

If I replace
  `<gem

[2014-09-13 09:14] #46 closed, assigned to nobody

[2014-09-28 21:44] getreu opened #47 "Failed to build gem native extension."
Can not install extension:

[code]

[2014-09-29 07:18] #47 closed, assigned to nobody

[2014-09-29 07:21] pepijnve opened #48 "Make RJB an optional dependency"
Currently RJB is a required dependency of asciidoctor-diagram. It's used when running PlantUML and Ditaa to avoid starting a new JVM instance for each diagram. RJB uses native ruby extension which makes it more difficult to install compared to regular gems.

To make asciidoctor-diagram installation simpler, consider making RJB an optional dependency. When RJB is not available at runtime, fallback

[2014-09-29 08:52] dashorst opened #49 "Unable to run asciidoctor-diagram on Mavericks without Java 6 installed"
When trying to run asciidoctor-diagram on a 'clean' Mavericks installation without Java 6 installed (but with Java 7 installed from Oracle) it fails with an error stating that Java was not installed and it pops up the dreaded Install Java modal dialog, which directs to Apple's Java 6 download.
- `JAVA_HOME` is pointing to the right JDK (`export JAVA_HOME=$(/usr/libexec/java_home)` in bash_profile)

[2014-10-12 18:39] #49 closed, assigned to nobody

[2014-10-22 08:59] tduchateau opened #50 "Make these extensions work with Maven/Gradle plugins"
This is probably already in your backlog but making these extensions work with both [asciidoctor-maven-plugin](https://github.com/asciidoctor/asciidoctor-maven-plugin) and [asciidoctor-gradle-plugin](https://github.com/asciidoctor/asciidoctor-gradle-plugin) plugins would be very practical. This would eliminate the need to invoke Asciidoctor via the Ruby API.

Or maybe there is already a way to ach

[2014-10-29 10:46] #50 closed, assigned to nobody

[2014-11-06 12:37] domgold opened #51 "PNG rendering fails with graphviz on Windows"
When I render the following block:

[code]

I get the following error message: `(RuntimeError) Invalid PNG signature`

I am using the basic maven setup from the maven examples (asciidoctor-diagram-example) on a french Windows 7 Pro.

I patched the file 'png.rb' which causes this error by returning a size by default. With this patched version the png file gets created but is corrupted.

I suspect t

[2014-11-26 21:33] rahmanusta opened #52 "Integrating PlantUML to Asciidoctorjs"
I want to integrate PlantUML to AsciidocFX because It is based on Java. What can be the best practice with Asciidoctorjs. How can i extend it?

[2014-11-27 19:13] #52 closed, assigned to nobody

[2014-11-27 19:40] #39 closed, assigned to nobody

[2014-11-27 20:39] #48 closed, assigned to pepijnve

[2014-11-30 15:36] #51 closed, assigned to pepijnve

[2014-11-30 18:07] #20 closed, assigned to nobody

[2014-12-04 20:03] rahmanusta opened #57 "Extension Linebreak"
Hi, i wrote a simple extension for example purpose;

[code]

reader.read prints words without linebreak, it print in same line, How can i generate with linebreaks?

Second question is,  is there a documentation for developing asciidoctor extensions?

Thanks

[2014-12-04 22:20] #57 closed, assigned to nobody

[2014-12-12 21:34] #41 closed, assigned to nobody

[2015-02-02 10:25] wimalopaan opened #58 "Scaling the generated images"
It would be nice if there would be a possiblility to scale the generated svg diagrams. Especially for plantuml this would be nice:

 [plantuml, scale="200%"]
 ----
 A->B
 ----

[2015-02-05 09:27] mojavelinux commented on #58
:+1:

This aligns well with the scale attribute in image macros used by the DocBook backend.

[2015-02-05 10:06] aalmiray opened #59 "Missing documentation on imagesoutdir attribute"
Issue https://github.com/asciidoctor/asciidoctor-diagram/issues/39 introduced a new attribute `imagesoutdir` whose usage is not explained in the documentation.

[2015-02-14 20:40] pepijnve commented on #59
This was kind of a temporary workaround for missing information that asciidoctor wasn't exposing. I'll recheck to see if this has been resolved in the meantime or not. If not, I'll make sure to add some documentation on this attribute.

[2015-02-14 20:41] pepijnve commented on #58
I seem to remember one of my colleagues already implementing this. Certainly feasible and a good idea.

[2015-02-19 10:25] j-manu opened #61 "Current PlantUML fails when detach""
The PlantUML included in the gem  - Version 8004 - does not handle the detach keyword

[2015-02-19 10:31] #61 closed

[2015-03-03 09:30] gudesh opened #64 "Wrong embedding for SVG objects in HTML"
I'm trying to use **asciidoctor** for a highly linked documentation mostly based on generated *graphs*.

I'll use **graphviz** and **nwdiag** for this.

The graphs and their integration look very good, thank you.

**But** the **hyperlinks** set in the graphs (Ex: `web_srv [href="web_srv_details.html"]`) are **dead** when clicked upon from the html page.
Actually they are useable if I view the .svg

[2015-03-18 09:39] gudesh opened #65 "Table-embedded diagram generation does not kick in"
When I embed a "blockdiag" diagram into a table's cell (with cell's type = `asciidoc`) it does not get generated.

However, if I place the same diagram's code _outside and before_ the table too, then it gets
a) generated and displayed before the table (which I do not want, of course)
b) the diagram, for which a file now exists, gets gracefully displayed in the table's cell (which is what I want)

[2015-03-18 09:40] pepijnve commented on #65
@mojavelinux do you happen to know if the root cause here is an asciidoc syntax issue, an asciidoctor parsing issue, or a problem in the extension? Could save me some investigation time...

[2015-03-18 09:43] pepijnve commented on #65
@gudesh do you get the same behaviour when, for instance, embedding a source code block in a table?

[2015-03-19 09:32] gudesh commented on #65
@pepijnve I installed Coderay for the occasion and I can confirm it *does* get called within a table's cell.

[2015-03-21 05:48] wimalopaan opened #66 "Enable "salt" sketches in plantuml diagrams"
plantuml has an included subproject called "salt".
It should be possible to draw a tree like this:

[code]

Unfortunately I get a syntax error here. Suppose that the starting line "salt" isn't sent to plantuml.

[2015-03-21 07:08] pepijnve commented on #66
That's odd; I'll look into it.

asciidoctor-diagram wraps the plantuml code you provide in a `@startuml`, `@enduml` pair if it doesn't find `@start` at the beginning of your code. AFAICT from the plantuml documentation that should work. You could try putting `@startsalt`/`@endsalt` in your plantuml block yourself; that might already work.

[2015-03-21 07:28] pepijnve commented on #66
I did some quick checks and it seems asciidoctor-diagram is sending the correct code to plantuml, the salt codepath in plantuml is being triggered but it's throwing an IllegalArgumentException.
I'll look into this further later today.

[2015-03-21 07:43] wimalopaan commented on #66
Maybe its a version issue with plantuml?

[2015-03-21 09:06] pepijnve commented on #66
Perhaps. Updating the plantuml version is on my todo list together with making it possible for users to choose the plantuml version they want to use (and download it from a maven repo)

[2015-03-21 18:53] pepijnve opened #67 "Unbundle dependencies"
Currently plantuml and ditaa are packaged inside the gem, but shaape, blockdiag, etc are not. I think we should consider taking plantuml and ditaa out of the gem and treat them like the other external tool dependencies.
As a convenience a small bit of code could be added to asciidoctor-diagram to download the jars from a maven repo. Additionally new document attributes could be introduced that all

[2015-03-21 18:54] pepijnve commented on #67
@mojavelinux would love to hear your opinion on this...

[2015-03-21 18:57] pepijnve commented on #66
FYI, identical error using plantuml 8020

[2015-03-21 19:34] pepijnve commented on #66
Whoops, the previous errors were my own fault. After trying a number of things I'm back to the current version of the asciidoctor-diagram code and things just work.
I tried your example on the plantuml demo server and it didn't work there either, so perhaps there's just a syntax error in your salt code. I'm not familiar with that though so no idea what's wrong.

I am going to make an ehancement to

[2015-03-21 19:52] wimalopaan commented on #66
Mmh, strange ... the following works with the plantuml demo server but not in asciidoc-diagram:

[code]

[2015-03-23 08:06] pepijnve commented on #66
Can't reproduce that here I'm afraid. What kind of error are you getting? If you PlantUML is producing a syntax error image then afaict the issue is on the plantuml side of things. When asciidoctor-diagram sends bad data to plantuml I got IllegalArgumentExceptions.
Either way, if you could copy/paste the error messages you're seeing, that would be very helpful.

[2015-03-23 08:36] wimalopaan commented on #66
Here are the messages:
[code]

for the folloging file:
[code]

[2015-03-23 08:49] pepijnve commented on #66
Thanks, I'll have a look at that this evening. Could you also let me know which platform you're running on and which regional settings (for Windows) or locale (for Unix like systems) you're using. The bad UTF-8 sequence message makes me think this is a character encoding translation issue somewhere.

[2015-03-23 09:00] wimalopaan commented on #66
Here the information:
[code]

[2015-03-23 19:41] pepijnve commented on #66
Sorry forgot to ask for some additional info. Which version of asciidoctor-diagram are you using?

[2015-03-23 20:17] #66 closed

[2015-03-24 01:42] saschazelzer opened #69 "Call ditaa with command line arguments"
Hi,

is it possible to specify command line arguments or something equivalent in the asciidoc file when running ditaa? I would like to control effects like box shadows and box separations which is possible via ditaa command line arguments `--no-separation` and `--no-shadows`.

Thanks.

[2015-03-24 05:10] wimalopaan commented on #66
Will you push that to rugygems?

[2015-03-24 06:34] pepijnve commented on #69
No that's not yet possible, but shouldn't be too hard to add. I propose adding support for passing ditaa command line arguments as block attributes. For instance:
[code]

[2015-03-24 08:10] pepijnve commented on #66
Yes of course :) I expect to make a final 1.3.0 this week. There’s a couple of small issues that I would still like to resolve before making that release.
If you like you can already install the preview build (`gem install --prerelease asciidoctor-diagram`). That should already fix the problem for you.

[2015-03-24 08:27] wimalopaan commented on #66
Sorry, just did that update to preview.3 but the error remains :-(

[2015-03-24 08:28] pepijnve commented on #66
Oops, then my memory is letting me down. Must have fixed this after preview.3 then.

[2015-03-24 08:32] pepijnve commented on #64
What asciidoctor-diagram does is convert the diagram block to an image block at the asciidoc syntax tree level. The chosen asciidoctor backend then converts this to the chosen output format. It's the HTML5 backend that's choosing to write an `image` tag rather than an `object` tag.
I'll double check, but I don't think I can influence this from the asciidoctor-diagram code. If it's not possible I'l

[2015-03-25 15:49] kira-backes commented on #61
@j-manu When will there be a new (preview) gem release? https://rubygems.org/gems/asciidoctor-diagram/versions

Since I really want to use detach ;-) If it takes too long please just tell me and I’ll compile from source

[2015-03-25 17:17] pepijnve commented on #61
@kira-backes I promised @wimalopaan a 1.3.0 release by the end of this week in #66. Still hoping to make that happen.

[2015-03-25 19:33] pepijnve commented on #65
AFAICT this is an asciidoctor issue. I been able to reproduce this and the block processor is simply not being invoked. I scanned through the asciidoctor source code and couldn't find any indication that extensions are invoked for content inside tables.
I've created https://github.com/asciidoctor/asciidoctor/issues/1300 to get to the bottom of this.

[2015-03-25 19:42] pepijnve commented on #64
As suspected this is an issue with the default HTML5 backend. Short term fix is to monkey patch the backend to generate the content you want. There's no way for the asciidoctor-diagram plugin to do this for you I'm afraid.

[2015-03-25 19:42] #64 closed

[2015-03-26 15:21] kira-backes commented on #61
Thanks for the fast reply (and your work)!

[2015-03-26 20:51] pepijnve commented on #58
Resolved in 69efda565940a1bc2ed040cd6ca83e112133f982

[2015-03-26 20:51] #58 closed

[2015-03-26 20:53] pepijnve commented on #69
Resolved by 887a5771aba1b90ba2fa17c4b7470c0ac298293b
I ended up adding support for an options attribute that takes the ditaa command line arguments as value. You can write, for instance,
[code]

[2015-03-26 21:52] saschazelzer commented on #69
Awesome, thanks!

However, the image caching mechanism seems to be too aggressive now. Changing the options without changing the ascii image does not regenerate it. Is there some work-around?

[2015-03-27 06:57] pepijnve commented on #69
Thanks for catching that one. The options are indeed not taken into account for the cache validation. Oversight on my part. I'll try to fix that this evening.

[2015-03-28 19:48] pepijnve commented on #69
5149ac682d3517155c9868ddacbf1c5a11d4b46f makes the ditaa processor take the options attribute into account when deciding if the image needs to be regenerated or not.

[2015-03-29 18:00] pepijnve commented on #66
@wimalopaan I just pushed 1.3.0 preview 4 to rubygems.org which should fix this (and other) issues. If I don't get any complaints I'll push this as 1.3.0 next weekend.

[2015-03-30 05:12] wimalopaan commented on #66
Am 29.03.2015 um 20:00 schrieb Pepijn Van Eeckhoudt:

Great!
All my testcases work. Thank you very much!

--
Wilhelm

[2015-03-30 12:49] mojavelinux commented on #67
I like the idea of unbundling. I also like the idea of an install subroutine inside the processor.

We could also consider the possibility of creating a wrapper RubyGem that handles the installation, much like the kindlegen RubyGem works (it uses the extconf.rb script to download). See https://github.com/tdtds/kindlegen/blob/master/ext/kindlegen/extconf.rb This would make it useful for anyone usin

[2015-03-30 13:07] pepijnve commented on #67
The direction I was thinking about was to use each dependencies native package manager to download. So for plantuml and ditaa that would be maven and we download to `~/.m2`, mermaid (when support for that lands) would be installed via npm, blockdiag and co and shaape via pip (or easy_install). That way we can pick up those dependencies no matter how they're installed.

The question that remains is

[2015-03-30 13:47] mojavelinux commented on #67
Sounds reasonable. For getting Java dependencies, I recommend using Gradle over Maven. Gradle can be embedded using the Gradle Wrapper and can be used as an external tool in order to download a dependency much easier.

I don't think users care so much as long as the instructions are clear. People are willing to go to great length with clear instructions ;) It's the unknown that is scary.

[2015-03-30 15:44] mojavelinux opened #70 "Allow the diagram font to be specified"
It would be nice if it were possible to specify the font used in diagrams (for instance, in salt file trees).

This definitely isn't something we should encourage at the block-level since it mixes content and presentation. We could, however, allow document-level attributes to be used, such as:

[code]

Another option is to consider having a configuration file for Asciidoctor Diagram in which we ca

[2015-03-30 16:00] mojavelinux commented on #66
It appears that two sets of curly braces are required. The following works for me using 1.3.0.preview.4

[code]

We can either decide to simply document this or perhaps find a way to eliminate the requirement for one of the sets of curly braces. I don't know the salt syntax well, so I'm not sure if that's assuming too much.

[2015-03-30 16:06] pepijnve commented on #66
Whatever you put in the block is passed to plantuml as is. The only transformation that's applied is to check for `@startuml` (or `@startsalt`) and add those (and their `@end` counterpart). IMO we should not go further than that.

If I'm reading the documentation correctly, the outer braces define the 'window'. You need a window at the root level; widgets can't appear directly.

[2015-03-30 17:40] mojavelinux commented on #58
:+1:

[2015-03-30 20:59] mojavelinux commented on #69
I'm definitely in support of this approach, but I wonder if we should also have the option of making these customizations globally using document attributes. wdyt? Something like:

[code]

or even

[code]

[2015-03-30 21:32] mojavelinux commented on #65
Correct, this is not currently supported in Asciidoctor. Of course, it should be. I don't think it will be much of an issue to fix it, but we'll definitely have to handle it upstream in core.

[2015-03-31 07:55] pepijnve commented on #65
Replaced by asciidoctor/asciidoctor#1300.

[2015-03-31 07:55] #65 closed

[2015-03-31 08:34] pepijnve commented on #69
Sounds like a good idea. My first implementation actually had the options in the form you're using above; without the double-dashes. That looked more asciidoc-like in my eyes than raw command line arguments. I backed away from that approach thinking that it might be easier for users (and less documentation work) if you could just use the command line arguments of the tool in question as is.

If we

[2015-03-31 09:43] mojavelinux commented on #69
I like what you've suggested, esp the document level attribute.

[2015-03-31 11:42] saschazelzer commented on #69
I would definitely use document attributes if they were available. As a consequence, the syntax should be the same at the block level, as you already said. Your example above looks good to me. I am not an expert asciidoc user (yet) though.

[2015-03-31 18:58] vstriz opened #71 "Do not require dot on path for sequence diagrams"
PlantUML is able to generate sequence diagrams without using *dot*. However the asciidoc-diagram extension still fails with:

ERROR: Failed to generate image: PlantUML image generation failed: Bad Req
uest java.io.IOException: Could not find GraphViz 'dot' tool
        at org.asciidoctor.diagram.PlantUML.getGraphviz(PlantUML.java:24)
        at org.asciidoctor.diagram.PlantUML.generate(PlantUML.ja

[2015-03-31 20:17] mojavelinux commented on #59
I think we're going to be stuck with it for now because it seems like it's a tougher change to split in/out dirs globally than expected. It can't hurt to use this and then to move to something more universal in the future. Perhaps in the note just mention that we may have a more elegant solution in the future. For now, this is it. It is enabling a lot of use cases that are important.

[2015-04-01 07:27] pepijnve commented on #71
@vstriz the processing code tries to find the dot executable regardless of the code of the diagram it's processing. The diagram code itself is treated as an opaque string and simply passed to plantuml.

I could the dot lookup conditional but that would require parsing the diagram code since there's no simple way to detect that a bit of plantuml code is a sequence diagram (i.e., there's no `@starts

[2015-04-01 12:20] vstriz commented on #71
I agree that you shouldn't implement parallel parser. What about this alternative. Look for dot executable as you do now and set on options it if you find it. However If you don't find it, don't throw the exception immediately but call to plantuml anyway. I am assuming that plantuml will throw an exception of its own if it can't run dot and needs it. You can then either catch that and wrap it in y

[2015-04-01 21:16] mojavelinux commented on #64
Technically, Asciidoctor Diagram could override the handler used to render the image block, but I'd rather not go down that path. Let's address it in core so that we fix it where the problem is actually happening.

[2015-04-04 13:14] pepijnve commented on #69
Reopening for syntax change and document attribute support

[2015-04-04 14:13] pepijnve commented on #69
I ended up implementing the following:

- The Ditaa extension supports the options `scale`, `antialias`, `separation`, `round-corners`, `shadows` and `debug`
- Options can be specified per block as `<option>=<value>` or globally as a document attribute of the form `:ditaa-option-<option>: <value>`
- Block level options override global options
- Default values are Ditaa's defaults

The semantics of

[2015-04-04 14:14] pepijnve commented on #58
FYI, the latest commit changed the scale syntax from percentage to fraction. In other words, instead of `scale=150%` you'll need to use `scale=1.5`.

[2015-04-04 14:50] #69 closed

[2015-04-04 18:54] mojavelinux commented on #69
Huge :+1: !

[2015-04-04 18:54] mojavelinux commented on #58
I like this better, actually.

[2015-04-08 11:53] saschazelzer commented on #69
This is great, thanks!

[2015-04-28 09:00] nikolay opened #72 "ASCIImage support"
It would be nice to have [ASCIImage](http://asciimage.org/) as an extension similar to the diagramming one.

There's a Ruby-based library already: https://github.com/Oblomov/asciimage-ruby

Originally submitted here: https://github.com/asciidoctor/asciidoctor/issues/1317

[2015-04-28 09:09] pepijnve commented on #72
@nikolay given that there's already a Ruby port for this it shouldl be pretty trivial to integrate. I'll try to get this in the next release. Thanks for the suggestion.

[2015-04-28 15:49] nikolay commented on #72
@pepijnve Thank you!

[2015-04-29 21:43] pepijnve commented on #72
I spent some time reviewing this in more detail and it's not as simple as I thought.

From a technical perspective the code you pointed to is a bit hard to reuse. It's not published as a gem, so depending on it that way isn't possible yet. It doesn't have any license on it yet, so I can't just integrate it either. Making my own asciiimage interpreter would be a fun exercise of course :D

From a pr

[2015-04-29 23:55] mojavelinux commented on #72
I'd say that's definitely a prerequisite.

I'd really like to see an example as well.

[2015-05-01 19:13] nikolay commented on #72
@pepijnve @mojavelinux Thank you guys! Let me try to address the first issue with the author and will work on an example for you as well!

[2015-05-11 19:38] pepijnve opened #73 "ditaa diagram not render Chinese character correctly"
Initially reported as https://github.com/pepijnve/asciidoctor-diagram-java/issues/1 by @0000-bigtree.

i use asciidoctor-diagram (1.3.0.preview.4) CRuby(2.2.2p95 (2015-04-13 revision 50295) [i386-mingw32]) with below ditaa code in a adoc(UTF-8)

    ruby -Ku -S asciidoctor -r asciidoctor-diagram xxx.adoc

[ditaa, "header", "png"]
----
+---------+
| 4 bytes | CRC
+---------+
| 1 byte  | 协议版本(Chines

[2015-05-11 19:41] pepijnve commented on #73
@0000-bigtree I've been trying to reproduce this, but I'm getting mixed results. There's definitely an issue when loading diagrams from external files. Asciidoctor-diagram is using the default external encoding in this case and interpreting as UTF-8.
For the embedded diagrams, I can't see anything wrong and I'm getting correct output even if I specify `-E GBK:GBK` on the command line.

[2015-05-11 19:46] pepijnve commented on #73
@mojavelinux could you confirm that asciidoctor always interprets input files as UTF-8. AFAICT the `encoding` document attribute isn't supported, right?

[2015-05-11 19:55] mojavelinux commented on #73
That's correct. AsciiDoc files must be in UTF-8 (or UTF-16). This is a firm requirement.

You can see where this happens in the code here:

https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/helpers.rb#L49-L110

[2015-05-11 20:16] pepijnve commented on #73
Perfect! 755083a9b90d51afc23d9e041dd5f7116dd95099 uses exactly that code to do the same normalization on externally loaded diagram source code.

[2015-05-11 21:12] mojavelinux commented on #73
:+1:

You may want to also consider launching the `java` command with the file encoding property set. Do you think that's necessary?

[2015-05-12 05:58] pepijnve commented on #73
It shouldn't make a difference. The diagram code is passed to Java over HTTP as text/plain; charset=UTF8. Conversion of the post body from byte[] to String is done using an explicit charset, UTF8. In other words, it should already just work.

I'll have to set up a more elaborate reproduction scenario I think. Maybe make a vm configured to use a Chinese locale.

[2015-05-12 06:03] mojavelinux commented on #73
Perfect. Thanks for the clarification!

[2015-06-14 16:58] dvolosnykh opened #74 "Java runtime is not visible"
I am running the following command:

    $ asciidoctor --safe-mode unsafe -a lang=ja -b html5 -d book -r asciidoctor-diagram -o temp.html test.adoc

which gives me an error: *No Java runtime present, requesting install* and popups dialog inviting to install Java SE 6. I've installed Java 8 from Oracle website, but the behavior remains unchanged.

I've verified that Java 8 has been installed correc

[2015-06-14 18:26] pepijnve commented on #74
@dvolosnykh this sounds like the same issue as 49. This turned out to be an issue in the Oracle JDK on OS X that makes it impossible to launch a Java VM from native code without having Apple's Java 6 runtime installed.
I've worked around this by no longer using RJB to launch the Java VM. Could you try using the latest 1.3 preview build and see if the problem persists?

[2015-06-14 18:43] dvolosnykh commented on #74
@pepijnve Yeah, that's it. Sorry for duplicating issue.
I've installed it as follows:

    gem install asciidoctor-diagram:1.3.0.preview.1
    Fetching: asciidoctor-diagram-1.3.0.preview.1.gem (100%)
    Successfully installed asciidoctor-diagram-1.3.0.preview.1
    Parsing documentation for asciidoctor-diagram-1.3.0.preview.1
    Installing ri documentation for asciidoctor-diagram-1.3.0.preview.1

[2015-07-10 13:28] pepijnve commented on #74
@dvolosnykh could you try with the latest preview build? `gem install --prerelease asciidoctor-diagram` should get you the latest one (preview.4).

[2015-07-10 23:47] yeroc commented on #59
Has the fix with `imagesoutdir` actually been released?  There hasn't been a asciidoctor-diagram release in some time now.  I just ran into this issue using the asciidoctor-diagram-example (https://github.com/asciidoctor/asciidoctor-maven-examples/tree/master/asciidoctor-diagram-example).  When I discovered the diagrams were being generated into my `src` and went looking for a solution...

[2015-07-11 04:31] mojavelinux commented on #59
Yep, it's available in the 1.3.0 previews (I tested 1.3.0.preview.4).

I think it's safe to upgrade the Maven example to use this version. First, you'd need to change the version of the gem to 1.3.0.preview.4. Next, you need to add the following attribute (adjacent to where `imagesdir` is set).

[code]

I tested it and it works. Could you open an issue in https://github.com/asciidoctor/asciidoctor

[2015-07-11 07:47] pepijnve commented on #59
Apologies for not getting a proper 1.3 out the door yet. preview.4 has been available for a while and I haven't seen any new issues reported so I'll build and publish that as 1.3.0 tomorrow.

[2015-07-11 07:56] mojavelinux commented on #59
:+1:

[2015-07-13 15:30] yeroc commented on #59
Thanks a lot @mojavelinux, I updated to 1.3.0.preview.4 and specified the config as you suggested and it works.

@pepijnve I wasn't aware of the newer previews as there are no release tags for them on github?  Do tags for those only exist in your local github repository?  Could we get those pushed up to github?

Thanks again.

[2015-07-28 18:25] kubamarchwicki commented on #73
I'm not sure if that falls into the same problem, but for Polish locale I'm having similar problems

With following snippet
[code]

I'm having following error (I'm using it through asciidoctor-gradle)
[code]

Running ditaa standalone doesn't show any issues
![aa](https://cloud.githubusercontent.com/assets/637628/8939762/b13071b6-3566-11e5-8e87-4e86c873ef2f.png)

Sticking to ASCII chars only works

[2015-07-28 18:43] mojavelinux commented on #73
We definitely don't want to accept that limitation :)

@kubamarchwicki Have you tried with Asciidoctor Diagram 1.3.0.preview.4 or are you using a release from the 1.2 series?

[2015-07-28 21:08] kubamarchwicki commented on #73
I was using the release 1.2.0. With 1.3.0.preview.4 works like a charm! :100: thx

[2015-07-29 00:02] mojavelinux commented on #73
:+1:

@pepijnve Is there anything I can do to help with the 1.3.0 release?

[2015-07-29 06:55] pepijnve opened #75 "Update PlantUML to latest revision"
Update PlantUML to the latest revision.

Note that the latest builds include an old version of Ditaa. We should probably repackage PlantUML using jarjar to avoid any weird behaviour due to version incompatibilities.

[2015-07-29 06:57] pepijnve commented on #73
Great that it works for you @kubamarchwicki. That makes it extra strange that @0000-bigtree is having these problems with 1.3.0.preview.4 though. I would think once we're transferring everything in UTF-8 that we should be good regardless of the characters that are being used.

@mojavelinux I was about to release 1.3.0 but decided to tackle #75 before doing that (should have made that public earlie

[2015-07-29 08:10] mojavelinux commented on #73
:+1: Thanks for the update, @pepijnve!

[2015-07-29 08:11] mojavelinux commented on #75
:+1:

[2015-08-03 22:57] kubamarchwicki opened #76 "'Bumping' Ditaa version"
Hi,
This is a bit 'yak shaving'ish - but here is the story.

Ditaa extension for asciidoctor-diagram (great stuff - btw) allows (recently - as of #69) for ditaa options.
One of the options on DItaa sourcecode is "transparent" background (https://github.com/stathissideris/ditaa/blob/master/src/org/stathissideris/ascii2image/core/CommandLineConverter.java#L71). However - this is not a feature availa

[2015-08-04 08:57] pepijnve commented on #76
Hi Kuba,

When I was adding support for Ditaa in asciidoctor-diagram there was no proper release binary of Ditaa available for download. I forked the project, did some cleanup and packaged that up as ditaamini. It's 'mini' since it's pretty small and I stripped out all the code that requires additional external dependencies. Source repo is at https://github.com/pepijnve/ditaa

You're right that I

[2015-08-04 08:57] #76 closed

[2015-08-04 08:57] #75 closed

[2015-08-04 09:59] kubamarchwicki commented on #76
Woow that was fast! :+1:
Thx - the description was quite elaborate as I was thinking of setting up pull request but you didt so fast :) great stuff

--Kuba

[2015-08-04 10:07] pepijnve commented on #76
The 1.3.0 release was long overdue and this request gave me just enough of a push to just finish it. :)

[2015-08-04 20:41] mojavelinux commented on #76
:+1:

[2015-08-05 11:42] pepijnve commented on #74
Most likely duplicate of #49 which has been resolved in 1.3.0. Please reopen if this still occurs with the 1.3.0 release.

[2015-08-05 11:42] #74 closed

[2015-09-03 00:04] MarkCallow opened #77 "Generated diagram image not found when -D or -o options specified"
If you specify the `-D <destination dir>` or `-o <output file>` options to asciidoctor, you get the following warning (which is actually an error as the image is not included in the document.)

[code]

Note that in the failing case `<output file>` is in a directory other than the document source directory.

This error happens because the diagram image is generated in the destination directory whil

[2015-09-05 21:54] mojavelinux commented on #77
In this case, I recommend specifying the `imagesoutdir` attribute explicitly so the generated images go to the right place. If that still doesn't work, let's fix that scenario so it does work.

[2015-09-10 00:57] chanibal opened #78 "Can't get to run on windows"
Just tried to install on windows+cygwin, but can't get it to work. I'm not sure if this is my instalation problem or i have found a bug.

My instalation procedure (from cygwin prompt):
[code]

My version is:
[code]

[2015-09-10 18:56] mojavelinux commented on #78
Seems like it isn't finding the bundled Asciidoctor Diagram jar file that provides the server.

Could you show the output of the following command?

[code]

The tests do pass on Windows (see https://ci.appveyor.com/project/asciidoctor/asciidoctor-diagram). I wonder if this scenario is not covered, though.

[2015-09-10 19:24] chanibal commented on #78
[code]

Maybe this is because of my not so standard setup? This is windows 10 + cygwin (current stable). Most things seem to work, though.

[2015-09-10 19:26] chanibal commented on #78
Can't run this on cmd at this moment (did not install bats in %USERDIR%/bin, just bash).

[2015-09-10 22:28] mojavelinux commented on #78
That could very well be the problem. Most issues with running Ruby programs tends to be that the OS doesn't setup the binstubs or PATH correctly. (One of Ruby's biggest downfalls is that OS vendors totally screw up the environment by default, which is why I always, always, always use RVM...which does work on Cygwin btw).

[2015-09-11 08:24] pepijnve commented on #78
@chanibal if you could try out some patches it might be easier to get to the bottom of this. asciidoctor-diagram locates its jar files, but doesn't really validate if they exist or not. See https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/util/java.rb#L6 for an example. Most likely an incorrect path is being constructed and being passed to the JVM.

Could you

[2015-09-16 06:54] chanibal commented on #78
Output with args:
[code]

All files mentioned exist:
[code]

[2015-09-16 07:02] pepijnve commented on #78
@channibal thanks for that. So the ditaa jar is missing for some reason. That's why you're getting the `Could not find or load main class org.asciidoctor.diagram.CommandServer` error. The CommandServer class indirectly has dependencies on classes in the ditaa jar and if that's not present then CommandServer won't be loadable.

There are two things that can be done here:
- Make the CommandServer cl

[2015-09-16 07:04] pepijnve commented on #78
Double checked the metadata in the gem file as well. `lib/ditaamini-0.10.jar` is listed in there as well so there's really no reason why it shouldn't be present after installing. Bizarre...

@mojavelinux have you ever seen something like this happen?

[2015-09-16 08:01] chanibal commented on #78
@pepijnve, I do have dittamini, look at my comment again. I have made a copy-paste error before and edited my comment to fix this within a minute of posting, but you were faster to read it, I guess.

[2015-09-16 08:29] pepijnve commented on #78
Yep when I read your comment it said no such file for ditaa :)
Looking at the output again it dawned on me what's wrong. You're running on windows with the windows version of the JVM which expects `;` as path but since Ruby is running under Cygwin the `File::PATH_SEPARATOR` is returning `:`.
The code probably needs a special case for Cygwin to handle this. You might be able to override the path se

[2015-09-16 09:02] pepijnve commented on #78
@chanibal if you have some more time to test this, could you try replacing `File::PATH_SEPARATOR` with `';'`at https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/util/java_socket.rb#L16. If that works, then my hunch is confirmed and I'll add the special cygwin case and make a 1.3.1 build asap.

[2015-09-16 17:47] chanibal commented on #78
Changed `File::PATH_SEPARATOR` to `";"`:
[code]

Just to be sure, from the command line nothing changes:
[code]

But this thing works:
[code]

Adding pull request. Please review it, my first ever code in ruby so it might have problems

[2015-09-16 20:51] mojavelinux commented on #78
:+1:

[2015-09-30 10:34] #78 closed

[2015-10-14 08:09] JGrenier opened #80 "Custom Shape with graphviz"
Hi,

Are the graphviz custom shapes supported ?
http://www.graphviz.org/wiki/how-create-custom-shapes

In other word, is there a way to activate the options -Tps, -Tps2, -Tpng, -Tsvg .....

Thanks in advance.

[2015-10-14 08:33] pepijnve commented on #80
There's no special support for custom shapes at the moment. graphivz is invoked with the command line `dot -o<output file> -T<output format>`, so in theory this will work. There are quite a few caveats though and in practice I don't think it will.
When generating SVGs graphviz simply copies the file name to the output SVG document. The custom shape files won't get copied to the output directory by

[2015-10-14 19:00] mojavelinux commented on #80
Seems like a good goal to start with.

[2015-11-02 14:14] s-ga opened #82 "PlantUML working directory fixed at first call only"
The problem only appear on consecutive calls to asciidoctor-diagram **in the same process**.

# Context

I made a Ruby script to convert several adoc located in differents directories.
Some documents include PlantUML blocks including images using the creole syntax (e.g. `<img:my_pic.png>`).
The images for each document are in the same directory of it.

For each document the script changes the work

[2015-11-09 10:25] pepijnve commented on #82
You're correct that the JVM is launched only once for performance reasons. As you noticed, spawning a new JVM instance per diagram is too slow to be usable.

The JVM is running a mini HTTP server that performs the diagram conversion. This issue can be fixed by passing the working directory to the JVM process via a custom HTTP header and changing the working directory before PlantUML itself is call

[2015-11-09 10:29] pepijnve commented on #82
Ugh, and now I remember that Java doesn't provide a built-in way to change the working directory of the process. The `user.dir` system property can be set, but that may not fix the issue in all cases (depends on how PlantUML opens the referenced files). I'll try that first, but if it doesn't work we'll need to use https://github.com/jnr/jnr-posix or something similar.

[2015-11-09 10:38] pepijnve commented on #82
On second thought, it's probably better and simpler to pre-process the PlantUML source code. It should be straightforward to scan the code for the creole `<img:file>`-like bits and convert any relative paths to absolute ones on the Ruby side. This way asciidoctors safe mode utilities can be used to check the file references for validity.

[2015-11-16 18:38] abelsromero opened #83 "Exception when dot is not found not thrown in v1.3.1"
In version 1.2.1, when `dot` command was not found,an exception was thrown and the conversion aborted. But in version 1.3.1 the conversion shows the exception in the console, but also inserts it into the generated HTML (see attachment). Seems to me that it is not thrown or asciidoctor (ruby) is not catching it.

I am using the example https://github.com/asciidoctor/asciidoctor-maven-examples/blob/

[2015-11-16 19:50] pepijnve commented on #83
That change was made in f9d20aafb5a914c77ce323bebf54d9913759a26d to resolve issue #41. It's not an ideal solution, but the best resolution I can come up with is to make this an option (controlled via a document property). Would that be acceptable?

[2015-11-16 20:07] pepijnve opened #84 "Restore support for `graphvizdot` document attribute"
In asciidoctor-diagram 1.2.0 the location of the graphviz `dot` command could be specified using the `graphvizdot` document attribute. Since 1.3.0 this is no longer supported.
Support for this attribute should be restored.

Additionally it would be convenient to support this attribute for graphviz type diagrams as well. Currently only the `dot` document attribute can be used for this.

[2015-11-17 10:22] abelsromero commented on #83
I understand the history behind it and I realize that the ideal solution would be having a standard solution to "push" exceptions to asciidoctor so it can decide what to do.
But there are two things in this issue:
* First, on error, right now the exception stack is embedded in the generated HTML. I think that at least, this should be fixed, so that in case on error, the original content of the sec

[2015-11-17 10:38] pepijnve commented on #83
With which diagram type are you seeing the stack trace in the generated output? The code to handle error cases is at https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/extensions.rb#L106. It should be prepending the exception message to the diagram code and generate a listing block.

 The second issue is one for @mojavelinux to have a look at I think. We talked

[2015-11-21 02:04] mojavelinux commented on #83
On Tue, Nov 17, 2015 at 3:39 AM, Pepijn Van Eeckhoudt <
notifications@github.com> wrote:

Not yet. Most likely 1.6.0. Related to
https://github.com/asciidoctor/asciidoctor/issues/44

[2015-11-24 18:47] chrylis opened #85 "generated img tags disregard output directory"
I am using jekyll-asciidoc, and when I use the asciidoctor-diagram extension, files are saved according to the `imagesoutdir` attribute. However, the `img` tag in the HTML output always uses the name of the image file with no path information (e.g., `<img src="foo.svg">) regardless of location.

[2015-11-24 19:05] mojavelinux commented on #85
You need to set the imagesdir attribute to control the prefix used in the HTML.

[2015-11-24 20:52] chrylis commented on #85
Ah; I thought that this would resolve automatically since the plugin is injecting the image tag. Unfortunately, `imagesoutdir` appears to be a global attribute (can this be overridden per-post in Jekyll?), which would leave all of the images in the same directory.

It seems like managing these parameters automatically (e.g., prefixing the same way that the output HTML files are) would be a good fe

[2015-11-28 18:48] mojavelinux commented on #82
Exactly, that gives you the opportunity to use the path resolver functions either in AbstractNode or PathResolver.

[2015-12-23 10:36] pepijnve commented on #72
Marked this issue as deferred. While it would be a nifty feature to implement I have my doubts about its usefulness. If anyone feels like contributing a patch for this, those are always welcome of course.

[2015-12-23 12:00] #84 closed

[2015-12-23 12:13] pepijnve commented on #82
I'm going to fix this, as discussed above, by resolving the paths in `<img>` tags against `imagesdir` using `normalize_system_path`.

[2015-12-23 19:10] mojavelinux commented on #82
:+1:

[2015-12-23 20:21] pepijnve commented on #77
@msc- could you provide a more detailed description of your directory layout and an asciidoc snippet that resembles your document? It would also be helpful to know which backend is causing the problem.

[2015-12-23 20:46] #82 closed

[2015-12-23 20:57] pepijnve commented on #83
I reviewed the relevant code again and figured out why you're getting a stack trace in the output. The Java code is sending back an error response with a plain text body. This body contains a dump of the Java exception that caused the image generation to fail and includes the Java stack trace. This is very useful for debugging, but not so really useful at all for an end-user.

I'm going to switch

[2015-12-24 04:06] mojavelinux commented on #83
:+1:

[2015-12-24 17:02] s-ga commented on #82
thanks!

[2015-12-24 20:10] pepijnve commented on #83
42f68d1 adds support for a `diagram-on-error` document attribute. By default (or if set to `log`) the current logging error handling approach is used. If set to `abort` an exception will be raised instead.

[2015-12-25 20:06] #83 closed

[2016-01-13 07:02] JmyL opened #89 "Wavedrom support"
It would be nice to have Wavedrom(https://github.com/drom/wavedrom) as an preprocessing extension.
It is 4 years old open-source software, It's really cool to adding waveform in documents.
It's implemented with javascript, but it also served as an executable cli version on here: https://github.com/wavedrom/wavedrom.github.io/releases

[2016-01-13 08:06] pepijnve commented on #89
Looks like a perfect fit for asciidoctor and the diagram extension.

I couldn't find any documentation on the CLI interface. Just as a note to self, based on the code, the way to invoke it is `wavedrom <input file> <output type> <output file>`.

[2016-01-13 09:07] pepijnve commented on #89
@JmyL I've made an initial attempt at integrating wavdrom support using the CLI version. On Mac OS X it doesn't work correctly yet. The command line arguments that I pass to nw.js aren't reaching the application (`argv` is an empty array in wavedroms init.js). I tried directly calling the `nwjs` binary and starting the application using `open WaveDromEditor.app`, but both failed to produce the cor

[2016-01-13 15:48] drom commented on #89
Proper CLI would be:
[code]
I have some old phantomjs version of CLI tool, but I was thinking that pure nodejs CLI tool would be better. Working on it now.

[2016-01-13 15:51] pepijnve commented on #89
Adding the missing 'source' keyword did the trick. Thanks!

[2016-01-13 16:07] drom commented on #89
@JmyL @pepijnve let me know how successful integration is :+1:

[2016-01-13 16:15] pepijnve commented on #89
The code is all there and the unit test are passing. I manually inspected that was generated during the tests and it looks correct to me. Once Travis gives the green light on Linux, I'll merge the feature branch and cut a new release.

[2016-01-13 17:30] pepijnve commented on #89
I had to disable the unit tests in the end since wavedrom can't run headless at the moment. I've merged what I have already, but using phantom.js is probably the way forward after all since that's designed to run on servers.

[2016-01-13 17:30] #89 closed

[2016-01-14 08:29] JmyL commented on #89
Incredible! :+1:

[2016-01-14 08:34] pepijnve commented on #89
You're welcome. Let me know if you run into any issues with the integration. You'll probably be the first to kick the tires...

[2016-01-14 10:06] mojavelinux commented on #89
I second that. :+1:

[2016-01-15 00:54] drom commented on #89
@pepijnve Great job!
Will it help if I have pure nodejs module that does not require DOM, NW.JS or PhantomJS?

[2016-01-15 09:37] pepijnve commented on #89
@drom for the asciidoctor-diagram integration itself it doesn't really matter. It invokes wavedrom as a subprocess so it isn't dependant on the technology you're using to implement it.

The consequence of using nw.js for the WaveDrom CLI is that it can't run on a headless server. This restricts where asciidoctor-diagram users can use this integration. Running it on your typical CI server for insta

[2016-01-15 11:00] mojavelinux commented on #89
100%

[2016-01-15 18:08] pepijnve opened #91 "Support Mermaid"
Add support for the [Mermaid](https://knsv.github.io/mermaid/) diagram generator.

- Integrate via the [Mermaid CLI](https://knsv.github.io/mermaid/#mermaid-cli)
- Allow the [sequence diagram configuration](https://knsv.github.io/mermaid/#sequence-diagram-configuration) to be specified using a document attribute that can be overridden per block using a block attribute

[2016-01-15 18:33] pepijnve opened #92 "Add base class or utility methods for web service based image generators"
Provide a base class or utility methods to simplify adding integrations for web service based image generators.

A perfect first candidate use for this is a memegenerator.net integration. See https://github.com/asciidoctor/asciidoctor-extensions-lab/issues/8 for details.

[2016-01-15 18:57] pepijnve commented on #92
This is going to be trickier than I thought. Most of the image generation web services provide an API to generate a new image, but then give you a new URL back. In order to avoid regenerating the same image over and over, the original asciidoc document would need to be updated. Without that capability this would probably be a bit useless or at least quite wasteful.

Might be better to find or writ

[2016-01-15 19:04] #92 closed

[2016-01-15 19:09] pepijnve opened #93 "Add a meme generator extension"
Just for fun add a meme generator extension. See https://github.com/asciidoctor/asciidoctor-extensions-lab/issues/8 for discussion.

[meme_captain](https://github.com/mmb/meme_captain) looks like a good starting point for this. The only downside is that it requires RMagick which is a native extension and as a consequence a bit of a pain to install for many users. One alternative might be to invest

[2016-01-15 19:17] pepijnve commented on #72
Since there's been no news on this and its usefulness seems limited I'm going to close this issue. Feel free to reopen if there are any updates.

[2016-01-15 19:17] #72 closed

[2016-01-15 19:20] pepijnve commented on #93
The trivial script at https://github.com/vquaiato/memish/blob/master/memish.sh looks like a good starting point. If it's that simple, then there's probably no need to use the imagemagick api (except maybe to accelerate things a little bit).

[2016-01-15 22:15] mojavelinux commented on #93
We'll have some fun with this one. It will be especially useful in the presentations. Anything we can do to save a few clicks goes a long way.

[2016-01-15 22:44] timofonic commented on #72
I would love more support for ASCII rendering to images...

And even embed schematic/pcb code into asciidoc :D

http://makezine.com/2010/02/04/ascii-schematic-editor/
http://kicad-pcb.org/help/file-formats/

On Fri, Jan 15, 2016 at 8:17 PM, Pepijn Van Eeckhoudt <
notifications@github.com> wrote:

[2016-01-17 12:48] pepijnve commented on #93
Played around with imagemagick a bit. The following bit of Ruby pseudo code should do the trick for a first implementation

[code]

[2016-01-17 15:07] pepijnve commented on #71
3b789df9e3b07c0e970211f55983af2171219db4 implements the logic discussed above. The Ruby code tries to find `dot`, but doesn't raise an error if it can't. If we've located it already it gets passed on to PlantUML, otherwise we let PlantUML try to find it on its own if necessary.

[2016-01-17 15:07] #71 closed

[2016-01-17 16:08] pepijnve commented on #91
Added support for Mermaid via its CLI. Supports PNG and SVG output. `sequenceConfig` can be specified at the document and block level. `width` can be specified at the block level only.

[2016-01-17 16:08] #91 closed

[2016-01-17 18:01] mojavelinux commented on #91
Nice job! I look forward to putting this one to use.

[2016-01-17 18:03] mojavelinux commented on #93
Would it be possible to use rmagick if it's available and fall back to the
convert cli if not? This would be a silent choice.

[2016-01-17 18:04] pepijnve commented on #93
Definitely, but it probably wouldn't make much difference performance wise (except perhaps on Windows where process creation is a bit slower).

[2016-01-17 18:52] pepijnve commented on #93
Best unit test I've ever written ;)

[code]

gets you

![2df2b8099cca300d3e6d0c3e904c42ed](https://cloud.githubusercontent.com/assets/225326/12379127/c1732d78-bd53-11e5-93b5-e1d3c62445dc.png)

[2016-01-17 18:52] mojavelinux commented on #93
Amazing! :beers:

[2016-01-17 18:53] mojavelinux commented on #93
I agree. It's more about abstraction and keeping things self-contained where possible. I've used rmagick with success in the past.

[2016-01-17 18:54] mojavelinux commented on #93
Presentations worldwide just got crazy.

[2016-01-17 18:58] mojavelinux commented on #93
I'm thinking the background should be the target, since it's the foundation of the meme. You could also make top and bottom positional attributes:

[code]

caps could be an option to make typing simpler:

[code]

We could use a convention of two spaces to represent a line break:

[code]

or we could recognize a double forward slash offset by spaces (or maybe either or)

[code]

line separator coul

[2016-01-17 18:59] mojavelinux commented on #93
Maybe instead of opts=caps we could do case=upper (vs case=lower).

[2016-01-17 19:30] pepijnve commented on #93
opts=upper, that's definitely one I'm going to add.

Positional attributes, good suggestion. The less clutter the better. I'm not sure how that's going to interact with the existing positional attributes that are already support (target and format are 0 and 1 for all extension at the moment), but I'll figure something out.

' // ' instead of '\n', also a good one. I'm passing the string directly t

[2016-01-18 16:26] pepijnve commented on #93
I had a look at RMagick. Using it would avoid spawning a bunch of sub processes, but that would be the only benefit. RMagick 2 doesn't support GraphicsMagick anymore, so there's little abstraction benefit anymore. It's still also a non-FFI native extension that doesn't ship with precompiled binaries. That makes it hard to install for non-developers and difficult to use in anything but MRI.
Given t

[2016-01-20 19:36] drom commented on #89
Done. PhantomJS version of WaveDrom CLI tool is here:
https://github.com/wavedrom/cli
Try it, let me know

[2016-01-21 19:39] pepijnve commented on #89
d0b09c7af7494c5a249206cbecff0b7b1a5924e4 makes asciidoctor-diagram look for wavedrom-cli first and falls back on wavedromeditor. Just ran the specs and seems to work as intended.

I ran into one small quirk: if the output file does end with '.png' then no output is generated. This doesn't happen when generating svg files. Not a big deal; I worked around it in the code.

[2016-01-21 20:01] pepijnve commented on #93
I ended up adding 'noupcase' as the option rather than 'upper'. Upper case feels like a better default for meme images.
Positional attributes and ' // ' substitution have been added as well. Looks pretty good in the asciidoc source this way.

[2016-01-23 18:12] pepijnve commented on #93
I got the generator working under JRuby by using Open3s capture3 instead of capture2e.

[2016-01-23 18:12] #93 closed

[2016-01-23 18:12] pepijnve commented on #93
Merged in fbcf92e40e47fd8645b4f6d73bb22d96c0b2121a

[2016-01-24 09:21] pepijnve commented on #85
I've reviewed the code related to this issue and came to the conclusion that there's not much I can do to improve this. At the moment when the block processing code is triggered, there is no information available regarding where the output master file (e.g., the HTML file) is going to be written. That makes it impossible for the diagram extension to produce a correct relative path wrt the output d

[2016-01-24 09:22] pepijnve commented on #77
Probably the same as #85, but without further details there's not much I can do.

[2016-01-24 09:29] pepijnve commented on #70
@mojavelinux I can give this a try, but I'm not sure if all the diagram types are going to be able to support this. I'll start by compiling a list of mappings for this attribute per diagram type.

- PlantUML: inject `skinparam defaultFontName #{fontname}` at the beginning of the diagram code

[2016-01-24 09:36] mojavelinux commented on #85
I also think that this issue should simmer more in the site plugins (Jekyll, Middleman, etc) so that we have a better understanding of the requirements. Once we know exactly what we want to have happen, then I think we can come back here and be productive discussing it. At least, I know I need to go through this thought process to provide useful input. I'm currently working on the Middleman plugin

[2016-01-24 09:38] mojavelinux commented on #70
:+1: The best approach seems to be to start with the diagram engines that support it so we can feel out how it will work. Then we can add them in as those engines permit.

[2016-01-24 15:09] pepijnve commented on #70
@mojavelinux based on my initial research, this is not going to be easy for most diagram types.
Meme and ditaa are straightforward, but the others adding or modifying content in the diagram code. Perhaps supporting attribute substitutions in the diagram code would be the easier way to do this. You would still have to repeat the attribute ref in each diagram, but at least you can control the font g

[2016-01-25 19:59] mojavelinux commented on #70
Thanks for digging into this. I'd say that the goal here isn't to make the tools do something they can't but to activate the feature in tools that do. So the focus is really meme and ditaa, and maybe plantuml if there is a way to somehow inject that information into the diagram output (in the case of SVG).

[2016-02-02 21:30] metro69 opened #94 "Java large pages cause socket error"
My CentOS system has issues with large pages on java (it throws _'Cannot allocate memory' (errno=12); Cannot allocate large pages, falling back to regular pages_ errors, but continues).

In java_socket.rb, this causes the java call to silently fail and not create a socket. As a result, asciidoctor-diagram will fail with _Network is unreachable - connect(2) for "localhost" port 0_.

This problem is

[2016-02-02 21:44] pepijnve commented on #94
Enabling that flag by default is a bit risky.

Are you seeing this error right away? If it happens after a while this might be due to a memory leak.
Do you get the same error if you reduce the initial/max heap size with -Xms/-Xmx?

[2016-02-02 22:02] metro69 commented on #94
Happens right away. Default heapsizes seem ok:
InitialHeapSize                          := 526065920
MaxHeapSize                            := 8417968128
Changing them with Xms/Xmx does not seem to have any impact on the large page error.

What is the risk of the flag? It is recommended by Oracle in case of large page errors.

[2016-02-03 12:18] pepijnve commented on #94
I'm just a bit reluctant to add JVM launch parameters without understanding the full consequences of them. Adding this flag may break things for other people.
I would prefer root causing why this is happening first rather than just fighting the symptoms. Could you provide some more information about your environment (CentOS version, which JVM package/version you're using, amount of memory in the s

[2016-02-03 21:28] metro69 commented on #94
Understood.
CentOS 6.5
Java(TM) SE Runtime Environment (build 1.7.0_51-b13)
Java HotSpot(TM) 64-Bit Server VM (build 24.51-b03, mixed mode)
32GB memory
Huge pages are supported in the kernel.

This looks like a known problem:
https://blogs.oracle.com/poonam/entry/uselargepages_on_linux
http://mail.openjdk.java.net/pipermail/hotspot-dev/2013-July/010117.html

[2016-02-04 06:32] pepijnve commented on #94
I spent some time looking through the oracle big database yesterday. It does indeed seem to be a known issue on Linux. Supposedly 7u60 resolves some issues wrt large page usage but details are scarce.
Is it possible for you to update your Java installation to a more recent patch version?

[2016-02-05 19:12] pepijnve commented on #94
BTW, what I'm considering as a fix for this is to add support for a document attribute that allows you to specify JVM launch arguments.
I'm not sure if it's a good idea to pass these verbatim to Java. Perhaps if the security mode is set sufficiently lenient this could be allowed. Definitely not a good idea in a server setting.
@mojavelinux any thoughts on this?

[2016-02-05 22:27] mojavelinux commented on #94
This is a great example of when I really think we need to be able to connect the options hash to extensions. This gives a way to control behavior outside of the document (and thus not add attack vectors via content). Perhaps we can start discussing this in core.

Of course, in the meantime, you could consider using an attribute in a low safe mode, but to do it right, we may need a change to core.

[2016-02-07 00:35] metro69 commented on #94
With java updated to 7u80, the problem no longer appears.

Is it possible to add a more meaningful error message when the java call fails?

[2016-02-08 14:34] pepijnve commented on #94
Yep I'll fix the error messages. The relevant bit of code is missing error handling code. I'll add checks to make sure the JVM actually launched properly and include stderr output in the raised error.

In your particular case, does the JVM actually launch or does it fail and exit right away?

[2016-02-08 14:38] pepijnve opened #95 "Add better error handling for JVM launching in java_socket.rb"
Make sure that failure to launch the Java subprocess in java_socket.rb are detected and reported correctly. There are two main failure scenarios to handle:

1. The JVM process fail to launch due to command line errors
2. The processing daemon fails to start correctly due to some runtime error.

See #94 for an example.

[2016-02-08 14:39] pepijnve commented on #94
Closing this issue since a workaround for the large pages issue was found. New issue for improved error handling has been created.

[2016-02-08 14:39] #94 closed

[2016-02-08 22:39] metro69 commented on #94
I am not sure what happens in the  Ruby script.

When I call a java command from the command line using u51 without the -UseLargePages option, the large page errors are printed to the console, but the java command actually succeeds and return code is 0.

[2016-03-04 06:43] mojavelinux opened #96 "Repurpose README so it can be integrated into asciidoctor.org"
The information about Asciidoctor Diagram on asciidoctor.org is not staying in sync with the project. What I'd like to do is have asciidoctor.org pull documentation from the project repository so it merely syndicates the information. However, I can't do that right now because there is information on the [Asciidoctor Diagram page](http://asciidoctor.org/docs/asciidoctor-diagram/) in asciidoctor.org

[2016-03-04 08:11] pepijnve commented on #96
The page on asciidoctor.org is much friendlier and instructive compared to what I wrote myself.
What we could do is move the asciidoctor.org page to the asciidoctor-diagram page. Then we modify the asciidoctor.org page and the asciidoctor-diagram README to include that file.
That way I can keep things like the build status indicators, contributing info, etc in the README and we can share the tutor

[2016-03-11 00:57] mojavelinux commented on #96
That's exactly what I was thinking. I didn't want to just drop the content on asciidoctor.org because it provides a good starting point.

Would you like to attempt to merge the content into the README or do you need my assistance?

You are correct that includes still don't work on GitHub (and there's no indication of when they will). But that doesn't affect us in this case since we'll be pulling f

[2016-03-11 00:58] mojavelinux commented on #96
To clarify, you won't use any includes in the README file.

[2016-03-13 00:32] gliptak opened #97 "blockdiag location override?"
I just got this following message:

[code]
Is there an example on how to override these PATHs in a document attribute? I might have missed it in the documentation.

Thanks

[2016-03-13 00:33] gliptak opened #98 "support for python3 version of blockdiag (and other tools)"
Under Debian, ```python3``` ```blockdiag``` installs as ```blockdiag3```. Could that be also discovered on the PATH? Thanks

[2016-03-13 12:08] pepijnve commented on #97
`asciidoctor -a blockdiag=/usr/bin/blockdiag3 ...` should do the trick.

[2016-03-13 14:16] gliptak commented on #97
@pepijnve Thank you
https://github.com/asciidoctor/asciidoctor-diagram/pull/99

[2016-03-13 14:16] #97 closed

[2016-03-13 16:04] pepijnve commented on #98
Fix for this will be in included in 1.4.1. In the meantime the solution provided in #97 can be used as a workaround.

[2016-03-13 16:04] #98 closed

[2016-03-13 16:17] pepijnve commented on #96
I'll give it a go first. So to summarise I'm going to

- Copy the content from asciidoctor.org to the asciidoctor-diagram repo as Usage.adoc
- Update Usage.adoc as needed so that it reflects the current state of the extension
- Remove the usage content from the asciidoctor-diagram README and replace that with a hyperlink to the new Usage page.

[2016-03-13 22:34] gliptak opened #100 "support for graphviz neato (and other layouts)?"
I tried to include and format using ```neato```:

http://www.graphviz.org/Gallery/undirected/philo.gv.txt

but I couldn't find a way to trigger processing using ```neato```;

The command line format would be ```dot -Kneato``` but the override ```-a graphviz="dot -Kneato"``` didn't seem to work.

Is there a per diagram override I might have missed?

Thanks

[2016-03-14 00:59] mojavelinux commented on #96
Sounds like a good plan!

As you're making those changes, think about what parts we are going to include from the asciidoctor.org side. It sounds like we'll end up with two include directives. The first will be to pull the intro / description of the project. The second will be the detailed usage. Thus, the page on asciidoctor.org is merely a "view" of the content from the repository.

[2016-03-14 06:35] pepijnve commented on #100
Hi @gliptak,

Unless there's a way to specify this in the dot file content itself you won't be able to do this at the moment.

The document attribute that you can use to specify the location of the binary is always the name of the binary itself (so `dot` in this case), but the code does some validation on that and the `-Kneato` suffix is going to cause problems.

Support for the alternative layout

[2016-03-14 07:13] mojavelinux commented on #100
I like it!

I'm also trying to think whether a role or an option would fit here.

* role: `[dot.neato]`
* option: `[dot%neato]`

If neither of those feels right, we'll stick with the `layout` attribute idea.

[2016-03-14 08:07] pepijnve commented on #100
I wasn't aware of the role and option asciidoc syntax (and asciidoctor shorthands). You learn something new every day.

I think initially I'm going to stick to the layout attribute. This keeps the style of setting additional flags and options similar to the one that's used in the ditaa extension.

[2016-03-14 08:53] mojavelinux commented on #100
:+1:

Regarding the shorthand, it definitely saves a bunch of typing. Here are the relevant sections in the user manual for future reference:

* [id shorthand](http://asciidoctor.org/docs/user-manual/#id)
* [role shorthand](http://asciidoctor.org/docs/user-manual/#role)
* [options shorthand](http://asciidoctor.org/docs/user-manual/#options)

(Granted, those sections still need a bit of work).

[2016-03-14 14:33] gliptak commented on #100
Looking forward to try this out :)

[2016-03-14 20:23] #100 closed

[2016-03-16 00:14] gliptak opened #102 "move generated PNG/SVG files out-of-the-way?"
Running results in a number of generated PNG/SVG/cache files placed into the same folder as the ```*.adoc```. Would it be possible to clean them up after the inclusion on the PDF/EPUB? Or maybe generate in TMP directory? Thanks

[2016-03-16 07:46] pepijnve commented on #102
These aren't really temp files. They contain a checksum of the diagram source code and some metadata which allows the extension to avoid regenerating diagrams every time asciidoctor is run.
We can't really clean them up automatically since that would defeat their purpose as cache files for the next run.

I do think it would be a good idea to write those files somewhere a bit more out of sight. Wou

[2016-03-16 11:10] gliptak commented on #102
Yes out-of-site is a good goal and another goal could be exclusion from under source control. ```.asciidoctor-diagram``` works for both.

[2016-03-16 18:13] mojavelinux commented on #102
Agreed, though perhaps `.asciidoctor/diagram` so other extensions can use the directory too.

[2016-03-16 18:59] pepijnve commented on #102
Yep, that sounds like a better plan. Ideally that `.asciidoctor` directory location would be provided by asciidoctor to the extension as a cache dir or something like that. But for the time being I'll implement this in the diagram extension itself.
Where should we put it? Relative to the base dir?

[2016-03-16 19:01] mojavelinux commented on #102
That sounds right.

[2016-03-20 16:09] #102 closed

[2016-03-20 16:11] pepijnve commented on #96
@mojavelinux wip is ready to review. Still need to finalise two of the advanced sections. The status part section is wrapped in an `ifndef::diagram_no_status[]` which should allow you to exclude that part from asciidoctor.org.

[2016-03-22 04:43] mojavelinux commented on #96
I left some comments on the commit.

You can specify custom text, including HTML:

[code]

Of course, you'll want to wrap that in an `ifdef::env-github` directive.

[2016-03-22 04:43] mojavelinux commented on #96
Could you send a PR from your branch to make it easier to comment on the progress?

[2016-03-22 07:02] mojavelinux commented on #96
Another approach for the toc is as follows:

[code]

That uses a regular section for the contents.

[2016-03-22 19:44] pepijnve commented on #96
PR created. I'll integrate your comments on the commit already and fold those into the PR.

[2016-03-22 19:46] mojavelinux commented on #96
:+1:  That answers the question I posted on the PR.

[2016-03-24 02:10] mojavelinux opened #105 "Block processor should honor the subs attributes"
In AsciiDoc, it's possible to modify the substitutions that get applied to a block. Most notably, this feature allows attribute references to be resolved inside of a literal / listing block. This is especially useful for diagram reuse and dynamic text. The block processor in Asciidoctor Diagram should honor this option.

As a test case, ensure that the attribute references are resolved in the foll

[2016-03-24 21:07] pepijnve commented on #59
https://github.com/asciidoctor/asciidoctor-diagram/pull/104 also contains documentation on `imagesoutdir`.

[2016-03-24 21:11] pepijnve commented on #105
@mojavelinux any recommendations on how to test this? My unit tests so far have been black box tests that run Asciidoctor and check that the resulting AST is correct. The diagram text gets converted to an image which makes it difficult to check for correctness of the result automatically.

I'm thinking of generating SVG for this particular case and the checking if the resulting SVG files contains

[2016-03-24 21:24] pepijnve commented on #105
Should substitutions also be applied to the contents of the target of diagram block macros?

[2016-03-24 21:35] pepijnve commented on #105
The logic to derive the set of substitutions to apply seems to be located in `Block#initialize`. Is the best way to apply the subs to create a temporary Block instance passing in the correct parameters and then calling `Block#content` on it?

[2016-03-25 09:37] mojavelinux commented on #105
Yes, I think so.

My thoughts exactly.

In this case, a better approach is to use the low-level apply_subs method on any node. See https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/block.rb#L118 for example usage.

[2016-03-25 09:38] mojavelinux commented on #105
Another example of where apply_subs is used is in the docinfo logic.

https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/document.rb#L1148

That's a perfect corollary for what you are doing in Asciidoctor Diagram.

[2016-03-25 23:02] pepijnve commented on #105
Changeset a62837503d5b4ac6232d7cb56ce07ad59c3749c0 changes internal API a bit. The constructors of the source implementations take an extra parameter now. Do we care about semver here? The only user of this I know of is (maybe) the Cacoo integration that was a while back. Seems kind of absurd to have to jump to 2.0 for this...

[2016-03-25 23:08] mojavelinux commented on #105
It's up to you. We haven't officially committed to semver in the Asciidoctor ecosystem yet, so I wouldn't worry about it until we do (we plan to have 1.6.0 core set this precedent).

[2016-03-26 06:50] pepijnve commented on #105
It'll be 1.4.1 then or maybe 1.5 since this a new feature. I think it's more useful to apply semver (backwards (in)compatible) changes in terms of the asciidoc interface that the extension provides rather than the internal code interfaces. The code hasn't really been designed to be a software library.

[2016-03-26 06:52] pepijnve commented on #105
BTW, I've default to no substitutions. Seems like the option that will cause the least surprise for users.

[2016-03-26 06:55] mojavelinux commented on #105
I agree. There's definitely an expectation that the diagram source is treated as is by default. It's almost identical to a listing/literal block, except that both of those use two substitutions intended for the output (specialchars and callouts). Since neither of those apply to a diagram, no subs is the most logical and intuitive default.

[2016-04-07 06:06] JmyL commented on #91
It failed with the error message below.

[code]

'.svg.svg' part looks weird for me.

The test code is here.

[code]

[2016-04-07 17:30] pepijnve commented on #91
Hi @JmyL,

This issue was to track the addition of the new feature and is already closed. I'll create a new issue with your comment to track the discussion of the problem you described.

[2016-04-07 17:31] pepijnve opened #107 "Mermaid fails with a 'no such file or directory' error"
Reported by @JmyL in #91

It failed with the error message below.

[code]

'.svg.svg' part looks weird for me.

The test code is here.

[code]

[2016-04-07 17:33] pepijnve commented on #107
@JmyL strange that it fails this way. There's a unit test that tests exactly this and that passes correctly. Perhaps something changed in a more recent version of mermaid than the one I tested with.

Could you let me know which version of mermaid you have installed and on which platform you're experiencing this problem?

[2016-04-07 17:46] pepijnve commented on #107
I installed the latest version of mermaid (0.5.8) and adapted the SVG unit test to one using your exact code. Runs correctly for me.

I'll need to know more about your environment (operating system, asciidoctor version, asciidoctor-diagram version, mermaid version and ruby version) to reproduce this. From you're profile I see you're from Seoul.

Locale settings may also be relevant if your machine

[2016-04-07 23:54] JmyL commented on #107
Mermaid is version 0.5.8.

I've tested it with docker image, melfas/asciidoctor,
it is based on asciidoctor/docker-asciidoctor, I've added mathematical for stem support on asciidoctor-pdf.
So operating system is fedora, and I'm using asciidoctor-diagram master branch to check new `.asciidoctor` folder, ruby version is 2.2.4p230.

And output of `locale` is here.

[code]

[2016-04-08 07:25] pepijnve commented on #107
@JmyL thanks for the information. Looks like that should be working. I'll try reproducing this with the docker image you're using.

[2016-04-08 21:46] pepijnve commented on #107
@JmyL as a sanity check I create a text file with your diagram code and ran `mermaid -s test.mmd` in an instance of the `melbas/asciidoctor` container. This fails with the message `mermaid requires phantoms ^1.9.0 to be installed, found version 2.1.1`. So you'll need to install some 1.9.x version of phantomjs in the container.

This message isn't reported correctly because Asciidoctor diagram expe

[2016-04-08 21:58] pepijnve commented on #107
With commit 66ee491bfac6c11faf77aeed70e6ef8160c17e23 the error is reported correctly. Since there's not much else that can be done, I'm going to go ahead and mark this issue as closed.

[2016-04-08 21:58] #107 closed

[2016-04-09 20:06] #105 closed

[2016-04-09 20:13] pepijnve commented on #59
Description of target directory logic has been added to README as part of c5e2798621b76d0e678d725694304fabdb675509

[2016-04-09 20:13] #59 closed

[2016-04-09 20:14] pepijnve commented on #96
README has been revised in c5e2798621b76d0e678d725694304fabdb675509

[2016-04-09 20:14] #96 closed

[2016-04-10 00:06] JmyL commented on #107
Thank you so much!
Big applause from Seoul ;)

[2016-04-10 00:16] mojavelinux commented on #105
:+1:

[2016-04-10 00:17] mojavelinux commented on #107
:clap:

[2016-04-15 06:03] mojavelinux commented on #96
:+1:

The README is now integrated into asciidoctor.org. For now, I'm linking to a specific revision until it is part of a release. Then we'll track the latest release using an attribute.

[2016-04-15 06:05] mojavelinux commented on #96
See http://asciidoctor.org/docs/asciidoctor-diagram/

I had to make some small adjustments to the README, specifically to hide the toc in the site environment since we now generate it into the sidebar automatically.

[2016-04-29 14:28] cocowalla opened #108 "Images not being generated from commandline"
I've installed on Windows using `gem install asciidoctor-diagram`, then I try to generate an HTML file containing diagrams from the commandline:

`asciidoctor -r asciidoctor-diagram "MyFile.adoc"`

No images are generated. If I add the `--verbose` flag, I see a lot of warnings:

[code]

[2016-04-29 17:40] mojavelinux commented on #108
For some reason, Ruby requires that a block reference argument be surrounded in round brackets. I observed this in core as well. This line should be:

[code]

[2016-04-29 17:42] mojavelinux commented on #108
Having said that, those are all just warnings and not likely the reason the diagrams aren't being generated.

Could you provide a snippet of the AsciiDoc? A sample project would be even better.

[2016-04-29 17:42] mojavelinux commented on #108
...failing test even better still.

[2016-05-04 03:51] diguage commented on #19
How to config the prefix?

[2016-05-04 05:19] diguage opened #109 "How to reduce the duplicated filename?"
I have a Asciidoc as follows:

[code]

The `class.pum` is as follows:

[code]

run `asciidoctor -r asciidoctor-diagram  sample.adoc`, then it gernerates the UML diagram in  `target/`, named `class.svg`.

I think the filename is duplicated.

**Could I not define the target filename, use the original name?**

For examle,

* the original filename `myclass.puml`,
* set the `target` attribute is `targe

[2016-05-04 06:40] diguage opened #110 "When I set the `outdir` attribute, the picture in the gernerated document is not correct."
I have a Asciidoc as follows:

[code]

The `class.pum` is as follows:

[code]

run `asciidoctor -r asciidoctor-diagram  sample.adoc`, then it gernerates the UML diagram in  `target/`, named `target.svg`.

But the path in html file is `<img src="target.svg" alt="Class diagram" width="254" height="281">`.

----

When I remove the `target` attribute, as follows:

[code]

The gernerated UML diagram in

[2016-05-04 09:20] mojavelinux commented on #110
If you want to control where images are written, you should use the imagesoutdir attribute. If you set the target attribute, then you are changing the name of file that is written. If you don't set the target, the output file name is generated from the input file name.

See https://github.com/asciidoctor/asciidoctor-diagram#image-output-location

[2016-05-04 09:21] mojavelinux commented on #109
See https://github.com/asciidoctor/asciidoctor-diagram#image-output-location

If that section is unclear, let's improve it.

[2016-05-04 09:22] mojavelinux commented on #19
The prefix does not appear to be configurable. A prefix is added if the target attribute is not specified.

[2016-05-04 15:29] diguage commented on #110
I set `imagesoutdir` attribute, the images was written to the folder. But the gernerated HTML document cound not refer the images with the correct path. The path does not include the `imagesoutdir`.

[2016-05-05 01:00] mojavelinux commented on #110
I forgot to clarify. The path used in the HTML is controlled by imagesdir. The imagesoutdir tells Asciidoctor diagram where to write the file. The imagesdir tells the processor what to put in the HTML.

[2016-05-05 01:01] mojavelinux commented on #110
Admittedly, this is not an ideal system yet. What's important is that we study the uses and think about how we might want to change it to make it more ideal. The design should evolve as we learn more about the use cases.

[2016-05-05 12:47] cocowalla commented on #108
I just extracted a sample into a separate document, and it seems the problem is that my diagrams were wrapped in a source block, e.g.

[code]

After removing the source block, it works as expected

[2016-05-05 12:47] #108 closed

[2016-05-06 02:50] diguage opened #111 "Could I configure the watermark of the image?"
I want to add a watermark to the images.

I google it, then I found I can add watermark to the pdf document with pdf template. And I found @mojavelinux added a comment to twetter <https://twitter.com/ysb33r/status/650976750327959552> : *Don't do it. It's a floodmark, a tell-tell antipattern. There's your solution ;)*

Could I configure the watermark of the image?  Does Asciidoctor plan to support

[2016-05-06 06:27] mojavelinux commented on #111
Did you mean to file this issue in asciidoctor-pdf? I'm not exactly clear where you want a watermark to be applied. Do you want it to be a background/foreground image on each PDF page or on the image generated by Asciidoctor Diagram?

That comment applies specifically to presentations.

[2016-05-07 09:23] diguage commented on #111
I want to add watermark on the images what are gernerated by Asciidoctor Diagram and/or linked on document.

For example, my website is <http://www.diguage.com/>, I want to show the link on all the images in the document were generated by Asciidoctor.

[2016-05-07 10:33] mojavelinux commented on #111
Asciidoctor Diagram primarily just invokes the different diagram generators. Therefore, the diagram generator itself would need to support this feature. If/when it does, then Asciidoctor Diagram could be sure to pass on the necessary information or configuration.

[2016-05-07 12:17] diguage commented on #111
@mojavelinux OK, I see. Thanks.

Could Asciidoctor add watermark to the exist images what were referenced？

[2016-05-07 17:41] mojavelinux commented on #111
The challenge is that adding a watermark is a very open-ended requirement. There are as many ways to add a watermark as their are designs in the world. We would either have to pick a style (placement, font family, font size, font color, etc) and use that, or we'd get into the realm of trying to design a configuration language for controlling it.

However, what we *could* do is provide an API hook

[2016-05-11 11:14] pepijnve commented on #111
Using imagemagick to overlay text as a post processing step is how I would do it as well.

Not sure how to provide an extension point in the diagram generators though. That would require an additional extension registration system. Would a dummy post process method that you could monkey patch be sufficient or is something more structured needed?

[2016-05-11 11:26] pepijnve commented on #109
I'm not sure what the question is here. What you're describing is how it currently works. If in your example you omit the `target` attribute and invoke asciidoctor with the `-D target` option, `class.svg` will be generated in target.

Currently diagrams are always generated as `<output dir>/<source basename>.<image type extension>`. In other words the directories of the source are stripped off. It

[2016-05-11 11:28] pepijnve commented on #19
Is it worth making this configurable? Easy enough to do via a doc attribute if this is desirable, but it's yet another switch to maintain, document, etc.

[2016-05-11 20:49] mojavelinux commented on #111
I would image that Asciidoctor Diagram itself would expose an API to register a post processor or callback. I haven't thought much deeper than that about it.

[2016-05-26 17:38] ascheman opened #112 "plantuml (8028) makes dot/graphviz crash on Win and OSX"
We currently have an AsciiDoctor Maven project which uses PlantUML.
One of the diagrams make dot/GraphViz crash from the attached PUML file ([html5-architecture.puml.zip](https://github.com/asciidoctor/asciidoctor-diagram/files/284962/html5-architecture.puml.zip)) on OSX and Windows. It works on Linux.

From the plantuml project we got the hint that this is solved in the 8037 version (cf. http://p

[2016-05-27 10:02] ascheman commented on #112
PlantUML &lt;plantuml@gmail.com&gt; suggested to use the latest version and give it a try. I updated my local `asciidoctorj-diagram-1.3.1.jar` with a new `gems/asciidoctor-diagram-1.3.1/lib/plantuml.jar`. However, the current version of plantuml (8041) has an API incompatibility since a class was dropped. This leads to an execution error:

    Failed to execute goal org.asciidoctor:asciidoctor-mav

[2016-05-27 10:09] arnaudroques commented on #112
The issue is really on PlantUML side:
Due to some internal refactoring, we have removed the method OptionFlags.setDotExecutable()

We will restore it in next official release that will be published before the end of the month.
You can already test it using last beta https://dl.dropboxusercontent.com/u/13064071/plantuml.jar

Thanks for pointing this out!

[2016-05-27 11:06] weissreto commented on #84
I have the same problem but using the maven plugin.
Unfortunately 1.3.2 and 1.4.0 is not yet available in maven central.
Can you release 1.3.2 and 1.4.0 to maven central?
Thanks

[2016-05-27 11:09] pepijnve commented on #84
@weissreto you should request that in the project that publishes the maven plugin in question. That's not something that I've done.

[2016-05-27 11:13] pepijnve commented on #112
I've updated PlantUML to v8041. The Java code now does a lookup of the setDotExecutable via reflection. It will use the OptionFlags variant if available and the GraphvizUtils variant as fallback.

[2016-05-27 12:33] arnaudroques commented on #112
Thanks for the quick work-around! We'll still publish a corrected version, because other tools may also be impacted by this setDotExecutable move.

[2016-05-27 12:34] pepijnve commented on #112
@ascheman fyi I'm going to publish 1.5.0 with this fix asap. Noticed some CI test failures on Windows that I still want to investigate further first.

[2016-05-27 12:38] ascheman commented on #112
Thanks @pepijnve, but there is no hurry required. I have my local workaround with the patched 1.3.1 version for OSX and on my Linux based CI server it was working anyways.

[2016-05-27 17:56] mojavelinux commented on #84
AsciidoctorJ bundles this project as a jar for use on the JVM and publishes
it to Maven central, so that's where you want to look.

Keep in mind, though, you can still use the gem directly from AsciidoctorJ.
That jar is merely a convenience.

[2016-05-31 14:46] igagis commented on #110
I found out that asciidoctor-mathematical works OK in this case, only setting imagesoutdir is enough.
When setting imagesdir also then asciidoctor-diagram starts working, but asciidoctor-mathematical applies both imagesoutdir and imagesdir and thus does not work correctly in this case

[2016-05-31 19:58] igagis commented on #110
I think right solution would be that if filename is not specified explicitly, then asciidoctor-diagram generates the filename and saves it to imagesout dir, so in that case in html the path should be imagesoutdir/... But if filename is specified explicitly as target attribute then the path should be imagesdir/...

[2016-06-01 06:49] mojavelinux opened #114 "Require asciidoctor if Asciidoctor is not defined"
At the very least, Asciidoctor Diagram should attempt to require asciidoctor if the Asciidoctor symbol is not defined when Asciidoctor Diagram is loaded at the top level.

At the top of lib/asciidoctor-diagram.rb

[code]

Doing so allows this check to used in other libraries as well. Otherwise, this check fails and Asciidoctor doesn't get loaded.

We might want to consider adding this to any "publ

[2016-06-12 19:22] #112 closed

[2016-06-12 19:37] pepijnve commented on #114
Fixed by https://github.com/asciidoctor/asciidoctor-diagram/pull/115
I added the line you suggested to the top of `lib/asciidoctor-diagram/extensions.rb`. That file gets required by all the individual extensions so this way it's fixed for everything in one go.

[2016-06-12 19:37] #114 closed

[2016-06-12 19:38] pepijnve commented on #109
@diguage is any further action required on this issue?

[2016-06-12 21:46] mojavelinux commented on #114
Excellent.

If I may, I'd like to propose a slight change that I discovered since filing this issue. The safer way is to check for the version constant. I forgot that `defined?` can go deeper.

[code]

No other gem should be claiming that constant, so that's a sure fire way to know we've loaded Asciidoctor.

wdyt?

[2016-06-13 07:18] pepijnve commented on #114
Works for me. I'll make that change right away.

[2016-06-13 07:19] pepijnve commented on #114
Changed in dce0ae755257941e00fd3b51c84e4be0e4d8cad9

[2016-06-13 09:35] mojavelinux commented on #114
:+1:

[2016-06-15 10:25] diguage commented on #109
@pepijnve No. I close the issue.

[2016-06-15 10:25] #109 closed

[2016-06-24 09:14] ClausRoh opened #116 "plantuml can't find included files"
We currently have an AsciiDoctor Maven project which uses PlantUML.
The creation of a sequence diagram fails If you use the **!include** directive inside a puml file using a relative path, because it is not searching the inlcuded file relativ to the outer plantUML file. Is there a way to get icluded PlantUml files working without specifiying a full path?

[2016-06-24 09:18] pepijnve commented on #116
I fixed a similar issue a while back for creole image reference (https://github.com/asciidoctor/asciidoctor-diagram/issues/82). The fix for this was to preprocess the plantuml code and resolve relative paths to absolute paths before sending the code to plantuml for processing.
The same fix should be applied here as well.

[2016-06-24 10:43] cforce commented on #116
I have the same problem!! Please provide a new snapshot as i am not able to build jar from ruby sources.
Following my maven call which uses puml thats's including other pumls files from same src folder
[code]

[code]

[2016-06-24 10:59] ClausRoh commented on #116
Hi pepijnve,
thanks for answering. Your code seems to fix the issue for image tags.
Unfortunately, as I am not able to build the plugin from the source code, it wont't help me.
I would need a fix for including puml files like `!include otherfile.iuml!1`.
The error is shown in the generated ascii doc as

![errormessage](https://cloud.githubusercontent.com/assets/20125063/16336110/3b5e8b26-3a0b-11e6

[2016-06-24 12:06] pepijnve commented on #116
@ClausRoh I didn't mean to say you should apply the same fix, but that I will need to implement a similar fix for `!include` directives. Sorry for the misunderstanding.

I don't see any way you can work around this limitation as an end user of the plugin. So for the time being the best you can do is use absolute paths.

[2016-06-24 12:10] pepijnve commented on #116
@cforce the maven plugin is part of the asciidoctorj project. There's an issue in that project to build an updated version of the maven plugin (https://github.com/asciidoctor/asciidoctorj/issues/462). Probably best to ask the developers there to make and publish a new build.
Note that this issue will be fixed in asciidoctor-diagram 1.5.0 which hasn't been released yet.

[2016-06-28 07:23] #116 closed

[2016-06-29 07:03] ClausRoh commented on #116
"Note that this issue will be fixed in asciidoctor-diagram 1.5.0 which hasn't been released yet."
Is this version released now? Where can i find it?

[2016-06-29 07:53] pepijnve commented on #116
@ClausRoh not yet. Releases of the gem are tagged in git and published to rubygems.org.

I don't make the builds of asciidoctorj-diagram though, so will have to get https://github.com/asciidoctor/asciidoctorj/issues/473 resolved before you'll be able to use this.

[2016-06-29 12:09] pepijnve commented on #116
@ClausRoh https://rubygems.org/gems/asciidoctor-diagram/versions/1.5.0

[2016-07-09 13:10] pepijnve opened #118 "Add support for erd"
https://github.com/BurntSushi/erd

[2016-07-09 18:52] mojavelinux commented on #118
Wow, this will be incredibly useful for many of our users.

[2016-07-13 13:37] pepijnve opened #119 "URI is not required in plantuml/extension.rb"

[2016-07-13 14:07] #119 closed

[2016-07-14 07:25] pepijnve opened #120 "PlantUML include path resolving not working correctly"
From https://github.com/asciidoctor/asciidoctorj/issues/473#issuecomment-232562896

As it looks now, the include path is relative to the path of the *.adoc file and not relative to
the puml file that is including the other one.

But if the *.puml files are in another directory than the adoc file it is not working.
If there is, for example a Testdocument.adoc inside c:\temp
c:\temp\Testdocument.ado

[2016-07-14 07:27] pepijnve commented on #120
That's odd; I have a test case for exactly that type of configuration (see https://github.com/asciidoctor/asciidoctor-diagram/blob/master/spec/plantuml_spec.rb#L74). When you use inline plantuml blocks in your document the paths are indeed resolved wrt the adoc file itself. When you use the block macro though it should be done relative the the puml file.

I'll try to reproduce this locally.

[2016-07-14 09:20] ClausRoh commented on #120
I have tried with and without `./`, but it doesn't matter.

[2016-07-14 09:23] pepijnve commented on #120
Ok, that was just to rule out the eliminate potential simple causes.

Could you share a simple project (maven pom file, adoc and puml files) that show the issue. Saves me quite some time in reproducing this.

[2016-07-14 09:48] ClausRoh commented on #120
Sorry, at the moment I am busy with other stuff and the structure in my comment is just a sample (no real files)...

[2016-07-14 13:54] pepijnve commented on #120
I'll create something simple and try this with plain asciidoctor on my development machine. If that also produces the error I'll be able to fix this quickly.

If this is related to maven and/or asciidoctorj somehow this is going to take much longer since I would need to set up a development environment for that. Not sure when I'll be able to get round to that.

[2016-07-25 06:32] ClausRoh commented on #120
Any news? Could you reproduce the behaviour?

[2016-07-25 08:11] pepijnve commented on #120
I haven't had a chance to work on this yet. My volunteer time is limited I'm afraid.

[2016-08-25 16:09] thorstenkampe opened #124 "ditaa and plantuml error"
asciidoctor-diagram 1.5.1
Asciidoctor 1.5.4
Ruby  2.2.5 on 64-bit Cygwin

ditaa and plantuml diagram generate an error: `asciidoctor-diagram: ERROR: Failed to generate image: invalid byte sequence in UTF-8`.

For instance

[code]

or

[code]

[2016-08-25 20:30] thorstenkampe opened #125 "Graphviz error"
asciidoctor-diagram 1.5.1
Asciidoctor 1.5.4
Ruby 2.2.5 on 64-bit Cygwin

Graphviz diagrams like below generate an error:
[code]

[code]

[2016-08-26 07:22] pepijnve commented on #124
I just tried reproducing this on my machine, but I'm not seeing this error. Could you run `locale` in your cygwin terminal and add the output of that in a comment here?

[2016-08-26 07:24] pepijnve commented on #125
`native_path` (https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/util/platform.rb#L24) incorrectly uses `\` instead of `/` as path separator in a cygwin environment. I'll fix that right away.

[2016-08-26 07:43] #125 closed

[2016-08-26 13:48] thorstenkampe commented on #124
[code]

[2016-08-29 11:53] pepijnve commented on #124
I'm still not able to reproduce this. Could you [attach an example file](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/) that triggers this problem to this issue. Perhaps the file is not encoded in UTF-8 and that's what's causing this problem...

[2016-08-29 17:31] thorstenkampe commented on #124
Please find attached file
[test.txt](https://github.com/asciidoctor/asciidoctor-diagram/files/443007/test.txt)

[2016-08-29 19:20] mojavelinux commented on #124
Attaching an example file to GitHub to test encodings doesn't work since the browser will automatically reencode. You have to zip it.

[2016-08-29 19:22] pepijnve commented on #124
I was afraid that might happen. Thanks for the tip @mojavelinux

[2016-08-29 19:24] pepijnve commented on #124
Looking at the example file, I don't expect encoding of the source file to be the issue. As far as I can tell it doesn't contain any non-ASCII (<= 127) characters.

[2016-08-29 19:28] mojavelinux commented on #124
Note that Asciidoctor does not process (aka normalize) lines of an include for a file extension it does not recognize. This means that an extension the works with literal blocks, like Asciidoctor Diagram, may receive lines that are not encoded in UTF-8. If the extension is reading in the file itself, then obvious it will also be responsible for encoding those lines as well.

I recommend using the

[2016-08-29 19:30] mojavelinux commented on #124
Btw, this is easy to test. We just need to put an extension source file in the test suite that is encoded in something other than UTF-8. Then make sure that it does not cause Asciidoctor Diagram to fail. I'm trying to put together a simple scenario that you can use.

[2016-08-29 19:47] pepijnve commented on #124
For external files normalize_lines is already called. Not easy to provide a hyperlink on my phone. See FileSource at the bottom of extensions.rb.

[2016-08-29 19:47] mojavelinux commented on #124
I want to clarify too that you won't see this on a Linux box that is configured to use en_US.utf8 or other locales that are deeply rooted in UTF8. The problem is that regardless of the encoding of the file, certain versions of Ruby may read the file in not as UTF8. Then Ruby (and other applications) freak out when the String does not claim to be in UTF8. That's why I use the strategy of forcing al

[2016-08-29 19:48] mojavelinux commented on #124
I see it now.

The hard part is setting up a test case that fails. The easy part is fixing it ;)

[2016-08-29 21:53] thorstenkampe commented on #124
Zipped test file attached
[test.zip](https://github.com/asciidoctor/asciidoctor-diagram/files/443536/test.zip)

[2016-08-29 22:17] mojavelinux commented on #124
I'm convinced this has nothing to do with file and everything to do with the locale settings in the operation system or Ruby installation.

Can you print the output from the following?

[code]

[2016-08-29 22:19] thorstenkampe commented on #124
[code]

[2016-08-29 22:27] mojavelinux commented on #124
This is likely the culprit:

[code]

Asciidoctor core works around this by force encoding all input to UTF-8, but other programs may not. It has to be addressed all the way down the stack to support this scenario.

[2016-08-29 22:30] mojavelinux commented on #124
Usually if the filesystem encoding is Windows-1252, it means the input encoding is as well (listed only as - in the version output).

[2016-08-29 22:48] mojavelinux commented on #124
You can kind of test this using `ruby -EUTF-8:Windows-1252`, but there's no real way to test the exact scenario on a Windows or OSX box that I can tell. You have to debug on Cygwin running on Windows that is setup using the same locale.

@thorstenkampe It would be helpful if you could modify the following line and print some more information about the source string.

https://github.com/asciidoctor

[2016-08-29 22:49] mojavelinux commented on #124
Oh, and one more thing:

[code]

[2016-08-30 05:29] thorstenkampe commented on #124
- `test.txt: C++ source, ASCII text`

- `chcp 65001` sets the terminal character set to UTF-8 in `cmd`. I'm not using `cmd` but `zsh`.

- I'm not sure how to modify line 120 (`text << source.code`). Should I add those warnings, insert before or even replace?

[2016-08-30 05:34] thorstenkampe commented on #124
If I insert those two warnings before line 120 the output becomes for the plantuml diagram:
[code]

Same for the ditaa diagram...

[2016-08-30 06:16] pepijnve commented on #124
@thorstenkampe If I remember correctly this error is commit from the Java sub process when it tries to decode the text of the diagram code. I'll have a look at adding diagnostic logging code around this so we can figure out where exactly things are going wrong. Once that's done I'll make a prerelease build of asciidoctor-diagram that you can test with.

[2016-08-30 06:16] mojavelinux commented on #124
Good job modifying the code to add the warnings.

I think there is a deeper issue here with regard to how the file is being written to disk. The next step is to get the line number of the error. Could you also add the following line:

[code]

I meant to say that you need the same effective change. How to set it globally in Windows I don't actually know.

[2016-08-30 06:18] mojavelinux commented on #124
The most efficient way to debug this issue is to reproduce the environment (Cygwin on a Windows image with Germany set as the region). I tried my hardest to reproduce the problem on Linux, but it's so hard to do because Linux tries as hard as it can to get encodings right. So it's like swimming against the tide ;)

[2016-08-30 06:37] thorstenkampe commented on #124
[code]

[2016-08-30 07:31] pepijnve commented on #124
Ok that's unexpected; based on that stack trace I was looking entirely in the wrong direction. The code is failing when parsing values coming from the Windows registry. It does that on Windows in order to locate your JRE installation.
Could you run the command
[code]
in Cygwin and copy the output.

My Windows VM shows similar output to yours
[code]
so I'm hoping that if I install a JVM in a path s

[2016-08-30 08:20] mojavelinux commented on #124
At least we're getting somewhere!

This issue highlights that when we rescue an exception, we should probably provide a way to log the full backtrace (or print when verbose mode is on). We got bitten by this in core when we rescued the main load method. All kinds of errors were deceiving us.

Look for the $VERBOSE global variable to be `true` to check if verbose mode is on. (Unfortunately, we don'

[2016-08-30 08:22] pepijnve commented on #124
Good idea. I'll add that right here https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/extensions.rb#L118

[2016-08-30 11:33] pepijnve commented on #124
After some further experimentation I think I can work around these issues by using open3 instead of backticks. I'll put that in place and then we can try again.

[2016-08-30 16:48] thorstenkampe commented on #124
The output of `reg query`:

[code]

[2016-08-30 17:16] thorstenkampe commented on #124
Two remarks:

- I remember an issue with rjb (https://github.com/arton/rjb/issues/29) in case that's still used to access Java.

- When I add as the first line `:imagesdir:          /cygwin/home/thorsten/.asciidoc/images` the second diagram is created (see attached file)
![image](https://cloud.githubusercontent.com/assets/475462/18099311/2b1284ba-6ee6-11e6-939e-c562076c059c.png)

[2016-08-30 18:35] pepijnve commented on #124
RJB isn't used in asciidoctor diagram. If you're running under JRuby the java code is executed directly. Otherwise a Java subprocess is started that communicates with the main process over a TCP socket (it's a tiny http daemon actually).

The `reg query` output looks fine to me; no idea why you would get invalid UTF-8 sequence errors on those. I think more debug output is going to be the way forwa

[2016-09-01 15:25] PrimaryFeather opened #126 "Cannot find GraphViz"
First of all, kudos for this fantastic extension!

I wanted to add a _PlantUML_ diagram to my document today, but found the following image instead of the diagram:

![diagram-classes](https://cloud.githubusercontent.com/assets/547347/18173012/33ac60cc-7068-11e6-9896-e6f47904a44a.png)

My `dot` executable actually lies here:

[code]

I executed the command shown in the image, with the following res

[2016-09-01 15:34] pepijnve commented on #126
The diagram extension uses `$PATH` to try and locate `dot` automatically. If it can't find it that way it invokes plantuml without specifying the location of `dot` essentially leaving it up to plantuml to try and locate it. If that fails as well then you'll get this kind of error image as a result.

Since `which` is able to locate `dot` and that use the path as well asciidoctor-diagram should be a

[2016-09-02 06:07] PrimaryFeather commented on #126
Thanks a lot for your extremely fast answer!

This morning, I installed pry, ready to debug into the code you pointed me at; for this, I set up a quick test-project. And, lo and behold! - of course, in that test project, the diagram showed up just fine.

So I went back to my original project and ran `asciidoctor` again, but still: the old output. Then I added another diagram somewhere else, and it

[2016-09-02 06:07] #126 closed

[2016-09-02 06:20] mojavelinux commented on #126
You may have discovered a nice tip for the README. The README makes no mention of the cache, so new users could easily get bitten by this lack of knowledge. Perhaps the README should state that the generated images are cached to avoid redundant work, where they are cached, and when they get updated. It can then recommend clearing the cache if something is going wrong.

[2016-09-02 06:24] PrimaryFeather commented on #126
You're right, that would definitely make sense! A little background information might have pointed me in the right direction sooner.

[2016-09-12 14:02] harmv commented on #108
I see this problem too.  This has nothing to do with source blocks etc...

I use the following adoc snippet
`$ cat test.adoc
:numbered:

= Title

== Chapter 1

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aut

[2016-09-12 14:07] harmv opened #127 "asciidoctor-diagram gives lots of warnings"
When using asciidoctor-diagram I get a ton of warnings.
The warnings seem to be unrelated with the document itself, but rater with the asciidoctor-diagram source code?

I use the following adoc snippet
[code]

when generating html I get
[code]

## versions

[code]

On OSx

## notes

Similar warnings were mentioned in #108, but as that ticket was actually about something else, I filed a new one.

[2016-09-12 14:34] pepijnve commented on #127
I'm seeing the same warnings when running with the verbose output flag. Note to self to run with `-v` when testing :)
I'll get this fixed asap.

[2016-09-12 15:32] pepijnve commented on #127
Unit test suite runs without any warnings for me now. Hopefully I got all of them.

[2016-09-12 15:32] #127 closed

[2016-09-26 18:46] #118 closed

[2016-10-09 11:38] jakoch commented on #127
Hey Pepijn, would it be possible to release a v1.5.2 containing these fixes? Thanks, Jens

[2016-10-14 19:01] pepijnve commented on #127
@jakoch 1.5.2 has been published.

[2016-10-14 19:02] pepijnve commented on #124
@thorstenkampe I just release 1.5.2 which already has contains some robustness improvements which may resolve the issues you've been seeing. If you have a moment could you try out that version?

[2016-10-14 19:44] jakoch commented on #127
👍 Thank you!

[2016-10-14 20:46] mojavelinux commented on #127
:+1:

[2016-10-14 21:24] thorstenkampe commented on #124
This fixes the `invalid byte sequence in UTF-8.` error. Although another error appeared:
[code]
[code]

[2016-10-17 11:30] pepijnve commented on #124
Ok making progress... The extension is finding the `dot` executable with the cygwin path. That style of path only works for cygwin aware binaries though. Other Windows tools don't support these and somewhere along the line something is failing on this.
I'll run some more tests using Cygwin graphviz to see where this might be failing.

[2016-10-22 13:40] pepijnve commented on #124
@thorstenkampe I found some time to run tests with Cygwin Ruby and Graphviz. Commit 615da2a contains the necessary changes to make this work.
Root cause of this issue is Cygwin vs Windows paths. Asciidoctor-diagram determines the path to `dot` in the Cygwin environment and finds `/usr/bin/dot`. That was then being passed to Java which operates under the regular Windows environment which can't inte

[2016-10-26 09:57] charlottedeclercq commented on #105
Hi,

I have the 1.5.4 version and I am trying to render this plantuml diagram:

:parent-class: Parent
:child-class: Child

[plantuml,class-inheritence,png,subs=attributes+]
....
class {parent-class}
class {child-class}
{parent-class} <|-- {child-class}
....

But it doesn't work.

What I am doing wrong ?

Thanks,

Charlotte

[2016-10-26 11:37] pepijnve commented on #105
@charlottedeclercq could you describe in a bit more detail what isn't working exactly? I tried this out locally and it does seem to work as intended for me.

[2016-10-26 11:44] charlottedeclercq commented on #105
I figure dit out, it was my mistake I thought 1.5.2 designed asciidoctor version.
I upgraded asciidoctor-diagram and it works perfectly !
Sorry I am quite new to all this stuff…

Thank you for your answer.

[2016-11-25 22:04] mojavelinux commented on #67
I wonder if on the Ruby side we could redistribute plantuml and ditaa using gems. That way, it's still possible to `gem install` all the necessary components. Those gems could use the extconf.rb approach I described above so that the binaries are downloaded at the time of gem installation. The kindlegen gem does exactly that.

[2016-11-25 23:29] hsanson commented on #67
I think this gem should only provide mechanisms to automatically detect the availability of the external tools it uses and enable/disable the generation of the different diagram types based on such availability. There are various reasons for this:

 1. The external tools already have their own mechanisms for installation and configuration. We only need to provide additional documentation with deta

[2016-11-25 23:46] mojavelinux commented on #67
Yes, I'm essentially suggesting that such installation gems would be provided for any open source diagramming tool we integrate with. (I'd rather not support proprietary tools, though it should be possible to extend Asciidoctor Diagram to add that support).

You're really going to have two camps of people. One camp doesn't want bundled dependencies and instead want to (or must) install the librari

[2016-11-26 08:09] pepijnve commented on #67
Looks like a good start. There are a couple of things to be careful about though.

- The Java libraries are not called directly. Instead a little bit of glue code (https://github.com/pepijnve/asciidoctor-diagram-java) does that instead. The way the PR is structured now you're going to get obscure errors from that code rather than failing early if a jar can not be found. I think we want clearer err

[2016-11-28 00:29] hsanson commented on #67
Is there any reason why these two tools, ditaa and plantuml, have to be called directly from Java? Ditaa has a command line tool and can be invoked the same way the other tools are and plantuml can use an external service to generate the diagrams.

Actually the idea of including plantuml jar into gollum was rejected by the gollum authors but they had no issues with an external service (See this [P

[2016-11-28 00:40] mojavelinux commented on #67
Using a commandline tool in a library is generally considered a bad practice. Using a formal process-to-process communication is safer, more extensible, and more professional.

[2016-11-28 00:41] mojavelinux commented on #67
I'm really concerned that you are only considering the *nix use case. We have to think about the Java consumer (AsciidoctorJ) and the Windows user. Using commandline tools is very unfriendly for those environments. We must remain as agnostic as possible, esp since a large segment of our users are using Java on Windows.

[2016-11-28 00:43] mojavelinux commented on #67
Having said that, if you want to create an Asciidoctor Diagram extension (separate gem) that uses only commandline tools, I certainly encourage you to create that extension. I have no doubt that there is value to that approach for an audience that uses a managed *nix environment.

[2016-11-28 07:45] pepijnve commented on #67
@hsanson there's no technical reason why you couldn't make things work the way you're describing, and it's definitely a useful alternative. It's just not the use case I designed the extension for at the time.
I needed something that could run standalone on a CI server without having to talk to external services.

The reason for the special construct for Java based tools is that the JVM takes a pro

[2016-12-16 15:14] greglearns opened #132 "Mermaid Gantt sizing bug caused by asciidoctor-diagram (forcing all Gantts to have heights <= 210 px)"
TL;DR: It appears that Asciidoctor-diagram is taking Mermaid Gantt results, and then forcing all Mermaid Gantt results to fit within 210px height, which causes Gantt charts with more than 8 elements in them to shrink until they are illegible.

This adoc file (you can select-all and then cut and paste) illustrates that Mermaid Gantt images will start to shrink if there are more than 8 elements in t

[2016-12-16 19:48] pepijnve commented on #132
I ran some quick tests with your examples. It seems to be the default way mermaid renders these gantt charts that's causing the shrinkage. If I copy the diagram definition to a file and run `mermaid <inputfile>` manually, I get the exact same results as what you see with asciidoctor. Console output shows that a fixed default width is being used

[code]

I'll have to figure out how this can be cont

[2016-12-17 15:48] pepijnve commented on #132
I spent some time trying to figure out how to control this with mermaid, but I'm not having much success. The documentation on how to configure gantt diagram generation is pretty sparse. Perhaps you should raise this issue in the mermaid project, since I don't think there's much I can do about this.

If the answer turns out to be that you need a gantt config file, you can already specify the path

[2016-12-19 11:37] felux opened #133 "path substitutions in diagram block macro doesn't work"
Hello,
in Asciidoctor it is possible to split a document into several files with the include directive.
The following code snippet illustrates what I mean:

[code]

Now I wanted to apply this approach to some plantuml diagrams as follows:

[code]
Unfortunately, this produces the following error in the Windows PowerShell:

[code]

It seems that the `{umldir}` is not substituted with `include/uml`.

[2016-12-19 14:09] pepijnve commented on #133
This is easy enough to do; just want to check with @mojavelinux how this should work before making any changes.

@mojavelinux whose responsibility is it to perform this substitution? asciidoctor itself or the extension handling the target value? What about other attribute values? Should subs be applied to those as well?

[2016-12-19 17:58] mojavelinux commented on #133
Performing substitution on the macro target is up to the extension. That way, the extension is aware of the whole context and can do extra magic if necessary. (In the future, we could consider making automatic substitutions a setting in the extension DSL).

Here's the line I use for the media macros (like image, video, etc):

[code]

[2016-12-19 17:59] mojavelinux commented on #133
If you'd like an enhancement to the DSL, feel free to propose in core.

[2016-12-20 09:26] pepijnve commented on #133
I don't think there's a need for changes in the DSL. Just wanted to check what the division of responsibilities is supposed to be before making changes.

[2016-12-24 01:19] mrueg opened #134 "Please tag v1.5.2"
Tag is missing for this version.

Thanks!

[2016-12-28 13:50] timofonic commented on #93
Any news? What's this ImageMagick vs GraphicsMagick? It looks FFmpeg vs
Libav, but FFmpeg finally succeeded.

2016-01-21 21:01 GMT+01:00 Pepijn Van Eeckhoudt <notifications@github.com>:

[2016-12-28 14:01] timofonic commented on #93
What about this tool?
https://github.com/minimagick/minimagick

2016-12-28 14:50 GMT+01:00 timofonic timofonic <timofonic@gmail.com>:

[2016-12-28 14:06] pepijnve commented on #93
@timofonic not sure what you're asking here. The meme extension is already implemented. It currently depends on the imagemagick `identify` and `convert` tools.
Graphicsmagick is a fork of imagemagick that supports a different CLI interface. It's not supported at the moment.

[2017-01-02 20:17] pela9 opened #135 "blockdiag with pdf output"
I've tested asciidoctor-diagram and blockdiag (png output) to produce PDF document via docbook and dblatex.  Unfortunately the font rendering in the produced document is too bad to be usable.

But blockdiag can produce images in pdf-output if installed with the pdf option, e.g.
      pip install "blockdiag[pdf]"
The installed program can then be used like:
      blockdiag -Tpdf test.txt

This outp

[2017-01-03 08:35] pepijnve commented on #134
Forgot to push the tags to GitHub. Thanks for the reminder.

[2017-01-03 08:35] #134 closed

[2017-01-03 21:55] pepijnve commented on #135
I've added PDF output support for the blockdiag family of tools and graphviz. Did some quick tests with the docbook5 backend and dblatex. This seems to produce the type of results you're looking for.

[2017-01-03 21:55] #135 closed

[2017-01-03 22:13] #133 closed

[2017-01-03 22:13] #124 closed

[2017-01-03 22:32] pela9 commented on #135
Thanks!

[2017-01-05 14:55] pepijnve opened #137 "Shrink plantuml jar"
PlantUML is a pretty heavy dependency to embed in the asciidoctor-diagram gem. The asciidoctor-diagram gem is currently about 5M in size of which only 256K is asciidoctor-diagram itself.

To shrink things down a bit I'm considering the following

1. Compress the plantuml jar using Pack200 compression. I'm not sure how to handle decompression of the pack200 file yet. At first I thought of abusing e

[2017-01-05 14:56] pepijnve commented on #137
@mojavelinux do you reckon this is worthwhile? Any thoughts on where to put the extracted pack200 file? Pack200 files can not be loaded by the JVM directly so extraction is required.

[2017-01-09 18:36] basejumpa opened #139 "Add Powerpoint support using Apache POI (Need hints before I implement it)"
I could need some hint before I start the implementation and a pull-request for using **Powerpoint** diagrams directly as shown below.

The extension would wrap the command line tool [PPTX2PNG](http://poi.apache.org/slideshow/xslf-cookbook.html#PPTX2PNG) being part of the [Apache POI](http://poi.apache.org).

## Question-1
My **question** is whether I should use as a blue-print for my extension ..

[2017-01-09 19:17] pepijnve commented on #139
Q1: the plantuml approach with the Java daemon was put in place for performance reasons. Spawning a new JVM instance per diagram is fairly slow. To avoid that cost a single JVM instance is launched and used for all plantuml (and ditaa) diagrams. The downside of this approach is that we need to bundle all the required JAR files in the gem itself which makes the entire gem pretty big. Issues #67 and

[2017-01-11 10:25] wimalopaan opened #140 "Wrong format selection for graphviz blocks"
Recently the behaviour of graphviz generated images changed. Since recently the generated images were in svg format. Now I have to specify the format explicitly (see example: first block).

If I omit the format specifier, I get an pdf image, but that cannot be included into the html !?

[code]

[2017-01-11 11:12] pepijnve commented on #140
Oops. That's an accidental side effect of #135. I'll get this fixed asap.

[2017-01-11 12:21] pepijnve commented on #140
@wimalopaan are you sure the default was SVG? As far as I can tell it used to be PNG.

[2017-01-11 13:02] wimalopaan commented on #140
No, not sure. But it was definitely not pdf!

[2017-01-11 13:06] #140 closed

[2017-01-11 13:11] pepijnve opened #141 "Allow blockdiag font path to be specified"
In certain situations blockdiag can fail to find fonts on the filesystem. In that case the font path needs to be specified on the command line in order for blockdiag to work correctly.

This issue is related to #70. Issue #70 is about font styling in diagrams in general. Fixing this issue will enable styling for blockdiag diagrams, but that is not the main goal. The goal is to make blockdiag funct

[2017-01-14 11:24] #141 closed

[2017-02-10 17:28] smvoss commented on #110
Today I came across the use case that I may not want to generate the files into the same directory that my other images are in, ex:

[code]

However, I have no way to tell asciidoctor-diagram where to look for the generated files, and it will look in `imagesdir` with no way to change it for generated blocks.

This comes into play where we are using git lfs to keep track of our static files, but st

[2017-02-26 00:22] raghur opened #143 "Feature request: Is there a way to support data uri format (base64 encoded image) for HTML output?"
As the title says - it would be nice to have a self contained document as an option with the image being in inline `<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIA..." />`

[2017-02-26 01:50] mojavelinux commented on #143
Have you tried adding the `data-uri` attribute to the document header?

[code]

[2017-02-26 03:08] raghur commented on #143
Awesome... Thanks.

[2017-02-26 03:08] #143 closed

[2017-03-02 13:12] jvmlet opened #144 "Loading diagrams from external files always treats target as relative path"
According to the [documentation](https://github.com/asciidoctor/asciidoctor-diagram/blob/master/examples/features.adoc#loading-diagrams-from-external-files), the absolute path should be respected, but target is always treated as relative to doc directory, as a result the target is not found:

[code]

gradle script:

`
asciidoctor {
    attributes  'dotdir': project.projectDir.absoluteFile
}
`

Err

[2017-03-02 19:57] mojavelinux commented on #144
I think the problem is the leading `$` before `{dotdir}`. Attributes in AsciiDoc do not have a leading `$`. This is confusing the path resolver.

[2017-03-05 09:44] jvmlet commented on #144
Thanks, @mojavelinux , my fault, too much SpEL.

[2017-03-05 09:44] #144 closed

[2017-03-06 08:54] tigger commented on #139
I would like to add some additional feature request here. Specifying not only a slide, but a shape in a slide, e.g. a rectangle or a group, would be quite helpful:

[code]

(slide could be optional, if the name is of the shape is unique)

[2017-03-06 09:46] mojavelinux commented on #139
I like the idea, but I worry that this expands the scope of Asciidoctor Diagram too much. Perhaps we should have a separate extension for drawing tools, something like asciidoctor-draw (playing off of the name OpenOffice Draw). wdyt?

[2017-03-11 22:50] nbkolchin opened #145 "Incorrect caching of 'meme'"
demo-meme-bug.adoc:
[code]

[code]
And actual image in output is replaced with `Failed to generate image: no implicit conversion of nil into String` line.

[2017-03-13 19:33] #145 closed

[2017-03-28 07:36] di97mni opened #146 "Mermaid participants generates duplicates"
From the [docs](http://knsv.github.io/mermaid/#alt33)

rendered in order of appearance in the diagram source text. Sometimes you might want to show the participants in a
different order than how they appear in the first message. It is possible to specify the actor's order of
appearance by doing the following:

This
[code]

generates this

![image](https://cloud.githubusercontent.com/assets/311406/

[2017-03-28 07:59] pepijnve commented on #146
@di97mni asciidoctor-diagram is only a passthrough layer. This is a question for the Mermaid community, so you should ask that in the issue tracker of that project (https://github.com/knsv/mermaid/).

[2017-03-28 07:59] #146 closed

[2017-04-08 19:55] puffybsd opened #147 "Add additional jars to support svg and math output for plantuml, and upgrade plantuml."
I've created a corresponding pull request that includes the jar files and the relevant licenses.  Details will be included in pull request.

[2017-04-16 13:47] #147 closed

[2017-04-17 22:49] jniggemann opened #149 "blockdiag: can't create rackdiag diagram"
What's wrong with the following minimal example:
[code]

The reproduceable error message is `asciidoctor-diagram: ERROR: Failed to generate image: blockdiag3 failed: ERROR: Got unexpected token at line 2 column 4`

I use
* Debian Jessie
* Asciidoctor 1.5.4 [http://asciidoctor.org]
Runtime Environment (ruby 2.1.5p273 (2014-11-13) [x86_64-linux-gnu]) (lc:UTF-8 fs:UTF-8 in:- ex:UTF-8)
* asciidoctor-d

[2017-04-18 05:51] pepijnve commented on #149
You should use block type `rackdiag` Instead of `blockdiag`. In general for diagrams from the blockdiag family, you should use the same name as the corresponding CLI tool that can process the diagram.

[2017-04-18 05:51] #149 closed

[2017-06-21 11:33] tYYGH opened #150 "Cygwin and UTF-8 in diagrams"
Hi! I use asciidoctor in Cygwin. All files are UTF-8, and all is working fine for pure asciidoc. But asciidoctor-diagram somehow fails to manage UTF-8 characters:

[code]
![diag-3e4f4c2390f3147eff18a6469397e2d0](https://user-images.githubusercontent.com/5556825/27381973-24f6f1c4-5685-11e7-9a37-49da086394d5.png)

Judging by the number of rectangles, the number of characters is right (ie. asciidocto

[2017-06-21 13:12] pepijnve commented on #150
Unicode should work correctly but I've seen issues with cygwin in the past. I did a quick check using your example in a unit test. Works correctly on macOS.
![diag-780be31f6c80a701af5550da6e2df5d0](https://user-images.githubusercontent.com/225326/27385743-f10af09a-5693-11e7-93da-8e39b9d69feb.png)

I'll try to find some time to test on windows with cygwin asap.

[2017-07-04 13:19] tYYGH commented on #150
Might be related to #151 (although I do not use the Java version…)

[2017-07-05 18:26] mojavelinux commented on #150
@tYYGH That is correct. Asciidoctor assumes input is UTF-8, and this carries over to extensions as well. Some systems don't default to UTF-8. In fact, that is the case here:

The -D flag forces Java to assume the input is UTF-8 (which it should if the goal really is run anywhere).

Why there are systems that don't default to UTF-8 is beyond me.

This flag should definitely be enabled.

[2017-07-06 14:57] pedro-girao opened #152 "plantUML ParticipantPadding and BoxPadding skinparams not working"
Hello!

I think the title says it all.
In other words, given the sequence diagram example provided in the PlanUML page:

[code]
Using asciidoctor diagram the boxes are generated with the same size and always at the same distance, whatever the values given to ParticipantPadding and BoxPadding. Even tried to put them in a config.txt file and use it, but it yelds the same result.

Are these skinparam

[2017-07-06 18:42] pepijnve commented on #152
Everything in the block is passed on to PlantUML as is, so there's no inherent reason why these would not work. Perhaps these were introduced in a more recent version of PlantUML than the one that's included in asciidoctor-diagram?

[2017-07-06 18:44] pepijnve commented on #150
This shouldn't matter for asciidoctor-diagram specifically though since it doesn't use the default encoding anywhere. I just checked the Ditaa integration code and as far as I can tell that's dealing with Unicode correctly as well; no default encoding assumptions.
I haven't been able to reproduce the issue so far, but perhaps by setting the default encoding to something different than UTF-8 I'll b

[2017-07-06 18:47] pepijnve commented on #150
Yep, that did the trick. Forcing the default encoding to ISO-8859-1 gave me this as a result. The fix for #151 is one possible solution, but I would prefer that the code is not dependent on this kind of external parameter value. I'll see if I can find another way to resolve this.
![diag-780be31f6c80a701af5550da6e2df5d0](https://user-images.githubusercontent.com/225326/27927484-32e85cba-628c-11e7-9

[2017-07-06 21:22] pepijnve commented on #150
Turns out Ditaa was doing some rather odd processing to the input data. I updated the Java code to not trigger that code path which fixes the problem. And it's a little bit more efficient as well.

[2017-07-06 21:23] #150 closed

[2017-07-06 21:24] pepijnve commented on #73
Pretty sure this was fixed by fixing #150.

[2017-07-07 09:28] pedro-girao commented on #152
Yes you're right! I replaced the plantuml.jar with the most recent one and it worked just fine.
Should it be updated with the new jar?

[2017-07-07 14:35] tYYGH commented on #150
Thank you pepijnve.
You say you updated the _Java_ code. What about ruby? I am using the command-line asciidoctor tool, not the Java version…

[2017-07-07 18:21] pepijnve commented on #150
Ditaa is a Java library. The Ruby part of asciidoctor-diagram calls it indirectly using some additional Java code that provides a uniform interface to the Ruby code for both Ditaa and PlantUML. It's in this integration layer that I made some changes. This integration layer is used both when using MRI or JRuby.

[2017-07-13 07:45] robertpanzer opened #154 "AsciidoctorDiagram doesn't work with Asciidoctor 1.5.6"
Rendering a document containing a diagram with Asciidoctor 1.5.6 and Asciidoctor-Diagram 1.5.4 fails with a Nil error unless substitutions are explicitly defined for that block.
This is because https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/extensions.rb#L410-L417 returns nil instead of an empty list.

To reproduce try to render this document with Asciidocto

[2017-07-13 09:22] mojavelinux commented on #154
We've identified the problems upstream. It is safe to say that Asciidoctor 1.5.6 requires Asciidoctor Diagram 1.5.5 (the next release).

[2017-07-13 18:16] mojavelinux opened #157 "Add build job that runs against Asciidoctor master"
Add a job to the build that runs against the master branch of Asciidoctor core. This will allow us to discover incompatibilities immediately, when there is still time to fix them, instead of waiting for a release, when it's too late.

One this is set it up, we can add the asciidoctor-diagram repository to the list of dependent projects so that the build is triggered automatically whenever a change

[2017-07-13 19:25] #154 closed

[2017-07-13 20:11] pepijnve commented on #157
@mojavelinux on Travis the test suite is now run against the latest released version of Asciidoctor and against master. The JRuby runs with master have issues now though. I think that's due to the Asciidoctor gemspec. Could you have a look at this? See https://travis-ci.org/asciidoctor/asciidoctor-diagram/jobs/253360783 for an example.

[2017-07-13 20:19] mojavelinux commented on #157
Oh, perfect! Would you like me to trigger the build when a change is pushed to the master branch of Asciidcotor core?

FYI, this entry from Gemfile.master:

[code]

can be simplified to:

[code]

[2017-07-13 20:29] pepijnve commented on #157
The longer style is intentional. The builds are still running against Ruby 1.8 so I'm stuck with the old style named parameter syntax. The `github` option is actually advised against in the bundler docs for the time being.

Any idea what might be causing the jruby issue?

[2017-07-13 20:35] mojavelinux commented on #157
Gotcha.

Stay tuned. I'm trying something.

[2017-07-13 21:13] mojavelinux commented on #157
Okay, here's the fix.

https://github.com/asciidoctor/asciidoctor-diagram/pull/158

I think the problem was that:

a) gemspec needed to come first in the Gemfile

b) the BUNDLE_GEMFILE environment variable is more reliable when working with multiple gemfiles because it works with bundle exec

I also added a single build against master since it probably isn't necessary to run all the RVMs. But you

[2017-07-13 21:13] mojavelinux commented on #157
With that in place, I'll update Asciidoctor core to trigger a build against Asciidoctor Diagram.

[2017-07-14 06:54] robertpanzer opened #159 "Asciidoctor-Diagram fails on JRuby"
I just tried to build a new AsciidoctorJ diagram.
But it doesn't generate a diagram and just emits this message:
[code]
Same for plantuml.

I couldn't reproduce it running the pure Ruby version.
I also got it working if I change `java.rb` to always behave like running on a native Ruby:
[code]

[2017-07-14 06:57] mojavelinux commented on #159
Do you think this is due to a change in Asciidoctor Diagram? In other words, does it work with Asciidoctor 1.5.5 and Asciidoctor Diagram 1.5.5? Or is Asciidoctor Diagram 1.5.5 not working in general?

[2017-07-14 07:22] mojavelinux commented on #159
It would appear to have something to do with this:

https://github.com/asciidoctor/asciidoctor-diagram/commit/538662b794475c485bdf14e3cf6ecf7c5634f659

But that's just a hunch.

[2017-07-14 07:22] robertpanzer commented on #159
I just ran it with asciidoctor 1.5.5 and asciidoctor-diagram 1.5.5 and it worked fine.
Something must be different on the Java path.

[2017-07-14 07:26] mojavelinux commented on #159
Actually, I ran it with Asciidoctor 1.5.5 and Asciidoctor Diagram 1.5.5 and it failed in the same way. So I don't think this has to do with the Asciidoctor core upgrade.

[2017-07-14 07:28] robertpanzer commented on #159
Oh. I ran it on a Ruby 2.4.0:
[code]
You didn't by any chance run on a jruby?

[2017-07-14 07:29] mojavelinux commented on #159
Sorry, I meant to say that I ran the AsciidoctorJ test suite with Asciidoctor 1.5.5 and Asciidoctor Diagram 1.5.5 and it failed in the same way as using Asciidoctor 1.5.6.

[2017-07-14 07:30] mojavelinux commented on #159
It works if I use JRuby from the command line using Asciidoctor 1.5.6 and Asciidoctor Diagram 1.5.5.

[2017-07-14 07:30] robertpanzer commented on #159
Ah, ok :)

[2017-07-14 07:33] mojavelinux commented on #159
My next guess is that it isn't working when bundled in the jar (which is what you seemed to have been suggesting).

[2017-07-14 07:35] mojavelinux commented on #159
Yep, if I make the distribution, then use the asciidoctorj command, I get the same error as in the test suite. So the issue seems to be when it is bundled in a jar.

[2017-07-14 07:41] robertpanzer commented on #159
Hm.. Then I have no clue what could have gone wrong.
Even the hashes of the ditaa jars are the same.

[2017-07-14 07:43] mojavelinux commented on #159
Right, but there are new jars and asciidoctor-diagram-java was replaced with server. So clearly what is happening is the server is not starting...because the path is actually a URL path that is not resolving.

[2017-07-14 07:43] mojavelinux commented on #159
I say clearly, but I clearly don't know how that actually works ;)

[2017-07-14 07:49] mojavelinux commented on #159
For what it's worth, the graphviz integration works. So we just need to figure out why the command server isn't running when the gem is loaded from the jar classpath. Hopefully Pepijn knows ;)

Pepijn, to test, just clone Asciidoctor:

[code]

Then update the version of Asciidoctor in build.gradle from 1.5.5 to 1.5.6. Then update the version of Asciidoctor Diagram in asciidoctorj-diagram/gradle.pr

[2017-07-14 07:57] robertpanzer commented on #159
Tried to look into the server, but it seems like asciidoctor-diagram-java is not the current location of that code.

[2017-07-14 10:52] pepijnve commented on #159
Let me help you out with your detective work :)
There was a change between .5 and .6 in how the Java code is structured. There are three jar files now, server-<version>.jar, ditaa-<version>.jar and plantuml-<version>.jar. Those all need to be on the class path in order for things to work correctly.
The jruby tests are passing so I'm not sure what's wrong right away. I don't think the gemspec is wr

[2017-07-14 11:18] robertpanzer commented on #159
Cool, thank you!
If I understand it correctly and my brain doesn't trick me, I'd say that these jars are currently NOT part of the classpath, but they are inside the classpath.
(Meaning jars inside a jar or jars on a path that is on the classpath)

Are that generators recognized as Service implementations of org.asciidoctor.diagram.DiagramGenerator?
If this is the case I could probably collect the

[2017-07-14 12:05] pepijnve commented on #159
Exactly, I modularised the code a little bit using ServiceLoader and friends. There are two implementations, one for Ditaa and one for PlantUML. The longer term goal is to make it possible to only depend on the minimum set of code needed for the diagram types you want to use. See the multigem branch of asciidoctor-diagram for details.

The classpath is built identically for the MRI and JRuby case

[2017-07-14 13:11] pepijnve commented on #159
Just double checked the gem packaging. The jars are all in the lib directory where they should be in the gem itself. Does asciidoctorj do any repackaging of the gem?

What also might be going wrong (but I don't understand why) is that the services are loaded too early for some reason when the implementation jars are not yet part of the classpath. The set of implementations is only loaded once in a

[2017-07-14 13:20] robertpanzer commented on #159
Don't worry.
I have a better understanding now and know  what to look for.
Thanks for the help!

Pepijn Van Eeckhoudt <notifications@github.com> schrieb am Fr. 14. Juli
2017 um 15:11:

[2017-07-14 18:22] robertpanzer commented on #159
Just tried to only add the services file to asciidoctorj-diagram and (as nearly expected) it fails with a ServiceConfigurationError because the service implies cannot be found.
I probably have to unpack the nested jars and merge the services files.
Closing this issue now as it is not really a problem of this project.

[2017-07-14 18:22] #159 closed

[2017-07-14 22:21] mojavelinux commented on #159
ooooh, this is interesting ;) I like. I can see asciidoctor-diagram-plantuml not only easier to consume, but likely to become a lot more popular for people searching. Nice.

[2017-07-14 22:27] mojavelinux commented on #159
So here's the razor's edge. JRuby executed as a top-level Ruby runtime loads gems differently than Java running Ruby in embedded mode.  To use gems in embedded mode, they have to be repackaged as jar files, and they are loaded through the classpath mechanism.

But I don't think that's something the main Asciidoctor Diagram should have to worry about. That's where the test suite in AsciidoctorJ Dia

[2017-07-14 22:28] mojavelinux commented on #159
And thanks for your input, @pepijnve!

[2017-07-15 05:39] robertpanzer commented on #159
I just wonder though why JRuby apparently loads the server.jar but doesn't
"see" the other jars.

I'll also search in this direction.

Dan Allen <notifications@github.com> schrieb am Sa. 15. Juli 2017 um 00:28:

[2017-07-15 06:06] mojavelinux commented on #159
That's exactly what I was wondering too.

[2017-07-15 06:10] robertpanzer commented on #159
Maybe the jars aren't on the TCCL (that's what ServiceLoader.load() uses by
default).
I'll check what's happening.
Maybe there's another solution that is not as brutal as repackaging the
jars.

Dan Allen <notifications@github.com> schrieb am Sa. 15. Juli 2017 um 08:06:

[2017-07-16 17:13] robertpanzer commented on #159
Seems like it's working correctly if I set the current JRubyClassLoader as the TCCL when rendering the document.
Created asciidoctor/asciidoctorj#563 to fix this.

[2017-07-18 08:53] tYYGH commented on #150
Awesome! After gem update, it now works perfectly.

[2017-07-18 22:44] mojavelinux commented on #150
Awesome news! Thanks Pepijn!

[2017-07-21 00:36] mojavelinux commented on #157
Enabled! See https://github.com/asciidoctor/asciidoctor/blob/11eaf590d4ed2eceb5003e94de69791f025736d2/Rakefile#L142

[2017-07-21 00:36] #157 closed

[2017-07-21 00:52] mojavelinux commented on #157
Technically, you don't need this line:

[code]

Travis guarantees that bundler is present when using the ruby image.

[2017-07-21 06:47] pepijnve commented on #157
I know. This is intended to update bundelt to the latest version.

[2017-07-21 21:56] mojavelinux commented on #157
Got it.

[2017-08-10 05:30] msgilligan opened #160 "Ability to set diagram output format (PNG vs SVG) via a document attribute"
I want to have SVG output when built via Gradle, but when editing in IntelliJ I have to use PNG for preview mode to work. So I'm trying to do something like this:

    :pumloutformat: png
    ifeval::[{env}!=idea]
    :pumloutformat: svg
    endif::[]

    plantuml::uml/entities.puml[format='{pumloutformat}', alt="Entity Relationships"]

I spent some time Googling and reading docs and can't see a

[2017-08-10 09:10] pepijnve commented on #160
I've added a test case for this. Attribute reference substitution in the format attribute seems to work correctly there. No idea why this isn't getting picked up. What behaviour are you seeing? Are you always getting PNG output or are you getting errors?

[2017-08-10 09:27] msgilligan commented on #160
I'm getting errors in the Gradle build (.svg file not found). Note that I was using single quotes, not double quotes. I'll try again soon and give you updated info. Thanks for adding the test case!

[2017-09-01 20:15] rdmueller commented on #139
would be a nice feature.
I've implemented such a feature a bit different (and not very clean) in docToolchain. Maybe my thoughts are helpful to you:

https://github.com/rdmueller/docToolchain/blob/master/build.gradle#L208
https://github.com/rdmueller/docToolchain/blob/master/scripts/exportPPT.vbs

The gradle build invokes a .vbs which searches for .pptx files and exports all slides as images and i

[2017-09-01 20:32] rdmueller opened #161 "release 1.5.4.1 seems to cause problems with reveal.js backend"
I use the asciidoctor reveal.js backend to generate presentations and today I noticed that when I use asciidoctor-diagram v 1.5.4.1, the output is broken (background images don't work for instance).

v 1.5.4 works fine.

I tried to find the reason by diffing the two version, but it somehow doesn't make sense...

PS: I use the asciidoctorj-version

[2017-09-05 07:30] rdmueller commented on #161
I guess it is related to this issue
https://github.com/asciidoctor/asciidoctor-reveal.js/issues/132

and might be resolved by now. I will retest it asap

[2017-09-05 07:51] mojavelinux commented on #161
I'm definitely interested to know what's going on. If core did break Asciidoctor Diagram, that means an additional test is needed.

[2017-09-06 18:16] pepijnve commented on #161
@rdmueller I did a quick test with this `Gemfile.lock`.

[code]

and this input document

[code]

Then I ran `bundle exec asciidoctor-revealjs -a revealjsdir=https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0 -r asciidoctor-diagram presentation.adoc`. The end result was a working presentation. Not sure what's going wrong for you since things seem to work correctly for me. Perhaps this is an is

[2017-09-06 19:46] rdmueller commented on #161
sorry, I am not a ruby guy. I used the asciidoctorj versions together with gradle.

Here is my input file:

[code]

the image should be displayed as background, but was displayed as a normal image with v1.5.4.1 .
Maybe my input file is not clean, but the simple switch of the version changed the output in my (rather large) example.

sorry, but I currently lack the time to come up with a proper exam

[2017-09-06 19:57] pepijnve commented on #161
Your example has me a bit confused. There's nothing in there that involves asciidoctor-diagram. What makes you think 1.5.4.1 is causing this?

[2017-09-06 20:14] mojavelinux commented on #161
Aha. I see what's going on now. There was a change in core that broke this
feature in the reveal converter. There is a fix for it in the master
branch. (If you want to stay on a release of the reveal converter, you have
to set the Asciidoctor version to 1.5.5).

The fact that the image was a diagram was a red herring. That had nothing
to do with this problem.

On Sep 6, 2017 1:57 PM, "Pepijn Van E

[2017-09-06 20:17] pepijnve commented on #161
Ok, so the root cause is indeed asciidoctor/asciidoctor-reveal.js#132. as @rdmueller stated. I'm going to close this issue since no further action is required in this project.

[2017-09-06 20:17] #161 closed

[2017-09-06 20:21] mojavelinux commented on #161
+1

Sorry for the noise.

[2017-09-06 23:11] rdmueller commented on #161
yes, sorry for the noice and thanx for the help!

[2017-09-07 07:02] pepijnve commented on #161
No worries. Glad we got to the bottom of it.

[2017-09-14 08:15] pepijnve commented on #152
This was fixed in 1.5.5

[2017-09-14 08:15] #152 closed

[2017-09-14 08:17] pepijnve opened #163 "Add support for mermaid.cli"
The mermaid CLI has been giving import errors since 7.0.12 and has been removed entirely in 7.1.0. It was replaced by the mermaid.cli package which provides the `mmdc` command. Unfortunately the supported command line parameters are completely different.
See if there's a way to add support for `mmdc` as well while still retaining backwards compatibility with the set of block attributes that the me

[2017-09-14 12:52] Smolli opened #164 "enable numbered captions for generated diagrams"
Diagrams should also output the figure caption, so all diagram captions start with (e.g. _Figure 1._). Basically it's the same like inculding the generated SVG or PNG file via the `image::` macro.

Example:
`.Specific caption`
`plantuml::diagram.puml[format="svg"]`

outputs:
\<graphic>
Specific caption

`.Specific caption`
`image::diagram.svg[]`

outputs:
\<graphic>
Figure 1. Specific caption

[2017-09-14 13:11] pepijnve commented on #164
@Smolli I've tried to reproduce this but I haven't been successful.

[code]

run through `asciidoctor -r asciidoctor-diagram test.asciidoc` results in this for me

![screen shot 2017-09-14 at 15 12 02](https://user-images.githubusercontent.com/225326/30431506-07e427ba-995f-11e7-8f79-9ee5e49f81f5.png)

[2017-09-14 13:18] pepijnve commented on #164
Note that generating the captions is actually not handled by the extension itself, asciidoctor core does that. The extension converts the plantuml block or block macro to an image block and then passes that on to core which generates the caption for it.

[2017-09-14 13:26] Smolli commented on #164
Then, what am I doing wrong? I'm using version 1.5.6.1.

My quick example:

    .Title
    plantuml::test.puml[format="svg"]

    .Title
    image::test.svg[]

generates this:
![output](https://user-images.githubusercontent.com/8377574/30432118-f7d90190-9960-11e7-9e71-6e71dfc27ea3.png)

[2017-09-14 13:29] pepijnve commented on #164
I wish I could tell you. Perhaps this is influenced by external factors? Could you paste the complete asciidoc document and command line invocation that you're using? That will allow me to reproduce exactly what you're doing. If I get the same results as you do I can get this fixed.

[2017-09-14 13:37] Smolli commented on #164
The document above is complete. And because I'm running on Windows I'm using a Docker image (based on [this](https://hub.docker.com/r/asciidoctor/docker-asciidoctor/), I just updated some dependencied):

    FROM fedora

    ENV JAVA_HOME /jdk1.8.0_144
    ENV PATH $PATH:$JAVA_HOME/bin:/fopub/bin
    ENV BACKENDS /asciidoctor-backends
    ENV GVM_AUTO_ANSWER true
    ENV ASCIIDOCTOR_VERSION "1.5.6

[2017-09-14 13:42] pepijnve commented on #164
The backend might have something to do with it. I was testing with the HTML5 backend; you're using the PDF one. The caption is assigned to the block in the backend independent part of asciidoctor, but it might be the case that the PDF backend doesn't use this for the blocks asciidoctor-diagram is producing. That should be easy enough to figure out.

[2017-09-14 13:47] Smolli commented on #164
Calling `asciidoctor` instead of `asciidcotor-pdf` doesn't change anything. The HTML does also not contain a numbering.

    <body class="article">
    <div id="header">
    </div>
    <div id="content">
    <div class="imageblock">
    <div class="content">
    <img src="test.svg" alt="Title" width="48" height="188">
    </div>
    <div class="title">Title</div>
    </div>
    <div class="imagebl

[2017-09-14 13:58] pepijnve commented on #164
I figured out what's happening. I had accidentally tested with asciidoctor 1.5.5, while you were using 1.5.6.1. In 1.5.5 the assignment of captions to image blocks happened after extension processing (https://github.com/asciidoctor/asciidoctor/blob/v1.5.5/lib/asciidoctor/parser.rb#L913). Since 1.5.6 this is only done for image blocks, not for image blocks generated by extensions (https://github.co

[2017-09-14 14:19] pepijnve commented on #164
@Smolli The commit that's referenced above fixes this. If @mojavelinux confirms this is the correct way to fix this I'll go ahead and merge this and make a new release.

[2017-09-14 16:32] Smolli commented on #164
Thank you very much!

[2017-09-14 19:36] mojavelinux commented on #164
@pepijnve I did not mean to break this functionality. As I continue to clean up the parser, it's clear that the logic shouldn't have been where it was. I do agree the right approach is to call assign_caption from within the extension, as it should be kept with the creation of the image block. It's also safe to call it multiple times as the value is cached, so it will work fine with 1.5.5 too.

In

[2017-09-14 19:37] mojavelinux commented on #164
This problem has been reported in a couple of places now...so I'll go find those and route them to this issue.

[2017-09-14 19:47] mojavelinux commented on #160
Were you able to get this to work?

This issue made me think that perhaps it should be possible to set the output format globally. We have something similar in core for icons (`icontype`), so perhaps you can build on that terminology.

[2017-09-14 19:57] msgilligan commented on #160
I wasn't able to get it to work. I reverted everything to PNG temporarily.

[2017-09-14 20:02] pepijnve commented on #160
@mojavelinux I've added global format support in 642f17283834405088d6784e95d8b8dac62c17dc. Configurable per diagram type; overridable at the block level.

[2017-09-14 20:06] mojavelinux commented on #160
@pepijnve Perfect!

@msgilligan Does it work if you specify SVG as the format directly? I'm trying to understand exactly what doesn't work.

[2017-09-14 20:16] msgilligan commented on #160
I think the problem is getting a configuration that works in Gradle and with the IntelliJ Asciidoctor plugin. We also use the Gradle script to build both HTML and PDF. So I think I removed SVG to make previews in IntelliJ work.

[2017-09-14 20:35] pepijnve commented on #160
Can you share the gradle script (or an extract of it) that you're using? In the intellij plugin the attribute seems to be picked up correctly.

[2017-09-14 20:39] msgilligan commented on #160
I'll have to create a clone of it, because it's a closed-source project. I'll try to do it this weekend. Sorry I can't do it sooner.

[2017-09-19 14:14] naomi-owens opened #166 "PlantUML diagram hyperlinks don't work"
Hyperlinks don't appear to be working in PlantUML diagrams. According to PlantUML there is functionality for this and I believe the code below should work. The text is being formatted like a hyperlink i.e. it is blue and underlined but the link functionality isn't working.

[code]

![plantumlhyperlink](https://user-images.githubusercontent.com/1490245/30596834-3462b1a2-9d4d-11e7-8825-56bd13318462.

[2017-09-19 14:16] pepijnve commented on #166
If you use PNG as output format it's expected that this doesn't work. It might work if you use SVG output; not 100% sure. I remember this coming up before. I'll try to find the previous discussion.

[2017-09-19 14:17] pepijnve commented on #166
Issue #64 is what I had in mind.

[2017-09-19 15:15] naomi-owens commented on #166
Thanks for the quick response! PlantUml itself does work with png as can be seen [here](http://plantuml.com/link) where an `<img>` and `<map>` seem to be created. Since you advise that PNG is not expected to work this way with asciidoctor-diagram I've switched to SVG as you suggest but with no luck.

Issue [#64 ](https://github.com/asciidoctor/asciidoctor-diagram/issues/64) mentions the svg is emb

[2017-09-19 19:37] mojavelinux commented on #166
It should be possible to set the interactive or inline option on the image block, which will tell the converter to use either the object element or inline the SVG, respectively. Asciidoctor Diagram would just need to make sure it passed this option on to the block.

[2017-09-19 19:37] mojavelinux commented on #166
The Asciidoctor HTML converter does not use the `<map>` element (nor do I think it should), so using PNG won't work.

[2017-09-19 19:38] pepijnve commented on #166
Any attributes that are not consumed by the extensions are set on the resulting image block as is.

[2017-09-19 20:36] mojavelinux commented on #166
Perfect! Than it should work. Just add

[code]

[2017-09-20 15:37] naomi-owens commented on #166
Using the following code I can reference an svg that has already been created and has hyperlinks.
[code]
However how can I make a PlantUML example interactive? Should something like this work?

[code]

[2017-09-20 16:15] mojavelinux commented on #166
The first position in the block attribute list should be:

plantuml%interactive

The shorthand syntax always goes in the first position.

That's short for:

plantuml, opts=interactive

[2017-09-20 17:05] naomi-owens commented on #166
This works perfectly when published. The links don't function on the asciidoctor live preview chrome extension which had me fooled for a minute, but it works fine when I publish the .adoc to my server. Many thanks for your help.

[2017-09-20 17:44] mojavelinux commented on #166
Great news!

The AsciiDoc Preview needs to be updated to the latest version to enable this feature. That's in progress. See https://github.com/asciidoctor/atom-asciidoc-preview/pull/235

[2017-09-27 23:50] oddhack opened #167 "Add support for mscgen"
I have a bunch of MSC (Message Sequence Chart) files to include in my document, and the 'mscgen' converter installed which can turn them into SVG or other output formats. Would it be straightforward to plug a new input format into asciidoctor-diagram?

[2017-09-28 07:01] pepijnve commented on #167
Absolutely. Most of the code is shared between the various diagram types. The amount of CLI tool specific code is very small, so adding additional ones is straightforward.
First you need to create the block and block macro processors (see https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/shaape/extension.rb)
Then add a file for your new diagram type that regist

[2017-09-28 07:02] #164 closed

[2017-09-28 19:48] pepijnve commented on #167
I had some free time this evening so I went ahead and integrated support for mscgen.

[2017-09-28 19:55] oddhack commented on #167
Nice! Thanks very much - I will give it a try soon.

[2017-10-09 12:49] olivergierke commented on #120
Can you clarify on this?

I have the following:

`src/main/asciidoc/index.adoc` (using `include::models/foo/bar.uml2[]`)
`src/main/asciidoc/models/foo/foo.uml2`
`src/main/asciidoc/models/foo/bar.uml2` (using `!include foo.uml2`)

That gives me:

`cannot include …/src/main/asciidoc/foo.uml2` in the generated document but renders fine with e.g. the PlanUML Eclipse plugin. If I change the PlantUML in

[2017-10-09 14:35] pepijnve commented on #120
The current location of the test in question is https://github.com/asciidoctor/asciidoctor-diagram/blob/master/spec/plantuml_spec.rb#L179
Unless I'm mistaken it does this

- plantuml source contains `plantuml::dir/plantuml.txt`
- `dir/plantuml.txt` contains `!include list.iuml`

I just reran that test locally and afaict it's working correctly.

@olivergierke could you share the build file you're u

[2017-10-09 14:44] pepijnve commented on #120
I just added assertions and now the build broke on Travis 😄 Either I made a silly mistake or something is broken after all...

[2017-10-10 07:22] olivergierke commented on #120
Ha! Nice one. Does that mean you're good to go or would you still like me to prepare an example?

[2017-10-10 07:42] pepijnve commented on #120
A small example might still be useful. The test now fails on Travis, but passes fine locally with the exact same command. Being able to reproduce the problem on my development workstation would greatly speed up the process.

[2017-10-10 08:14] olivergierke commented on #120
I've prepared a (hopefully) minimal (enough) sample [here](https://github.com/olivergierke/asciidoctor-plantuml). I tried to strike a balance between minimalism and staying as close to my actual project in terms of setup (still is a Maven based Java project). Happy to give test builds a try if you can point me to snapshots of `asciidoctor-diagram` or the like.

[2017-10-10 08:41] pepijnve commented on #120
@olivergierke thanks for the sample. It reproduces the problem here too. Time to start debugging.

[2017-10-10 23:00] pela9 opened #168 "Scaling for blockdiag"
II use blockdiag in asciidoc sources to produce pdf images for further use in ->docbook->latex->pdf document generation.  This works great  but it would be useful if a scaling attribute could be added also for the blockdiag generator. Currently I get this effect by a hack, adding transparent nodes to the block diagram, but obviously this is kind of ugly and obucates the diagram specification.  (By

[2017-10-17 07:16] pepijnve commented on #120
@olivergierke I finally figured out what's wrong here. Your code is using an asciidoc level include. That causes the referenced file to be inlined. `include::models/bar.uml2[]` is equivalent to

[code]

the asciidoctor core does this inlining before asciidoctor-diagram even gets a chance to process the code. There is no trace left of the fact that it was included from an external file.

To make th

[2017-10-17 07:21] pepijnve commented on #120
The unit test was failing due to a typo in the test itself. The case of the filename to include was mismatched. Worked fine on mac due to HFS being only case-preserving, not case-sensitive.

[2017-10-17 07:21] #120 closed

[2017-10-17 07:46] olivergierke commented on #120
Thanks, works like a charm! I've updated the [sample repo](https://github.com/olivergierke/asciidoctor-plantuml#update) with the crucial bits of information.

[2017-10-30 21:18] athoune commented on #163
Magic appends here : https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/mermaid/extension.rb#L22

[2017-10-31 08:04] pepijnve commented on #163
Yep, that's the spot where the logic would need to go. The problem is `mmdc` doesn't support parameters like `css`, `ganttConfig`, ... Ideally I would like the underlying CLI version to be transparent to the asciidoctor-diagram user, but that might simply not be feasible.

[2017-11-01 21:22] maverickwoo opened #169 "Inconsistent caption generated for plantuml txt"
I am using asciidoctor-diagram 0b056bc with asciidoctor 20f5019, both newest master as of this writing. Consider the following `foo.adoc`, where the two diagrams differ only in the output format (png vs. txt):

[code]

In the output, we see `Figure 1. Caption of our test plantuml diagram in png` at the bottom of the png figure, and `Caption of our test plantuml diagram in txt` at the _top_ of the

[2017-11-02 09:04] pepijnve commented on #169
The difference between PNG (or SVG) and TXT output is that the former generates an image block while the latter generates a literal block. In both cases the caption (`Figure <n> `) and title (`Caption of our test ...`) attributes are assigned to the generated block in the exact same way. It's up to the backend to decide if and how these get used and that's where things start to differ. The built-i

[2017-11-02 09:04] #169 closed

[2017-11-02 13:01] vinipsmaker opened #170 "It'd be nice to have support for syntax diagrams"
Maybe [this tool](http://bottlecaps.de/rr/ui) could be used for the heavy-work.

Actually I'm filling the issue as a “reminder”. Maybe I'll have time to implement it later, maybe not, or maybe I'll convert my diagrams to flowchart diagrams.

[Currently I'm using the LaTeX's `syntax` package](https://github.com/BoostGSoC14/boost.http/blob/aab1cd45cbb21314c1945e4c74e6c941f1f58091/doc/request.tex#L3)

[2017-11-02 13:03] vinipsmaker commented on #167
Could the comment https://github.com/asciidoctor/asciidoctor-diagram/issues/167#issuecomment-332746557 be converted into a `HACKING.adoc` file and be included in the repo?

[2017-11-02 13:06] pepijnve commented on #170
I've been looking for a good syntax/railroad diagram generator for a while now. The bottlecaps one unfortunately only exists as a web service; there's no way to install it locally. The best alternative I've been able to find so far is this one https://github.com/tabatkins/railroad-diagrams

[2017-11-02 13:11] vinipsmaker commented on #170
Well, I like this tool. It's way prettier than the output of the LaTeX tool I'm currently using. Thanks for letting me know.

Is there something you don't like about this tool (given you mention that you're _still_ searching for a tool)?

[2017-11-02 13:14] pepijnve commented on #170
I was just doing a search in the python package repository to check if that tool is installable using setuptools. That search provided [Syntrax](https://kevinpt.github.io/syntrax/) as a result as well. Looks like a more polished variant of the same idea. I'll have a look at integrating that instead.

[2017-11-02 13:15] pepijnve commented on #170
Just engineering gut feeling that tells me it's not really a polished tool just yet. That and that it didn't have a command line interface yet.

[2017-11-02 13:25] vinipsmaker commented on #170
Wow, this tool looks much more polished indeed. My Google-fu sucks. I'm 🤤 imagining how my documentation could be improved by using such tools.

[2017-11-02 13:48] pepijnve commented on #170
First attempt all done. See the updated README for details on supported formats and attributes.

[2017-11-02 13:59] vinipsmaker commented on #170
Wow, that was fast. Will test soon (probably tomorrow at latest). Will try to finish current commit now so I can test this one right away.

[2017-11-02 17:49] vinipsmaker commented on #170
It's working perfectly:

![screenshot-2017-11-2 boost http](https://user-images.githubusercontent.com/865914/32341695-fadb0a6c-bfdc-11e7-883d-673e7d307a01.png)

Thanks!

[2017-11-02 17:52] pepijnve commented on #170
You're welcome. Time for a new release.

[2017-11-02 17:52] #170 closed

[2017-11-02 18:05] pepijnve commented on #170
This is included in 1.5.7

[2017-11-02 18:06] #167 closed

[2017-11-02 18:07] pepijnve opened #171 "Add HACKING.adoc with basic developer instructions"
Use https://github.com/asciidoctor/asciidoctor-diagram/issues/167#issuecomment-332746557 as a starting point

[2017-12-23 09:50] dduportal opened #173 "Importing PlantUML external file macro syntax is only using path from calling directory"
# Expected Behavior

* Given I am using the macro syntax for loading an external plantUML file (e.g. `plantuml::PATH[]`)
  - This syntax is written here: http://asciidoctor.org/news/2014/02/18/plain-text-diagrams-in-asciidoctor/#including-external-diagrams
* When I generate my document with the default HTML backoffice from another directory than the one containing my imported diagrams,
* Then I wo

[2017-12-26 20:30] #173 closed

[2017-12-26 20:30] #166 closed

[2018-01-03 13:11] dduportal commented on #173
Thanks for fixing this @pepijnve !

[2018-01-17 15:57] diguage opened #176 "How to support the mind map?"
I want to use mind map in Asciidoctor. I google it. But I did not get any information.

How to support the mind map?

[2018-01-17 16:30] pepijnve commented on #176
Mind maps (and diagrams in general) are not supported in asciidoc out-of-the-box. This add-on adds block types that allow you to embed the source code for various types of diagrams in your asciidoc document. It uses existing external tools to convert the source code into images.

At the moment there is no integration for a mind map rendering tool. Is there any tool in particular you would like to

[2018-01-31 13:11] alwyn commented on #58
Can this please be ported to work on PDF too?

[2018-02-09 08:31] robertpanzer commented on #159
Wanted to ask if there is already a version of asciidoctor-diagram that doesn't rely on the TCCL being set to the JRubyClassLoader?
It looks like the layout in Plantuml has changed significantly with the last releases and writing with a Live Preview and asciidoctor-diagram is full of surprises.

[2018-02-09 14:23] pepijnve commented on #159
No I haven't done any work in that area yet. I'm not sure what I need to change on my side to be honest. When [java_jruby.rb](https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/util/java_jruby.rb) is used, the code assumes it can `require` the jar files and that the classes in the jar files will be accessible for use after that. The alternative code path spins u

[2018-02-09 15:57] robertpanzer commented on #159
Oh, seems like I commented in the wrong place [1]
Loading the service implementations with the class loader of the CommandServer should do the trick.

[1] https://github.com/asciidoctor/asciidoctorj/pull/563#issuecomment-315969440

[2018-02-11 14:30] mguimas opened #177 "Remove unused variable "inherit_prefix""
Remove the `inherit_prefix` variable at line 22 of file `lib/asciidoctor-diagram/svgbob/extension.rb` which is giving this error:

lib/asciidoctor-diagram/svgbob/extension.rb:22: warning: assigned but unused variable - inherit_prefix

[2018-02-24 10:13] #177 closed

[2018-02-24 11:13] pepijnve commented on #163
Starting with mermaid.cli 0.2.1 (I think) the necessary CLI options became available that allow adding support for `mmdc` in a way that's backwards compatible with the old CLI interface.
I'll integrate this and add support for the extended option list that `mmdc` supports (theme, background, full config file, ...)

[2018-02-24 18:29] #163 closed

[2018-02-25 23:00] crumgary opened #179 "packetdiag ERROR: images do not match"
It looks like packetdiag has an issue with rotated text for png output but svg works.

When using the following asciidoc:

[code]

I get this error
[code]

These links seem to suggest that the issue is with pillow.
https://bitbucket.org/blockdiag/blockdiag/issues/72/rotate-not-working-with-pillow-300-and-png
https://github.com/blockdiag/sphinxcontrib-blockdiag/issues/9

As a test hack, I changed t

[2018-02-26 00:26] crumgary commented on #179
after a little more reading the docs, asciidoctor-diagram does allow for telling packetdiag to use svg,

Something like this:
[code]

[2018-02-26 00:26] #179 closed

[2018-02-26 07:05] pepijnve commented on #179
@crumgary the 2nd attribute in your example above is the attribute named `format`. All diagram blocks support this attribute. There's a [table in the README](https://github.com/asciidoctor/asciidoctor-diagram#creating-a-diagram) that lists the supported formats per diagram type.

You can set the format at the block level like you're doing, or if you can set it globally for any type of diagram bloc

[2018-03-07 09:38] MehrCurry opened #180 "asciidoctor-diagram: ERROR: Failed to generate image: can't modify frozen"
I am trying to build a presentation based on AsciiDoctor and Reveal.js

When i try to build an PlantUML Diagram, then i'll get

`asciidoctor-diagram: ERROR: Failed to generate image: can't modify frozen #<Class:#<Asciidoctor::Diagram::PlantUmlBlockProcessor:0x2b65c0ad>>`

Hier is my build.gradle

[code]

[2018-03-07 10:15] mojavelinux commented on #180
Please update asciidoctor-diagram to the latest version (1.5.8). That bug has been addressed since the version you are using.

[2018-03-07 11:59] MehrCurry commented on #180
Works! I missed that one.

Thanks

[2018-03-07 11:59] #180 closed

[2018-03-12 15:59] ydirson commented on #180
Got hit by that one... because the main page advertizes '~> 1.4.0' for gem users!

[2018-03-12 16:04] pepijnve commented on #180
I've removed the version constraint from the example `Gemfile` and update the gem version badge to a version that shows the latest version number. It's up to users to decide if and how they want to constrain the version of asciidoctor-diagram they're using.

[2018-03-28 14:28] pepijnve opened #181 "Add support for Vega and Vega-lite"
See https://vega.github.io/vega/ and https://vega.github.io/vega-lite/

[2018-04-11 05:59] mojavelinux opened #182 "Use XDG cache to store cached files"
I recently rediscovered the [XDG standard](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html), which is a standard location for where cache files are stored (particularly on Linux). I think Asciidoctor Diagram should follow this standard where possible.

The logic is pretty simple. The application directory should be created inside the directory specified by XDG_CACHE_HO

[2018-04-11 06:01] mojavelinux commented on #182
We might also consider allowing the cache to be specified explicitly using an attribute such as `asciidoctor-cachedir`. This would override the default location.

[2018-04-11 06:02] mojavelinux commented on #182
The benefit of making this change is that cache directories don't get spread all over the place, which primarily comes into place when using Asciidoctor Diagram in a site generator.

[2018-04-11 07:47] pepijnve commented on #182
I generalised this issue to one where we use the OS provided user cache directory, not just the XDG stuff on Linux.

* Linux: `$XDG_CACHE_HOME/asciidoctor/diagram`; `XDG_CACHE_HOME` defaults to `~/.cache` if not specified. See https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
* macOS: `~/Library/Caches/asciidoctor/diagram`. See https://developer.apple.com/library/content

[2018-04-11 08:01] mojavelinux commented on #182
Exactly!

[2018-04-11 09:41] pepijnve commented on #182
Couple of implementation details that need to be figured out:

- Should this only be used if the safe mode allows it? By default we'll be escaping the jail
- What do we use as cache key? At the moment the cache logic assumes it's per document and uses the image name as key. In the case of a shared cache for multiple documents we need some conflict resolution scheme.

[2018-04-18 11:12] #181 closed

[2018-04-18 11:16] pepijnve opened #183 "Add client/server support for all diagram types"
Make it possible to run asciidoctor-diagram as a diagram generating web service.
This would enable usage of the diagram extension in the browser for instance.
Very similar to what https://github.com/eshepelyuk/asciidoctor-plantuml.js is already doing, but that only supports PlantUML since it uses the plantuml server directly.

[2018-06-11 10:57] ascheman opened #184 "Rendering PlantUML legends as SVG drops colors"
With the following legend in PlantUML

[code]

I get a nice PNG but an SVG without colors (cf. attached [test-results.zip](https://github.com/asciidoctor/asciidoctor-diagram/files/2089669/test-results.zip) - Github does not allow to upload SVGs directly).

// @ahus1

[2018-06-11 11:17] pepijnve commented on #184
This is a plantuml rendering issue, not something the diagram extension controls. It's best to raise an issue in the issue tracker of that project.
If it has been fixed in a more recent version of plantuml than the embedded one, feel free to reopen this issue.

[2018-06-11 11:17] #184 closed

[2018-06-13 03:36] wjl opened #185 "Newest version of Ascii2svg needs filename after "-o" in a separate argument"
The newest version of Ascii2svg (that the author re-wrote in Go) works fine, but needs the "-o" argument needs the filename to come in another argument (not packed into the same argument). One could argue this is a bug in Ascii2svg, but since:

1) it appears to work with the old version either way, and
2) it is pretty standard to put options to arguments in a separate argument,

it might be smart

[2018-06-13 10:08] pepijnve commented on #185
I did some basic testing and it doesn't look like the old version supported splitting the `-o` (or any other parameter) and it's argument. Will need to add a version check I guess.

[2018-06-21 06:22] ascheman commented on #184
Opened issue in PlantUML Forum: http://forum.plantuml.net/7831/rendering-plantuml-legends-as-svg-drops-colors

[2018-07-10 15:21] habamax opened #186 "plantuml stdlib: include doesn't work as expected"
There is stdlib in plantuml which allows using different icons http://plantuml.com/stdlib.

With my current setup, I can generate the following diagram (from the plantuml examples):

[code]

With the command `java -jar plantuml.jar test.txt` I can see the same result as on plantuml stdlib webpage.

And here is what I try to use with asciidoctor-diagram

[code]

and it doesn't work with the error:

[2018-07-10 15:48] habamax commented on #186
It looks like for the includes which are in <stdlib form> no path resolving should be done.

[2018-07-10 16:13] habamax commented on #186
Well, I have checked the regex in `plantuml/extension.rb` file

[code]
And it looks like if I change `code.gsub!(/(?<=!include )[^!\n\r]+/)` to `code.gsub!(/(?<=!include )[^<>!\n\r]+/)` it works for me. Basically I have just added `<>` symbols to the exceptions.

I am not sure I will be able to provide a pull request though :)

Could you check it pls?

[2018-07-11 07:41] pepijnve commented on #186
I wasn't aware of this feature. Makes sense indeed, paths surrounded by `<>` shouldn't get processed. Your suggestion is in the right direction, but is slightly too coarse. It would also block resolution of any path that contains an angle bracket anywhere. `/(?<=!include\s+)[^<][^!\n\r]+/` should do the trick.

[2018-07-11 08:23] habamax commented on #186
I have applied your change and... it doesn't work for me:

[code]

If I change `(?<=!include\s+)` to `(?<=!include )` -- it works.
If I change `(?<=!include\s+)` to `(?<=!include)\s+` -- it also works.

[2018-07-11 08:34] pepijnve commented on #186
The regex in my initial comment was actually invalid. You can't use repetition in lookbehind which is why I had to use a different regex.

[2018-07-11 08:35] #186 closed

[2018-07-11 08:56] habamax opened #188 "asciidoctor-diagram does not create diagrams for docbook"
When you convert adoc files to docbook -- no diagrams are generated.

1. example `test.adoc` file:

[code]

2. asciidoctor command to convert `test.adoc` to `docbook.xml`

[code]

Adoc file is converted to Docbook but no image was generated in `image` folder.

When I convert to HTML or PDF I can see `image/stdlib1.svg` file generated.

PS
I need it to create `docx` files out of asciidoctor. I usua

[2018-07-11 08:59] pepijnve commented on #188
That's surprising. I wouldn't expect the backend to have any influence on diagram creation. To be honest I haven't used the docbook backend myself. I'll add a basic test case already to see if this is is simple to reproduce.

[2018-07-11 09:05] pepijnve commented on #188
Turns out I already had test cases that use the `docbook` backend and those tests assert that the images get created. Not sure what's going wrong right away.

[2018-07-11 09:17] habamax commented on #188
I noticed it when I did generate docbook before any other formats -- for a new file.

[2018-07-11 09:31] habamax commented on #188
and the versions are

[code]

[2018-07-11 09:39] habamax commented on #188
I tried different command and here are the results:

* `asciidoctor -r asciidoctor-diagram -o docbook.html -b html5 test.adoc` NO images
* `asciidoctor -r asciidoctor-diagram -o docbook.html test.adoc` NO images
* `asciidoctor -r asciidoctor-diagram test.adoc` IMAGES ARE THERE!
* `asciidoctor -r asciidoctor-diagram -b html5 test.adoc` IMAGES ARE THERE!
* `asciidoctor -r asciidoctor-diagram -b docb

[2018-07-11 09:47] habamax commented on #188
Basically for my needs I have fixed the workflow I have -- just don't use `-o` as it generates the filename with the same basename+new extension.

Nevertheless -- this is kind of strange behaviour of asciidoctor :)

[2018-07-23 08:06] diguage opened #189 "Add support for TikZ"
TikZiT is a powerful tool. It can draw mang mathematical diagram.

 Does AsciiDoctor Diagram support TikZiT?

TikZiT: <https://github.com/tikzit/tikzit>

[2018-07-23 08:19] pepijnve commented on #189
If I understand it correctly TikZiT is a GUI editor for tikz. The is rather coupled to latex. We could make a little latex wrapper script similar to https://gist.github.com/jbenet/9449155 to render the graphics. That basically generates a mini latex document to wrap the tikz content and then uses `pdflatex` and `pdf2svg` to generate the images. Would something like that be useful?

[2018-07-24 07:30] diguage commented on #189
@pepijnve Tikz is the tool I want to say. Sorry, I show a tool with a mistake.
If you can add the support for Tikz, it is a great news to me. Thank you very much.

[2018-07-24 09:30] pepijnve commented on #189
@diguage I've pushed a first attempt at integrating tikz support. Could you try this out? Not 100% sure how you want to use this so any feedback is welcome.

https://github.com/asciidoctor/asciidoctor-diagram/blob/master/spec/tikz_spec.rb shows an example of how you can use the integration in its current form.

[2018-08-10 16:44] hotwolf opened #190 "asciidoctor-diagram with WaveDrom CLI"
On my computer I'm able to run WaveDrom CLI, but not the regular WaveDrom Editor.  According to the readme file, I would need to set the attributes "wavedrom" and "phantomjs" to give the tool the location of my WaveDrom CLI installation. After doing so, I still get the following error:

The "WaveDromEditor" attribute is not mentioned in the readme file.  Do I need to set a different attribute for

[2018-08-11 08:48] pepijnve commented on #190
On which operatief system are you having these issue? I’ll try to reproduce this ASAP.

[2018-08-11 10:04] hotwolf commented on #190
Thanks for the fast response.
I'm using the "Windows Subsystem for Linux" (WSL) with the Debian installation.

[2018-08-11 12:46] pepijnve commented on #190
That’s an environment I havent tested yet. There are some platform specific bits in the code that might be doing the wrong thing.
Could describe in a bit more detail how you have things set up? Is ruby installed as a Debian package or in Windows. What about wavedrom?

[2018-08-11 22:08] hotwolf commented on #190
I'm using the Debian/Ubuntu packages for ruby (1:2.3.0+1), asciidoctor (1.5.4-1), and phantomjs (2.1.1+dfsg-1). I've installed asciidoctor-diagram through gem.  The Linux binaries, which are offered for download for the WaveDrom Editor did not run on my system, so I cloned the WaveDrom CLI git repository. I'm able to run the WaveDrom CLI standalone with the Ubuntu phantomjs installation.

[2018-08-12 11:16] pepijnve commented on #190
Which values are you specifying for the `wavedrom` and `phantomjs` attributes? AFAICT if those point to the executables then this should work correctly.
I'll try to reproduce this as soon as I get a chance.

[2018-08-12 17:02] hotwolf commented on #190
I've set the wavedrom attribute to the location of the "wavedrom-cli.js" script and the phantomjs attribute to the the shell script located at /usr/bin/phantomjs.

[2018-08-13 08:18] pepijnve commented on #190
I think I've figured out what the issue is. The code that tries to find external binaries checks if the target files are executable. For the wavedrom-cli.js script this is not the case and is also not necessary. This is causing the detection code to fail which makes it fall back to the generic WaveDromEditor search code.

[2018-08-13 08:26] pepijnve commented on #190
@hotwolf could you give the fix in #191 a try?

[2018-08-13 18:58] hotwolf commented on #190
I just tried #190 and got:

asciidoctor-diagram: ERROR: Failed to gen

I'll check out #191...

[2018-08-13 19:04] pepijnve commented on #190
Made a small mistake, I pushed a new commit that fixes that problem to the `issue_190` branch.

[2018-08-13 19:07] hotwolf commented on #190
I was searching for #191 : ) .

Am I doing something wrong for getting the above error with #190?

[2018-08-13 19:09] pepijnve commented on #190
#190 is the issue. #191 is the pull request. :)

No not at all, coding mistake on my part. If you checkout `issue_190` and do a pull it should work now.

[2018-08-13 19:14] hotwolf commented on #190
Now, I'm back at the previous error message:

[2018-08-13 19:14] pepijnve commented on #190
🤔 ok, I guess I'm going to have to set up a reproduction case for this one after all. Stay tuned...

[2018-08-13 19:17] hotwolf commented on #190
Making  wavedrom-cli.js executable, doesn't change anything, either. It still produces the error message:

[2018-08-13 19:19] pepijnve commented on #190
The lookup code in question is located at https://github.com/asciidoctor/asciidoctor-diagram/blob/issue_190/lib/asciidoctor-diagram/wavedrom/extension.rb#L22
Not sure it won't go in the first branch there. I'll have to create a setup similar to yours and hook up the debugger to figure this one out.

[2018-08-13 19:20] pepijnve commented on #190
BTW, if you're comfortable making some small changes, you could throw some `puts` statements in there to check what's going on. Based on the first if statement I can only conclude either phantomjs or wavedrom-cli.js are not being found for whatever reason.

[2018-08-13 19:39] hotwolf commented on #190
I"m not familiar with Ruby syntax, so I put is "puts" statements everywhere:

[code]

This is the result:

[2018-08-13 19:41] pepijnve commented on #190
Try replacing
`puts "reached: wavedrom_cli = which(parent, 'wavedrom', :raise_on_error => false, :skip_executable_check => true)"`
with
`puts "waterdrom_cli = #{wavedrom_cli}"`

and the same for phantom_js. Within double quoted strings `#{expression}` is the ruby string interpolation syntax, so the example above will print the value of the `wavedrom_cli` variable.

[2018-08-13 19:48] hotwolf commented on #190
"wavedrom_cli" is not set:

[2018-08-14 07:56] pepijnve commented on #190
Ok so resolution of the wavedrom attribute seems to be failing. The lookup code is at https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/util/which.rb#L19
Would you mind adding some `puts` output in there as well?

[2018-08-14 17:48] hotwolf commented on #190
These are the "puts" commands, that I've added:

[code]

And this is the output, they've produced:

I'm going to be offline for the next few weeks.  If you need me to try out anything else, please post it here and I'll pick it up in September.

[2018-08-16 10:35] iFwu commented on #176
A mac app with support for AsciiDoc called *Snow Flower Text* seems to support the mind map. However, it uses private lib to support it.

[2018-08-16 11:06] pepijnve commented on #190
I tried to reproduce this locally, but no success so far. I set the `wavedrom` attribute to `/usr/local/lib/node_modules/wavedrom-cli/bin/wavedrom-cli.js` and that gets picked up correctly.

This was on a mac though. I'll try this on Windows when I get a chance.

[2018-08-23 12:42] rohel01 opened #192 "Bad figure numbering when loading from external files"
Hello,

I am using Asciidoctor 1.5.4-1 with asciidoctor-diagram 1.5.9 on Ubuntu 16.04.

I have noticed figure numbering is wrong (the counter is incremented twice) when using the "load from external file" syntax. Am I doing something wrong ?

I have attached a small example to demonstrate the issue.

[example.tar.gz](https://github.com/asciidoctor/asciidoctor-diagram/files/2314432/example.tar.gz)

[2018-08-31 16:00] rohel01 opened #193 "Embedded plantuml is obsolete or allow manually providing the jar"
Hello,

The embedded plantuml JAR is 6 months old.  Over this period, significant improvements have been made to the language syntax, especially for Gantt diagrams.

Would it be possible to update the dependencies and/or allow to manually specify the used jar ?

Kind regards,

[2018-09-03 21:01] pepijnve commented on #192
Could you try again with asciidoctor 1.5.7? Seems to work fine for me with that version.

[2018-09-05 21:12] ahus1 opened #194 "When using JRuby: warning: instance variable @loaded not initialized"
I'm using asciidoctor-diagram-1.5.9 with JRuby and I get the following warning:

uri:classloader:/gems/asciidoctor-diagram-1.5.9/lib/asciidoctor-diagram/util/java_jruby.rb:10: warning: instance variable `@loaded` not initialized

Should the variable `@loaded` be initialized in this file?

[2018-09-06 07:37] pepijnve commented on #194
The code still uses the bad practice of lazily defining instance variables on first use. The code works correctly, but you get this (harmless) warning as a consequence.
`@loaded` should be initialised to `false` to silence this.

[2018-09-06 18:36] ahus1 commented on #194
I'm currently integrating the latest version of asciidoctor and asciidoctor-diagram into the [IntelliJ Asciidoctor plugin](https://github.com/asciidoctor/asciidoctor-intellij-plugin). The warning appears in the IDE's console when you use an Asciidoctor Diagram the first time in a session.

I would be thankful if someone with more Ruby knowledge could lend a hand here to avoid this warning.

[2018-09-06 18:59] pepijnve commented on #194
@ahus1 this needs to be fixed in the code. Just haven't gotten round to it yet.

[2018-09-07 19:47] #193 closed

[2018-09-07 19:48] #194 closed

[2018-09-10 07:36] rohel01 commented on #193
Thank you !

Le ven. 7 sept. 2018 à 21:47, Pepijn Van Eeckhoudt <notifications@github.com>
a écrit :

[2018-09-16 08:50] jackorp commented on #67
Ping.. Are we any closer to resolving this? I am trying to package the asciidoctor-diagram into Fedora but the bundled jars are making things more difficult.

[2018-09-16 09:00] mojavelinux commented on #67
One possible solution to this is to continue bundling the jars in the gem, but allow the code to work if they are provided externally. That way, the rpm package can ship without the jars and the code will gracefully fallback to looking on the system for them somewhere. Perhaps an environment variable could be involved.

[2018-09-16 11:09] jackorp commented on #67
I like that solution, it will at least be a step in the right direction IMHO..
Environment variable like `ENV['RPM']` could be involved
What I thought about doing is link required packages for graph creation (ditaa, ...) into the lib. More trouble will be with packages that were created for asciidoctor-diagram e.g. server.jar which do not have rpm counterpart AFAIK.

[2018-09-17 05:34] pepijnve commented on #67
Those are an intrinsic part of asciidoctor-diagram. Why would you want to split those off?

[2018-09-17 07:10] pepijnve commented on #67
@mojavelinux Not sure what the point of that would be since they always evolve in lockstep. It would shrink the gem a teeny tiny bit, but you're trading a marginal size reduction for an increase in complexity. Doesn't feel like a worthwhile tradeoff to me. The server really isn't designed to be a standalone component at the moment; it's a tiny daemon that exists as a workaround for JVM startup per

[2018-09-17 07:27] pepijnve commented on #67
@mojavelinux thinking thinking thinking 😄 I'm a bit worried about the impact of these changes on existing deployments. We could deal with breaking changes through SemVer, but personally I don't think that's very kind to existing users.

What we could do is the following gem split/reorganisation:

- asciidoctor-diagram-core: no external dependencies whatsoever. Ships with ditaa and plantuml extensi

[2018-09-17 17:04] jackorp commented on #67
The packaging guidelines strictly forbid pre-built deps. For reference, see [java packaging guidelines](https://fedoraproject.org/wiki/Packaging:Java?rd=Packaging/Java#Pre-built_dependencies), there must be none pre-built `*.class` and `*.jar` included in package from not only legal reasons.

The package split looks interesting, if the core would be composed of ruby only and then use user provided

[2018-09-18 01:13] msgilligan opened #195 "Support for PlantUML "newpage" command"
I'm creating a Use Case diagram with PlantUML inside an Asciidoctor document (I'm using inline Asciidoctor). When I use the `newpage` command I was hoping that the diagram would be split into two parts (pages) but still displayed as part of the same image in the rendered Asciidoc.

I don't want to duplicate the Actor and Use Case definitions in two separate diagrams. I'm willing to put the PlantUM

[2018-09-29 05:07] hcoona opened #196 "Add Homebrew fomular"
I'd like to have `asciidoctor-diagram` in Homebrew fomular just like `asciidoctor`

[2018-09-29 07:37] mojavelinux commented on #196
I support this idea. It could really simplify installation. Would you be willing to contribute the formula (or at least get started)?

[2018-09-29 08:15] hcoona commented on #196
I tried by modify `asciidoctor` fomular but failed to get it work. I think we need somebody familiar with the Homebrew gem mechanism.
https://gist.github.com/hcoona/e24394c3501e70513fcc57860b980f3a

[2018-09-29 08:35] mojavelinux commented on #196
Can you be more specific about what didn't work?

[2018-09-29 17:50] brtjdcole opened #197 "Can't Specify Default Image Format for Blocks"
I'd like to specify SVG as the default image rendering format for all my diagrams so I don't have to worry about selecting the /right/ resolution for images. Can't find a way to do this. From the look of it, Diagram extensions only respect `:pos_attrs` which, I assume, means the attribs must fall in the block description.

Am I missing something?

[code]
vs.

[code]

[2018-09-30 20:13] pepijnve commented on #197
To specify the default format for a diagram type you should use a document attribute of the form `<diagram-type>-format` so for graphviz `:graphviz-format: svg`. Could you give that a try?

[2018-09-30 23:58] brtjdcole commented on #197
@pepijnve That does the trick. Did I miss this in the documentation or is it standard behavior for any attributes within an extension, i.e. <extension-name>-<attribute>?

[2018-10-01 06:40] pepijnve commented on #197
It’s documented But should probably be more explicit. Here’s the bit in question from the attributes section.

[2018-10-01 06:41] pepijnve commented on #197
Redesign that sentence, it doesn’t actually make any sense. Should definitely be clarified.

[2018-10-01 07:49] mojavelinux commented on #197
You might also point out that the reason there is a dedicated attribute per diagram engine is that each diagram engine has vastly different capabilities and a one-size-fits-all attribute just wouldn't work.

[2018-10-01 15:41] brtjdcole commented on #197
Including an explicit example might be helpful as well.

Perhaps being able to set the default, currently “image”, to another format might be tenable incurring warnings when that format isn’t applicable.

In it’s current state I’ll probably just include::[] a config file in my document with the diagram formats called out explicitly.

Thanks all.

[2018-10-12 04:32] mojavelinux commented on #188
Could it be that they are just ending up in the wrong place? Here's the logic that determines the output folder to use:

https://github.com/asciidoctor/asciidoctor-diagram/blob/master/lib/asciidoctor-diagram/extensions.rb#L245-L258

[2018-10-12 05:39] mojavelinux commented on #183
Solving this would open up Asciidoctor Diagram to users of Antora, the browser extensions, and modern IDEs like Atom and VSCode. Since these tools use Asciidoctor.js, it currently puts Asciidoctor Diagram out of reach. If Asciidoctor Diagram could be used as a service, it would bridge the language gap and bring it back into play.

asciidoctor-plantuml.js is no doubt going to play an important role

[2018-10-12 06:54] habamax commented on #188
Hi @mojavelinux !

I have created a new file `testdiag.adoc`:

[code]

Then run the command
asciidoctor -r asciidoctor-diagram -o testdiag.html -b html5 testdiag.adoc

No images in html, no images in the dir where `testdiag.adoc` is located, no `qwerasdfzxcv.png` image in my home directory (recursive search).

And if I add `:imagesdir: images` option -- the same thing -- there is no `qwerasdfzxcv.